<app-banner title="Mes entreprises"></app-banner>

<section class="section section-white position-relative">
  <div class="container">
    <h4 class="text-center mb-4 font-weight-bold" *ngIf="!myAccesses?.length; else companyAccesses">
      Vous n'avez accès à aucune entreprise
    </h4>
    <ng-template  #companyAccesses>
      <div class="row">
        <div class="col-12 col-sm-6 mt-3" *ngFor="let access of myAccesses">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ access.companyName }}</h4>
              <p class="card-text">
              <dl class="row">
                <dt class="col-sm-3">SIRET</dt>
                <dd class="col-sm-9">{{access.companySiret}}</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-3">Adresse</dt>
                <dd class="col-sm-9">{{access.companyAddress}}</dd>
              </dl>
              <div class="row item pointer link" [routerLink]="['/entreprise', 'acces', access.companySiret]" *ngIf="access.level == 'admin'">
                <div class="col-12">
                  Gérer les accès
                  <i class="material-icons md-24 float-right" aria-hidden="true" title="Détail du signalement">keyboard_arrow_right</i>
                </div>
              </div>
              <div class="row item pointer link" [routerLink]="['/suivi-des-signalements', 'siret', access.companySiret]">
                <div class="col-12">
                  Consulter les signalements
                  <i class="material-icons md-24 float-right" aria-hidden="true" title="Détail du signalement">keyboard_arrow_right</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <hr/>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <a class="btn btn-primary" [routerLink]="['/entreprise/activation']">
          Ajouter une entreprise
        </a>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</section>

