@import "../../../theme/variables";

form {
  max-width: 100%;
}

.company {
  border: 1px solid #c9d3df;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
}

.link {
  color: $primary;
  cursor: pointer;
  text-decoration: underline;
}
