<form [formGroup]="searchForm" (submit)="searchCompany()" id="searchForm">
  <div class="form__group">
    <label for="searchInput">
      Veuillez identifier l'établissement concerné <span>*</span>
    </label>
    <div class="search__group">
      <ng2-completer
        [datasource]="suggestionData"
        formControlName="search"
        inputName="search"
        inputId="searchInput"
        textSearching=""
        textNoResults=""
        minSearchLength="1"
        placeholder="ex: boulangerie Sanzot Tours ..."
        (selected)="$event?searchCompany($event):{}">
      </ng2-completer>
      <button type="submit" class="overlay-button" aria-label="Recherche" [disabled]="searchCtrl.disabled">
        <svg class="icon icon-search"><use xlink:href="#magnifier"></use></svg>
      </button>
    </div>
    <div class="invalid" *ngIf="showErrors && searchCtrl.hasError('required')">
      Veuillez identifier l'établissement.
    </div>
  </div>
</form>

<form [formGroup]="companyForm" (submit)="submitCompanyForm()" id="companyForm" *ngIf="companyForm">

  <div class="notification warning mt-4">
    <span *ngIf="total === 0">
      Aucun établissement ne correspond à la recherche.
    </span>
    <span *ngIf="total > 0">
      Il y a trop d'établissement correspondant à la recherche.
    </span>
    <br/>
    Veuillez <span class="link" (click)="editSearch()">modifier votre recherche</span> ou saisir son nom et son adresse ci-dessous.
  </div>

  <div class="form__group">
    <label for="companyName">
      Nom de l'établissement <span>*</span>
    </label>
    <input formControlName="name" type="text" id="companyName" placeholder="Nom de l'établissement">
    <div class="invalid" *ngIf="showErrors && nameCtrl.hasError('required')">
      Veuillez compléter le nom de l'établissement.
    </div>
  </div>

  <div class="form__group">
    <label for="companyAddress">
      Adresse de l'établissement <span>*</span>
    </label>
    <ng2-completer
      [datasource]="addressData"
      formControlName="address"
      inputName="address"
      inputId="companyAddress"
      textSearching=""
      textNoResults=""
      minSearchLength="1"
      placeholder="numéro, voie, code postal, ville, ..."
      (selected)="selectAddress($event)">
    </ng2-completer>
    <div class="invalid" *ngIf="showErrors && addressCtrl.hasError('required')">
      Veuillez préciser l'adresse de l'établissement.
    </div>
  </div>

  <div class="text-center mt-3">
    <button class="button secondary" type="submit" id="submitCompanyForm">Valider</button>
  </div>

</form>

<div *ngIf="companies && companies.length">

  <div class="notification warning mt-4">
    Veuillez sélectionner un établissement dans la liste ci-dessous ou <span class="link" (click)="editSearch()">modifier votre recherche</span>.
  </div>

  <p *ngFor="let company of companies" class="company" (click)="selectCompanyFromResults(company)">
    <span *ngIf="company.line1">{{company.line1}}<br /></span>
    <span *ngIf="company.line2">{{company.line2}}<br /></span>
    <span *ngIf="company.line3">{{company.line3}}<br /></span>
    <span *ngIf="company.line4">{{company.line4}}<br /></span>
    <span *ngIf="company.line5">{{company.line5}}<br /></span>
    <span *ngIf="company.line6">{{company.line6}}<br /></span>
    <span *ngIf="company.line7">{{company.line7}}<br /></span>
  </p>
</div>

<ngx-loading [show]="loading"></ngx-loading>
