@import "../../../theme/variables";

form {
  max-width: 100%;
}

.company {
  border: 1px solid #c9d3df;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
}

:host /deep/ {

  .completer-holder {
    width: 100%;
    height: 100%;
  }

  .completer-dropdown-holder div {
    width: 100%;
  }
}
