<form [formGroup]="companyForm" (submit)="submitCompanyForm()">
  <div class="form__group">
    <label>
      Nom de l'établissement <span>*</span>
    </label>
    <input formControlName="name" type="text">
    <div class="invalid" *ngIf="showErrors && nameCtrl.hasError('required')">
      Veuillez compléter le nom de l'établissement.
    </div>
  </div>

  <div class="form__group">
    <label>
      Ville de l'établissement <span>*</span>
    </label>
    <ng2-completer
      [datasource]="cityData"
      formControlName="city"
      inputName="city"
      textSearching=""
      textNoResults=""
      minSearchLength="1"
      openOnClick="true"
      (selected)="selectCity($event)"
      (change)="unselectCity()">
    </ng2-completer>
    <div class="invalid" *ngIf="showErrors && cityCtrl.hasError('required')">
      Veuillez compléter la ville de l'établissement.
    </div>
  </div>

  <ng-container *ngIf="companyForm.controls['address']">
    <div class="form__group">
      <label>
        Veuillez préciser l'adresse de l'établissement <span>*</span> ou <span (click)="modifySearch()" class="link">modifier votre recherche</span>
      </label>
      <ng2-completer
        [datasource]="addressData"
        formControlName="address"
        inputName="address"
        textSearching=""
        textNoResults=""
        minSearchLength="1"
        (selected)="selectAddress($event)"
        (change)="unselectAddress()">
      </ng2-completer>
      <div class="invalid" *ngIf="showErrors && addressCtrl.hasError('required')">
        Veuillez préciser le numéro et la rue de l'établissement.
      </div>
    </div>
  </ng-container>

  <div class="text-center mt-3" *ngIf="searchEnabled">
    <button class="button secondary" type="submit">Rechercher</button>
  </div>

</form>

<div *ngIf="companies && companies.length" class="pt-3">
  <p>Veuillez sélectionner un établissement dans la liste ci-dessous ou <span (click)="modifySearch()" class="link">modifier votre recherche</span></p>
  <p *ngFor="let company of companies" class="company" (click)="selectCompany(company)">
    <span *ngIf="company.line1">{{company.line1}}<br /></span>
    <span *ngIf="company.line2">{{company.line2}}<br /></span>
    <span *ngIf="company.line3">{{company.line3}}<br /></span>
    <span *ngIf="company.line4">{{company.line4}}<br /></span>
    <span *ngIf="company.line5">{{company.line5}}<br /></span>
    <span *ngIf="company.line6">{{company.line6}}<br /></span>
    <span *ngIf="company.line7">{{company.line7}}<br /></span>
  </p>
</div>

