@import "../../../theme/variables";
@import "../../../theme/media-queries";

.footer {
  color: $white;

  @media #{$smaller-than-desktop} {
    position: absolute;
    bottom: -192px;
    width: 100%;
  }

  .container {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .brand {

    font-weight: bold;

    @media #{$larger-than-desktop} {
      font-size: 1.6rem;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .footer__social {
    margin-top: 1em;

    li {
      display: inline;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }

    .icon {
      width: 35px;
      height: 35px;
      fill: $white;
      padding-bottom: 0;
    }

    a {
      color: $white;
      text-decoration: none;
    }
  }

  .footer__links {
    margin: 0;
    margin-top: 1em;
    line-height: 2em;

    h2 {
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    a {
      color: $white;
      text-decoration: none;
    }

    li {
      @media #{$smaller-than-desktop} {
        font-size: 14px;
        line-height: 18px;

        &.dgccrf-link {
          font-size: 12px;
        }
      }
    }
  }

  .footer__logo {
    height: auto;
  }

  .footer__logo img:not(.icon) {
    max-height: 33px;
    border-radius: 3px;
  }
}
