<footer class="footer" role="contentinfo">
  <section class="section-small bg-secondary">
    <div class="container">
      <div class="row">
        <div class="footer__logo col-12 col-lg-6 text-lg-center">
          <ul class="footer__links d-inline-flex d-lg-block">
            <li class="brand mb-0">
              SignalConso
            </li>
            <li class="dgccrf-link pt-0 pl-3">
              <a href="https://www.economie.gouv.fr/dgccrf" target="_blank" title="Un service proposé par la Direction Générale de la Concurrence, Consommation et Répression des Fraudes (nouvelle fenêtre)">Un service proposé par la <abbr title="Direction Général de la Concurrence, Consommation et Répression des Fraudes">DGCCRF</abbr></a>
            </li>
          </ul>
          <ul class="footer__social d-none d-lg-block">
            <li>
              <a href="https://twitter.com/SignalConso" target="_blank" title="Retrouvez-nous sur Twitter (nouvelle fenêtre)">
                <img alt="Logo Twitter" src="/assets/images/logo-twitter.svg" class="icon">
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/SignalConso/" target="_blank" title="Retrouvez-nous sur Facebook (nouvelle fenêtre)">
                <img alt="Logo Facebook" src="/assets/images/logo-facebook.svg" class="icon">
              </a>
            </li>
            <li>
              <a href="https://www.economie.gouv.fr/dgccrf" target="_blank" title="Site de la DGCCRF">
                <img alt="Logo de la Direction Générale de la Concurrence, de la Consommation et de la Répression des Fraudes" src="/assets/images/logo-dgccrf.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-6">
          <ul class="footer__links">
            <li>
              <a href="/suivi-et-vie-privee">Suivi d'audience et vie privée</a>
            </li>
            <li>
              <a routerLink="/conditions-generales-utilisation/consommateur" title="Conditions générales d'utilisation (nouvelle fenêtre)" target="_blank">Conditions générales d'utilisation</a>
            </li>
            <li>
              <a routerLink="/qui-sommes-nous">Qui sommes-nous ?</a>
            </li>
            <li>
              <a routerLink="/dgccrf">Espace DGCCRF</a>
            </li>
            <li>
              <a routerLink="/stats">Statistiques</a>
            </li>
            <li>
              <a routerLink="/contact">
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
