<footer class="footer" role="contentinfo">
  <section class="section-small bg-secondary">
    <div class="container">
      <div class="footer__logo col-12 col-sm-6  text-center">
        <ul class="footer__links">
          <li class="brand mb-0">
            SignalConso
          </li>
          <li class="pt-0">
            <a href="https://www.economie.gouv.fr/dgccrf" target="_blank" title="Un service proposé par la Direction Générale de la Concurrence, Consommation et Répression des Fraudes (nouvelle fenêtre)">Un service proposé par la <abbr title="Direction Général de la Concurrence, Consommation et Répression des Fraudes">DGCCRF</abbr></a>
          </li>
        </ul>
        <ul class="footer__social">
          <li>
            <a href="https://twitter.com/SignalConso" target="_blank" title="Retrouvez-nous sur Twitter (nouvelle fenêtre)">
              <img alt="Logo Twitter" src="/assets/images/logo-twitter.svg" class="icon">
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/SignalConso/" target="_blank" title="Retrouvez-nous sur Facebook (nouvelle fenêtre)">
              <img alt="Logo Facebook" src="/assets/images/logo-facebook.svg" class="icon">
            </a>
          </li>
          <li>
            <a routerLink="/contact">
              <img alt="Logo email" src="/assets/images/logo-email.svg" class="icon">
            </a>
          </li>
          <li>
            <a href="https://www.economie.gouv.fr/dgccrf" target="_blank" title="Site de la DGCCRF">
              <img src="/assets/images/logo-dgccrf.png" alt="Logo DGCCRF" />
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-6">
        <ul class="footer__links">
          <li>
            <a href="/suivi-et-vie-privee">Suivi d'audience et vie privée</a>
          </li>
          <li>
            <a routerLink="/conditions-generales-utilisation/consommateur" title="Conditions générales d'utilisation (nouvelle fenêtre)" target="_blank">Conditions générales d'utilisation</a>
          </li>
          <li>
            <a routerLink="/accessibilite" title="Accessibilité">Rapport d'accessibilité</a>
          </li>
          <li>
            <a routerLink="/comment-ça-marche/professionnel">Vous êtes un professionnel&nbsp;?</a>
          </li>
          <li>
            <a routerLink="/dgccrf">Espace DGCCRF</a>
          </li>
          <li>
            <a routerLink="/stats">Statistiques</a>
          </li>
          <li>
            <a routerLink="/blog">Blog</a>
          </li>
          <li>
            <a routerLink="/contact">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>
