@import "../../../theme/variables";

.chart {
  min-height: 400px;
}

.card + .card {
  margin-top: 1em;
}

.title {
  font-size: $font-size-big;
  font-weight: bolder;
}
.desc {
  color: $theme-color-text-secondary
}

.count {
  line-height: 1;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: $primary;
}

a:not(.collapsed) {
  display: none;
}

@media (max-width: 575.98px) {
  .count {
    font-size: 40px;

    h2 {
      font-size: 20px !important;
    }
  }

}

@media (max-width: 400px) {
  .count {
    font-size: 20px;
    line-height: 40px;

    h3 {
      font-size: 17px !important;
    }
  }

}

