<main role="main">
  <div class="container">
    <section class="section section-grey">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 count stat">
          <h3>Nombre total de signalements</h3>
          {{statistics?.reportsCount}}
          <ngx-loading [show]="loading"></ngx-loading>
        </div>
      </div>
      <div class="row" *ngIf="isPlatformBrowser()">
        <div class="col-12 chart">
          <div echarts [options]="chartOption"></div>
          <ngx-loading [show]="loading"></ngx-loading>
        </div>
      </div>
    </section>
  </div>
</main>
