@import "../../../theme/variables";

.chart {
  min-height: 400px;
}

.card + .card {
  margin-top: 1em;
}

h3 {
  color: $darker-grey;
  font-weight: bolder;
}

.count {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: $primary;
}

a:not(.collapsed) {
  display: none;
}

@media (max-width: 575.98px) {
  .count {
    font-size: 40px;

    h3 {
      font-size: 20px !important;
    }
  }

}

@media (max-width: 400px) {
  .count {
    font-size: 20px;
    line-height: 40px;

    h3 {
      font-size: 17px !important;
    }
  }

}

