<main role="main">
  <section class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 count stat">
          <h4>Nombre total de signalements</h4>
          {{statistics?.reportsCount}}
          <ngx-loading [show]="loading"></ngx-loading>
        </div>
      </div>
      <div class="row">
        <div class="col-12 chart stat">
          <div echarts [options]="chartOption"></div>
          <ngx-loading [show]="loading"></ngx-loading>
        </div>
      </div>
    </div>
  </section>
</main>
