<app-banner title="Inviter d'un utilisateur DGCCRF" [backButton]="true"></app-banner>

<main role="main">
  <section class="section section-white position-relative">
    <div class="container">
      <form class="form" [formGroup]="invitationForm" (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col-12 col-sm-6">
            <label>Email de l'utilisateur</label>
            <input type="email" class="form-control" [formControl]="emailCtrl">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <small class="form-text text-muted">
              Un courrier électronique sera envoyé à l'adresse e-mail saisie ci-dessus avec un lien sécurisé permettant de créer un compte DGCCRF.
            </small>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col text-center mb-1">
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </div>
        </div>
        <div class="notification error mt-3" *ngIf="showErrors && invitationForm.invalid">
          <span *ngIf="emailCtrl.hasError('required')">
              Veuillez renseigner une adresse email.<br/>
          </span>
          <span *ngIf="emailCtrl.hasError('email')">
              Veuillez renseigner une adresse email valide.<br/>
          </span>
        </div>
        <div class="notification success" *ngIf="showSuccess">Un email d'invitation a été envoyé !</div>
      </form>
      <div class="row justify-content-center mt-3">
        <div class="col-8">
          <ul class="list-group list-group-horizontal mb-3">
            <li class="list-group-item" (click)="!pendingDGCCRF && showPendingDGCCRF()" [ngClass]="pendingDGCCRF ? 'active' : 'pointer'">Invitations en attente</li>
            <li class="list-group-item" (click)="!usersDGCCRF && showUsersDGCCRF()" [ngClass]="usersDGCCRF? 'active' : 'pointer'">Tous les utilisateurs</li>
          </ul>
          <table class="table table-sm" *ngIf="pendingDGCCRF">
            <caption>Liste des invitations valides non activées</caption>
            <thead>
              <tr>
                <th>Email</th>
                <th>Date d'invitation</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let invitation of pendingDGCCRF">
                <td>{{invitation.email}}</td>
                <td>{{invitation.tokenCreation | date: "mediumDate"}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-sm" *ngIf="usersDGCCRF">
            <caption>Liste des comptes DGCCRF activés</caption>
            <thead>
              <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of usersDGCCRF">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <ngx-loading [show]="loading"></ngx-loading>
  </section>
</main>
