@import "../../../../../theme/variables";
@import "../../../../../theme/media-queries";

:not(.banner) {
  img.back {
    @media #{$smaller-than-tablet} {
      height: 20px;
    }
  }
}

img.remove {
  height: 15px;
}

.agreement {
  font-size: 12px;
}

.collapsable {
  .collapsed-icon {
    display: none;
  }
  .uncollapsed-icon {
    display: inline;
  }

  &.collapsed {
    .collapsed-icon {
      display: inline;
    }
    .uncollapsed-icon {
      display: none;
    }
  }
}

table {
  border: none;

  td {
    border: none;
    padding: 0;
  }
}

.nav-tabs {
  border-bottom: 1px solid $blue;
}

.nav-link {
  border: 0;
  color: $blue !important;
  cursor: pointer;

  &.active {
    color: $white !important;
    background-color: $blue;
  }
}

input + input {
  margin-top: 0.5em;
}

:host ::ng-deep {
  .tooltip-inner {
    max-width: none !important;
    text-align: left;
  }

}

.valign-top {
  vertical-align: top;
}

.selected {
  background-color: $light-green;
  border-radius: $theme-border-more-radius;

  label, h2 {
    color: $black;
  }
}

.not-selected {
  label, h2 {
    color: $darker-grey;
  }
}
