@import "../../../../../theme/variables";

img.back {

  vertical-align: top;
  height: 30px;

  & + div {
    display: inline-block;
    margin-left: 1em;
  }

}

img.remove {
  height: 15px;
}

.agreement {
  font-size: 12px;
}

.collapsable {
  .collapsed-icon {
    display: none;
  }
  .uncollapsed-icon {
    display: inline;
  }

  &.collapsed {
    .collapsed-icon {
      display: inline;
    }
    .uncollapsed-icon {
      display: none;
    }
  }
}

table {
  border: none;

  td {
    border: none;
    padding: 0;
  }
}

.nav-tabs {
  border-bottom: 1px solid $light-blue;
}

.nav-link {
  border: 0;
  color: $light-blue !important;
  cursor: pointer;
}

input + input {
  margin-top: 0.5em;
}

:host ::ng-deep {
  .tooltip-inner {
    max-width: none !important;
    text-align: left;
  }

}

.valign-top {
  vertical-align: top;
}

.selected {
  background-color: $light-green;
  border-radius: $theme-border-more-radius;

  label, h4 {
    color: $black;
  }
}

.not-selected {
  label, h4 {
    color: $darker-grey;
  }
}
