<app-banner title="Contact"></app-banner>

<main role="main">
  <section class="section section-lightest-grey">
    <div class="container max-width bg-white pb-3 pt-3">

      <h2 class="pb-2 pb-lg-3">Avant de nous écrire, vérifiez que vous utilisez le bon contact !</h2>

      <a class="lead show" data-toggle="collapse" href="#collapse1">
        <h3>Vous avez rencontré un problème avec une entreprise et vous souhaitez le signaler ?</h3>
      </a>
      <div class="collapse" id="collapse1">
        <p>
          SignalConso est là pour ça ! Naviguez sur notre site et répondez simplement aux questions.
          <br />
          <b>Ne nous envoyez pas votre signalement par email. Nous ne prenons aucun signalement par email ;)</b>
        </p>
      </div>

      <hr>

      <a class="lead show" data-toggle="collapse" href="#collapse2">
        <h3>Vous souhaitez signaler un problème avec un site internet ?</h3>
      </a>
      <div class="collapse" id="collapse2">
        <p id="titleInformation" [innerHTML]="internetInformation?.title">
        </p>
        <p *ngIf="internetInformation?.content" [innerHTML]="internetInformation?.content"></p>

        <div *ngIf="internetInformation?.actions">
          <div class="collapse-container" *ngFor="let action of internetInformation?.actions; let index = index">
            <a class="btn-group collapsed" role="group" data-toggle="collapse" href="#collapseAction_{{index}}">
              <button type="button" class="btn link">
                <div [innerHTML]="action.question"></div>
                <div class="text-muted mt-2" *ngIf="action.example" [innerHTML]="action.example"></div>
              </button>
              <button type="button" class="btn">
                <i class="material-icons md-24 down">keyboard_arrow_down</i>
                <i class="material-icons md-24 up">keyboard_arrow_up</i>
              </button>
            </a>
            <div class="collapse" id="collapseAction_{{index}}">
              <div [innerHTML]="action.answer" class="collapse-content"></div>
            </div>
          </div>
          <hr />
        </div>
      </div>

      <hr>

      <a class="lead show" data-toggle="collapse" href="#collapse3">
        <h3>Vous avez une question sur vos droits en tant que consommateur ?</h3>
      </a>
      <div class="collapse" id="collapse3">
        <uL>
          <li>Retrouvez l’ensemble des
            <a href="https://www.economie.gouv.fr/dgccrf/Publications/Vie-pratique/Fiches-pratiques-de-la-concurrence-et-de-la-consom" target="_blank">fiches pratiques</a> et
            <a href="https://www.economie.gouv.fr/dgccrf/foire-aux-questions-0" target="_blank">foire aux questions</a> de la répression des fraudes (DGCCRF)</li>
          <li>Contactez la répression des fraudes (DGCCRF) :
            <ul>
              <li>
                Appelez le 3939 via un serveur vocal interactif : du lundi au vendredi de 8h25 à 17h30 heures de métropole (0.15 € la minute + prix de l’appel) ;
              </li>
              <li>
                Envoyez un courrier ou un email à la <a href="https://www.economie.gouv.fr/dgccrf/coordonnees-des-DDPP-et-DDCSPP" target="_blank">DD(CS)PP</a>. La répression des fraudes (DGCCRF) est présente dans les DD(CS)PP. Les DD(CS)PP sont présentes dans les départements.
              </li>
            </ul>
          </li>
        </uL>
      </div>

      <hr>

      <a class="lead show" data-toggle="collapse" href="#collapse4">
        <h3>Votre question concerne un problème technique rencontré sur SignalConso ?</h3>
      </a>

      <div class="collapse" id="collapse4">

        <p>
          Exemple : vous ne trouvez pas le SIRET de l’entreprise que vous voulez signaler, vous rencontrez un bug lors de la navigation sur le site, vous ne trouvez pas la bonne catégorie pour votre problème...
        </p>
        <p>
          Ecrivez-nous à
          <a href="mailto:support@signal.conso.gouv.fr?subject=incident" target="_blank" title="Vous rencontrez un problème technique avec notre site ? Contactez-nous (ouverture de la messagerie par défaut).">
            support@signal.conso.gouv.fr
          </a>
          <br />Notre équipe technique essayera de vous répondre le plus vite possible !
        </p>
      </div>

    </div>
  </section>
</main>

