<div class="banner" role="banner">
  <div class="banner_container">
    <h1>
      Comment ça marche ?
    </h1>
  </div>
</div>

<main role="main">
  <section class="section section-white">
    <div class="container" >
      <h5>
        <span class="number">1.</span> Vous signalez une anomalie en remplissant le formulaire.
      </h5>
      <br />
      <h5>
        <span class="number">2.</span> Si l’établissement est volontaire, le professionnel (le responsable d’établissement ou le responsable qualité) est informé des anomalies qui le concernent. Il peut alors corriger directement le problème.
        Si vous avez choisis de transmettre vos coordonnées au professionnel, celui-ci pourra vous recontacter et vous tenir au courant de la situation.
      </h5>
      <br />
      <h5>
        <span class="number">3.</span> Le signalement est enregistré dans la base de données de la répression des fraudes. Lorsque les signalements sont trop fréquents ou nombreux sur un établissement, une alerte est envoyée aux enquêteurs. Ils pourront alors déclencher un contrôle.
      </h5>
    </div>
  </section>

  <section class="section section-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-1 icon">
          <img src="/assets/images/icon_caution.png" />
        </div>
        <div class="col-12 col-sm-11">
          <h5>
            Attention, un signalement ne constitue pas une saisine formelle de la DGCCRF au sens de
            l’article L. 112-8 du code des relations entre le public et l’administration.
            Notre plateforme ne propose pas de suivi personnalisé de votre dossier.
          </h5>
        </div>
      </div>
    </div>
  </section>
</main>
