<div class="banner" role="banner">
  <div class="banner_container">
    <h1>
      Pourquoi signaler ?
    </h1>
  </div>
</div>

<main role="main">
  <section class="section section-white">
    <div class="container" >
      <h2 class="text-center mb-5">
        <p>
          (1) Pour informer le professionnel afin qu'il corrige de lui-même la situation
        </p>
        <br />
        <p>
          (2) Pour permettre à la DGCCRF (Répression des fraudes) de mieux cibler son action auprès des profesionnels
        </p>
      </h2>
    </div>
  </section>

  <section class="section section-primary">
    <div class="container">
      <h4>
        Attention, un signalement ne constitue pas une saisine formelle de la DGCCRF au sens de
        l’article L. 112-8 du code des relations entre le public et l’administration.
        Notre plateforme ne propose pas de suivi personnalisé de votre dossier.
      </h4>
    </div>
  </section>
</main>
