<div class="banner" role="banner">
  <div class="banner_container">
    <h1>
      Pourquoi signaler ?
    </h1>
  </div>
</div>

<main role="main">
  <section class="section section-white">
    <div class="container" >
      <h2 class="text-center mb-5">
        <p>
          (1) Pour informer le professionnel afin qu'il corrige de lui-même la situation
        </p>
        <br />
        <p>
          (2) Pour permettre à la DGCCRF (Répression des fraudes) de mieux cibler son action auprès des profesionnels
        </p>
      </h2>
    </div>
  </section>

  <section class="section section-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-3 col-sm-4">
          Attention, un signalement ne constitue pas une saisine formelle de la DGCCRF au sens de
          l’article L. 112-8 du code des relations entre le public et l’administration.
          Notre plateforme ne propose pas de suivi personnalisé de votre dossier.
        </div>
        <div class="col-12 mb-3 col-sm-4">
          L'outil est en expérimentation en région Centre Val de Loire uniquement.
        </div>
        <div class="col-12 col-sm-4">
          Les signalements peuvent concernés des points de vente et des lieux de consommation (café, bar , restaurant...).
        </div>
      </div>
    </div>
  </section>
</main>
