@import "../../../../theme/variables";

.number {
  font-size: 2em;
  padding-right: 10px;
}

.arrow {
  color: $primary;
  font-size: 100px;
  font-weight: bold;
}

.step {
  max-width: 750px;
  margin: 0 auto;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(201, 211, 223, .2);
  box-shadow: 0 1px 2px rgba(201, 211, 223, .2);
  border: 1px solid #c9d3df;
  padding: 1em;
}

.steps img {
  margin-bottom: 20px;
  margin-top: 20px;
}


.icon {
  text-align: center;
  padding-bottom: 1em;
}
