@import "../../../../../theme/variables";

h4 {
  font-weight: bold;
}

.withSiblingSubcategories {

  label, h4 {
    color: $dark-grey;
  }
}

.subcategorySelected {
  background-color: $light-green;
}

.scrollNotification {
  background-color: $lighter-blue;
  position: fixed;
  bottom: 0;
  z-index: 99;
  text-align: center;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5em;
  width: fit-content;

  img {
    height: 20px;
  }

}
