@import "../../../../../theme/variables";

.withSiblingSubcategories {

  label, h2 {
    color: $darker-grey;
  }

}

.subcategorySelected {
  background-color: $light-green;
  border-radius: $theme-border-more-radius;

  label, h2 {
    color: $black;
  }

}

h2 {
  margin-left: -30px;
}

hr {
  margin-bottom: 60px;
}

.z-0 {
  z-index: 0;
}
