@import "../../../../../theme/variables";

.withSiblingSubcategories {

  label, h4 {
    color: $darker-grey;
  }

}

.subcategorySelected {
  background-color: $light-green;
  border-radius: $theme-border-more-radius;

  label, h4 {
    color: $black;
  }

}

hr {
  margin-bottom: 60px;
}
