@import "../../../../theme/variables";

hr {
  margin-top: 20px;
}

.blue {
  color: $blue;
}

.nav-tabs {
  border-bottom: 1px solid $light-blue;
}

.nav-link {
  border: 0;
  color: $light-blue !important;
}
