<div class="banner text-center section section-primary" role="region">
  <div class="container">
    <h1 class="text-center">
      Conditions générales d'utilisation du site SignalConso
    </h1>
  </div>
</div>

<main role="main">
  <section class="section section-lightest-grey">
    <div class="container max-width">
      <nav class="nav nav-tabs nav-justified mb-3">
        <a class="nav-item nav-link" [ngClass]="isCguConso ? 'active' : ''" routerLink="/conditions-generales-utilisation/consommateur"><h4>Consommateur</h4></a>
        <a class="nav-item nav-link" [ngClass]="!isCguConso ? 'active' : ''" routerLink="/conditions-generales-utilisation/professionnel"><h4>Professionnel</h4></a>
      </nav>
      <ng-container *ngIf="isCguConso; else cguPro">

        <p>
          Les conditions générales d'utilisation doivent être acceptées par l’utilisateur du site.
        </p>

        <p class="lead text-primary">A quoi sert le site SignalConso ?</p>
        <p>
          Le site permet aux consommateurs de connaître la réglementation et de déposer un signalement.
          <br/>Il ne doit en aucun cas s'agir d'une urgence nécessitant l'intervention des services de secours. <b>Dans ce cas, il faut appeler le « 112 ».</b>
        </p>

        <hr>

        <p class="lead text-primary">Ce service est-il payant ?</p>
        <p>
          Le site est accessible gratuitement à tout utilisateur ayant un accès à Internet.
        </p>

        <hr>

        <p class="lead text-primary">Que peut-on signaler ?</p>
        <p>
          L’utilisateur peut signalement des manquements relatifs au Code de la Consommation (principalement) et des litiges contractuels, constatés chez une entreprise. Il n’est pas possible de signaler un litige avec un particulier.
        </p>

        <hr>

        <p class="lead text-primary">Qui traite les signalements ?</p>
        <p>
          Les signalements sont traités par l’équipe SignalConso pendant la phase d’expérimentation. L’équipe de SignalConso vérifie que le signalement rentre bien dans le périmètre du site et que les données reçues ne sont pas “sensibles”.
        </p>

        Les signalements sont ensuite visibles :
        <ul>
          <li>par le professionnel, dont l’entreprise a été mise en cause,</li>
          <li>par les agents de la DGCCRF, qui sont habilités à faire des enquêtes.</li>
        </ul>

        <hr>

        <p class="lead text-primary">Les signalements sont-ils anonymes ?</p>
        <p>
          L’utilisateur doit s’identifier auprès de l’administration (Signalconso et DGCCRF) en donnant son nom, son prénom et son adresse email.
          <br/>Par contre, l'utilisateur a la possibilité de rester anonyme vis-à-vis de l'entreprise.
        </p>

        <hr>

        <p class="lead text-primary">Comment sont traitées les données personnelles ?</p>
        <p>
          Le site assure une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la réglementation (RGPD).
          <br/>L’utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles sur simple demande <a href="mailto:contact@signalconso.beta.gouv.fr" title="contact@signalconso.beta.gouv.fr (ouverture de la messagerie par défaut)"> par email. </a>
          <br/><br/>Les informations demandées lors du dépôt du signalement sont nécessaires pour traiter les signalements. En particulier, l'adresse email pourra être utilisée par le site pour informer le consommateur du suivi de son signalement. Les informations relatives au signalement (c’est-à-dire la déclaration et les pièces jointes) sont conservées 5 ans pour les besoins des enquêtes et des suites éventuelles.  
          <br/><br/> Pendant la durée de l'expérimentation, SignalConso se réserve le droit de contacter les utilisateurs par email afin de recueillir leur avis sur le site et leur proposer des ateliers pour améliorer le service. L'utilisateur peut demander à ne pas être sollicité sur simple demande <a href="mailto:contact@signalconso.beta.gouv.fr" title="contact@signalconso.beta.gouv.fr (ouverture de la messagerie par défaut)"> par email. </a>
          <br/><br/> Consultez le site cnil.fr pour plus d’informations sur vos droits. Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.
        
        </p>

        <hr>

        <p class="lead text-primary">Existe-t-il un suivi de dossier ?</p>
        <p>SignalConso ne propose pas de suivi personnalisé des dossiers. Les signalements sont traités de manière collective.</p>

        <hr>

        <p class="lead text-primary">Quel est le risque en cas de dénonciation mensongère ?</p>
        <p>
          L’article 226-10 du Code Pénal dispose que "la dénonciation, effectuée par tout moyen et dirigée contre une personne déterminée, d'un fait qui est de nature à entraîner des sanctions judiciaires, administratives ou disciplinaires et que l'on sait totalement ou partiellement inexact, lorsqu'elle est adressée soit à un officier de justice ou de police administrative ou judiciaire, soit à une autorité ayant le pouvoir d'y donner suite ou de saisir l'autorité compétente, soit aux supérieurs hiérarchiques ou à l'employeur de la personne dénoncée, est punie de cinq ans d'emprisonnement et de 45 000 € d'amende."
          <br/>Le détournement du site de signalement pour effectuer des dénonciations mensongères fera l'objet de poursuites judiciaires.
        </p>

        <hr>

        <p class="lead text-primary">Mentions légales</p>
        <p>
          L'édition du site https://signalconso.beta.gouv.fr est assurée par la direction interministérielle du numérique et du système d'information et de communication de l'État (DINSIC), située au 20 avenue de Ségur 75007 Paris.
          <br/>L'hébergeur du site https://signalconso.beta.gouv.fr est la société Clever Cloud dont le siège social est situé 3 rue de l’Allier 44000 Nantes.
        </p>

        <hr>

        <p class="lead text-primary">Propriété intellectuelle</p>
        <p>
          Les marques, logos, signes et tout autre contenu du site font l'objet d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.
        </p>
      </ng-container>
      <ng-template #cguPro>

        <p>
          Les conditions générales d'utilisation doivent être acceptées par le professionnel afin d’utiliser le site SignalConso.
        </p>

        <p class="lead text-primary">Gratuité de la plate-forme SignalConso</p>
        <p>
          Le site est accessible gratuitement aux professionnels.
          <br />
          Si vous recevez une sollicitation vous réclamant une somme d’argent dans le cadre de SignalConso, refusez la proposition et alertez rapidement la DIRECCTE ou la DDPP de votre secteur.
          <br />
          Coordonnées disponibles ici: <a href="https://www.economie.gouv.fr/dgccrf/coordonnees-des-DDPP-et-DDCSPP" target="_blank" title="coordonnées des DDPP et DDCSPP (nouvelle fenêtre)">https://www.economie.gouv.fr/dgccrf/coordonnees-des-DDPP-et-DDCSPP</a>
        </p>

        <hr>

        <p class="lead text-primary">Objections quant au signalement déposé</p>
        <p>
          Si vous contestez le signalement qui a été déposé, vous pouvez le notifier directement dans votre espace professionnel.
          <br /> Votre réponse sera transmise au consommateur et à la DGCCRF. Un second espace de réponse permet d'apporter des éléments à la connaissance de la DGCCRF seulement. Vous pouvez y joindre des pièces jointes.
          <br /> <b>Pour rappel, ce sont les constatations effectuées par les enquêteurs lors d’un contrôle qui font foi.</b>
        </p>

        <hr>

        <p class="lead text-primary">Prise de contact avec le consommateur</p>
        <p>
          Si le consommateur a souhaité vous transférer ses coordonnées, vous pouvez le contacter.
          Ce contact doit être courtois et être fait uniquement dans le cadre du signalement. Il a notamment pour but de récupérer des informations manquantes et traiter si besoin le litige.
          <br />
          <b> Il est interdit d’utiliser les coordonnées du consommateur à des fins de prospections commerciales.
          <br />
          Il est interdit d’intimider ou de harceler le consommateur afin de lui faire retirer son signalement.</b>
          <br />Tout abus pourra entraîner des poursuites judiciaires.
        </p>

        <hr>

        <p class="lead text-primary">Données personnelles</p>
        <p>
          Le site assure une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la réglementation (RGPD).
          <br/>
          Les informations demandées lors la création du compte sont nécessaires pour traiter les signalements et permettre les échanges.
          <br/>
          L’utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles sur simple demande à simple demande <a href="mailto:contact@signalconso.beta.gouv.fr" title="contact@signalconso.beta.gouv.fr (ouverture de la messagerie par défaut)"> par email. </a> 
        </p>

        <hr>

        <p class="lead text-primary">Dénonciation mensongère</p>
        <p>
          L’article 226-10 du Code Pénal dispose que "la dénonciation, effectuée par tout moyen et dirigée contre une personne déterminée,
          d'un fait qui est de nature à entraîner des sanctions judiciaires, administratives ou disciplinaires et que l'on sait totalement ou partiellement inexact,
          lorsqu'elle est adressée soit à un officier de justice ou de police administrative ou judiciaire, soit à une autorité ayant le pouvoir d'y donner suite ou
          de saisir l'autorité compétente, soit aux supérieurs hiérarchiques ou à l'employeur de la personne dénoncée, est punie de cinq ans d'emprisonnement et de 45 000 € d'amende."
          <br />
          <u>Le détournement du site de signalement pour effectuer des dénonciations mensongères fera l'objet de poursuites judiciaires.</u>
        </p>

        <hr>

        <p class="lead text-primary">Mentions légales</p>
        <p>
          L'édition du site https://signalconso.beta.gouv.fr est assurée par la direction interministérielle du numérique et du système d'information et de communication de l'État (DINSIC), située au 20 avenue de Ségur 75007 Paris.
          <br/>L'hébergeur du site https://signalconso.beta.gouv.fr est la société Clever Cloud dont le siège social est situé 3 rue de l’Allier 44000 Nantes.
        </p>

        <hr>

        <p class="lead text-primary">Propriété intellectuelle</p>
        <p>
          Les marques, logos, signes et tout autre contenu du site font l'objet d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.
        </p>
      </ng-template>

    </div>
  </section>
</main>
