@import "../../../../theme/variables";

hr {
  margin-top: 20px;
}

.nav-tabs {
  border-bottom: 1px solid $blue;
}

.nav-link {
  border: 0;
  color: $blue !important;
  font-size: 1.25rem;

  &.active {
    color: $white !important;
    background-color: $blue;
  }
}
