@import "../../../../theme/variables";

:host {
  border-radius: 4px;
  border: 1px solid $theme-divider;
  display: block;
  position: relative;
}

.app-panel-progress {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
