<button type="button" class="btn btn-secondary" [routerLink]="['activation']" *ngIf="!user; else userMenuLg">
  Espace pro<img src="/assets/images/icon-unlock.svg" alt="Icône déverrouiller" />
</button>
<ng-template #userMenuLg>
  <div class="btn-group" dropdown placement="bottom right">
    <button id="button-avatar" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle">
      Compte
    </button>
    <ul id="dropdown-account" *dropdownMenu class="dropdown-menu dropdown-menu-right"
        role="menu" aria-labelledby="button-avatar">

      <ng-container *appRole="[roles.ToActivate]; else activatedRole">
        <li role="menuitem" >
          <span class="item">{{ user.email }}</span>
        </li>
        <li class="divider dropdown-divider"></li>
      </ng-container>
      <ng-template #activatedRole>
        <li role="menuitem"><span class="item">{{ user.firstName + " " + user.lastName }}</span></li>
        <li role="menuitem"><span class="item"><b>Profil</b> : {{ user.role }}</span></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><span [routerLink]="['suivi-des-signalements']" class="dropdown-item pointer">Suivi des signalements</span></li>
        <li role="menuitem" *appRole="[roles.Admin, roles.DGCCRF];"><span [routerLink]="['pro-les-plus-signales']" class="dropdown-item pointer">Entreprises les plus signalées</span></li>
        <li role="menuitem"><span [routerLink]="['abonnements']" class="dropdown-item pointer" *appPermission="permissions.subscribeReports">Abonnements</span></li>
        <li role="menuitem"><span [routerLink]="['mes-entreprises']" class="dropdown-item pointer">Mon entreprise</span></li>
        <li role="menuitem"><span [routerLink]="['compte/mot-de-passe']" class="dropdown-item pointer">Modifier mot de passe</span></li>
      </ng-template>
      <li role="menuitem"><span class="dropdown-item pointer" (click)="logout()">Se déconnecter</span></li>
    </ul>
  </div>
</ng-template>
