@import "../../../../theme/media-queries";
@import "../../../../theme/variables";


.btn {
  padding: 10px 16px;
  margin-top: 6px;
  margin-left: 25px;
  font-size: 18px;
  line-height: 18px;

  img {
    height: 18px;
    bottom: 3px;
    position: relative;
  }
}

.dropdown-menu {

  background-color: $secondary;

  .item, .dropdown-item {
    color: $white;

    &:hover {
      background-color: $primary;
    }
  }

  .item {
    padding: .25rem 1.5rem;
    display: block;
  }
}


@media #{$smaller-than-tablet} {

  .btn {
    height: 29px;
    font-size: 12px;
    padding: 0 16px;
    margin-right: 10px;

    img {
      height: 12px;
      margin-left: 6px;
    }
  }
}
