<div class="btn-group d-none d-lg-block dropdown">
  <button id="button-avatar" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Compte
  </button>
  <ul id="dropdown-account" class="dropdown-menu dropdown-menu-right"
      role="menu" aria-labelledby="button-avatar">
    <template [ngTemplateOutlet]="dropdownMenuContent"></template>
  </ul>
</div>
<div class="btn-group d-lg-none dropdown">
  <button id="button-avatar-sm" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="material-icons" aria-hidden="true">person</i>
    <span class="sr-only">Compte</span>
  </button>
  <ul id="dropdown-account-sm" class="dropdown-menu dropdown-menu-right"
      role="menu" aria-labelledby="button-avatar">
    <template [ngTemplateOutlet]="dropdownMenuContent"></template>
  </ul>
</div>

<ng-template #dropdownMenuContent>
  <ng-container *appRole="[roles.ToActivate]; else activatedRole">
    <li role="menuitem" >
      <span class="item">{{ user.email }}</span>
    </li>
    <li class="divider dropdown-divider"></li>
  </ng-container>
  <ng-template #activatedRole>
    <li role="menuitem"><span class="item font-weight-bold">{{ user?.firstName + " " + user?.lastName }}</span></li>
    <li class="divider dropdown-divider"></li>

    <li role="menuitem"><span class="item font-weight-bold">Signalements</span></li>
    <li role="menuitem" *appRole="[roles.Admin, roles.DGCCRF];"><a [routerLink]="['suivi-des-signalements', user.roleUrlParam]" class="dropdown-item">Suivi des signalements</a></li>
    <li role="menuitem" *appRole="[roles.Admin, roles.DGCCRF];"><a [routerLink]="['entreprises']" class="dropdown-item">Suivi des entreprises</a></li>
    <li role="menuitem" *appRole="[roles.Pro];"><a [routerLink]="['suivi-des-signalements', user.roleUrlParam]" class="dropdown-item">Suivi de mes signalements</a></li>
    <li role="menuitem" *appRole="[roles.Admin];"><a [routerLink]="['moderation-url-entreprises']" class="dropdown-item">Suivi des sites internet</a></li>
    <li role="menuitem" *appRole="[roles.DGCCRF];"><a [routerLink]="['sites-internet/non-identifies']" class="dropdown-item">Suivi des sites internet</a></li>
    <li role="menuitem" *appRole="[roles.Admin, roles.DGCCRF];"><a [routerLink]="['suivi-des-telephones']" class="dropdown-item">Suivi des téléphones signalés</a></li>
    <li role="menuitem"><a [routerLink]="['mes-telechargements']" class="dropdown-item">Mes exports</a></li>

    <ng-container *appRole="[roles.Admin]">
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><span class="item font-weight-bold">Utilisateurs</span></li>
      <li role="menuitem"><a [routerLink]="['admin/invitation-ccrf']" class="dropdown-item">Inviter un utilisateur DGCCRF</a></li>
    </ng-container>

    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><span class="item font-weight-bold">Gestion du compte</span></li>
    <li role="menuitem"><a [routerLink]="['abonnements']" class="dropdown-item" *appPermission="permissions.subscribeReports">Gérer mes abonnements</a></li>
    <li role="menuitem" *appRole="[roles.Pro]"><a [routerLink]="['mes-entreprises']" class="dropdown-item">Gérer mes entreprises</a></li>
    <li role="menuitem"><a [routerLink]="['compte/mot-de-passe']" class="dropdown-item">Changer mon mot de passe</a></li>
    <li class="divider dropdown-divider"></li>
  </ng-template>
  <li role="menuitem"><button class="dropdown-item" (click)="logout()">Se déconnecter</button></li>
</ng-template>
