<label>
  <i class="material-icons md-24" aria-hidden="true">attach_file</i>
  <span [innerHTML]="label" class="pr-3"></span>
</label>
<button type="button" class="btn btn-sm btn-outline-primary d-none d-md-inline-block"(click)="bringFileSelector()">
  Ajouter
</button>
<div class="row text-center pt-1">
  <div class="col-12 offset-md-6 col-md-6">
    <table class="table table-sm">
      <tbody>
      <tr *ngFor="let uploadedFile of uploadedFiles">
        <td class="text-left position-relative" *ngIf="uploadedFile.loading" colspan="2">
          {{uploadedFile.displayedFilename}}
          <ngx-loading [show]="uploadedFile.loading" [config]="{backdropBackgroundColour: 'rgba(0, 0, 0, 0.05)'}"></ngx-loading>
        </td>
        <td class="text-left" *ngIf="!uploadedFile.loading">
          <a href="{{getFileDownloadUrl(uploadedFile)}}">
                    <span *ngIf="uploadedFile.id">
                      {{uploadedFile.displayedFilename}}
                    </span>
            <span *ngIf="!uploadedFile.id" class="error">
                      {{getErrorFilename(uploadedFile.filename)}}
                    </span>
          </a>
        </td>
        <td class="text-right pointer" *ngIf="!uploadedFile.loading">
          <i class="material-icons md-24 blue" title="Supprimer la pièce jointe" (click)="removeUploadedFile(uploadedFile)">remove_circle_outline</i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="notification error" *ngIf="tooLargeFilename">
  Le fichier <i>"{{tooLargeFilename}}"</i> est trop volumineux, veuillez choisir un fichier de moins de 5Mo.
</div>
<div class="notification error" *ngIf="invalidFileExtension">
  Type de fichier invalide. Les extensions acceptées sont : {{ allowedExtensions.join(", ") }}
</div>
<div class="row pb-3 d-md-none">
  <div class="col-12 text-center">
    <input type="file" #fileInput class="form-control-file" hidden (change)="selectFile()" accept="{{ getInputAcceptExtensions() }}">
    <button type="button" class="btn btn-sm btn-outline-primary"(click)="bringFileSelector()">
      Ajouter
    </button>
  </div>
</div>
