@import "../../../../theme/variables";
@import "../../../../theme/media-queries";


:host /deep/ {
  .alert.alert-danger.alert-dismissible {
    color: $black;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: $theme-warning-bg;
    border: none;
  }
}
.banner {
  padding-top: 1.5em;
  padding-bottom: 0;

  h4 {
    margin-bottom: 0;
  }
}

.banner h1 {
  color: #26353f;
  background-color: #fff;
  padding: .5em 1em .6em;
  display: inline-block;
  font-size: 1.5rem !important;
  margin-bottom: .6em;

  @media #{$smaller-than-mobile} {
    display: block;
  }
}

.category {
  background: $white;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(201, 211, 223, .2);
  box-shadow: 0 1px 2px rgba(201, 211, 223, .2);
  padding: 1em;
  border: 1px solid $light-grey;
  margin: 1em 0;
  height: calc(100% - 32px);
  transition: all .2s ease-in-out;

  @media #{$larger-than-tablet} {
    &:hover {
      transform: scale(1.1);
      border-color: $primary;
    }
    &:focus {
      transform: scale(1.1);
      border-color: $primary;
    }
  }
  @media #{$smaller-than-tablet} {
    &:active {
      border-color: $primary;
    }
  }

  img {
    height: 40px;
  }
}

.notification {

  overflow-wrap: break-word;

  img {
    width: 24px;
    vertical-align: top;
  }

  h5 {
    display: inline-block;
    margin: 0 0.5em;
    padding-bottom: 0.5em;
  }

}

.nav-link.disabled {
  pointer-events: auto;
}

.action-lighter-grey {
  background-color: $lighter-grey;
}

.title {
  font-size: 1.125rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: $light-blue;
}

.card-body {
  padding-bottom: 18px !important;
  padding-top: 18px !important;
}

.card-text {
  margin-bottom: 0 !important;
}

a.active.disabled {
  background-color: #53657D !important;
  color: white;
}

.category.disabled {
  background: repeating-linear-gradient(
    135deg,
    #fff,
    #fff 10px,
    #DEE5EC 10px,
    #DEE5EC 20px
  );
}

.category.disabled h5 {
  color: #9B9DA0
}

h3 {
  margin: 0.2em 0 0.8em;
}

.other-problems {
  font-family: "Source Sans Pro", Arial, sans-serif;
  padding-bottom: .2em;
  color: #0053b3;
}

.other-problems:hover {
  color: #003067;
}

h3.other-problems {
  padding-bottom: .2em;
}

p.internet-information {
  margin-bottom: 40px !important
}

button.button-outline:focus {
  border: 1px solid $darker-grey;
  color: $darker-grey;
}