@import "../../../../theme/variables";
@import "../../../../theme/media-queries";


:host ::ng-deep {
  .alert.alert-danger.alert-dismissible {
    color: $black;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: $theme-warning-bg;
    border: none;
  }
}

h1 {
  font-family: "Gill Sans";
  font-size: 30px !important;
  line-height: 40px !important;
}

h2 {
  position: relative;
  display: inline-block;

  &:before {
    content: '';
    width: 80px;
    height: 7px;
    position: absolute;
    bottom: -14px;
    background: $white;
  }

  &.text-secondary:before {
    background: $secondary;
  }
}

.category {
  background: $white;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(201, 211, 223, .2);
  box-shadow: 0 1px 2px rgba(201, 211, 223, .2);
  padding: 1em;
  border: 1px solid $light-grey;
  margin: 1em 0;
  height: calc(100% - 32px);
  transition: all .2s ease-in-out;

  @media #{$larger-than-tablet} {
    &:hover {
      transform: scale(1.1);
      border-color: $primary;
    }
    &:focus {
      transform: scale(1.1);
      border-color: $primary;
    }
  }

  img {
    height: 40px;
  }
}

#all-categories-link {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: $white;
  cursor: pointer;
  text-decoration: underline;
  padding: 1em;
  transition: all .2s ease-in-out;

  &:hover{
    transform: scale(1.1);
  }
}

.indication {
  font-size: 14px;
  font-weight: bold;
  padding-top: 2rem;
  margin-bottom: 0;
}

.card {
  border: none;
  background-color: $white;

  .card-body {
    padding: 0;
  }

  .card-title {
    font-weight: bold;
    text-align: center;
  }

  @media #{$larger-than-desktop} {
    min-width: 240px;
    padding-bottom: 24px;
    background: url("../../../../assets/images/ellipse.png") no-repeat bottom;

    &:not(.first-card):before {
      content: '';
      width: calc(50% + 3px);
      height: 4px;
      position: absolute;
      bottom: 10px;
      left: -15px;
      background: $light-blue;
    }
    &:not(.last-card):after {
      content: '';
      width: calc(50% + 3px);
      height: 4px;
      position: absolute;
      bottom: 10px;
      left: calc(50% + 12px);
      background: $light-blue;
    }
  }

  @media #{$smaller-than-desktop} {
    height: 280px;
  }
}

.carousel {

  .carousel-inner {
    padding: 0 80px;
  }

  .carousel-indicators {

    padding-top: 10px;
    position: relative;

    li {
      height: 20px;
      width: 20px;
      background: none;
      border: 1px solid $white;
      border-radius: 50%;

      &.active {
        background-color: $white;
      }
    }

  }
}


@media #{$smaller-than-phablet} {
  h1 {
    font-family: "Gill Sans";
    font-size: 20px !important;
    line-height: 28px !important;
  }
}
