@import "../../../../theme/variables";
@import "../../../../theme/media-queries";


:host ::ng-deep {
  .alert.alert-danger.alert-dismissible {
    color: $black;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 94%;
    left: 3%;
    background-color: $theme-error-bg;
    border: none;
  }
}

h1 {
  font-family: "Gill Sans";
  font-size: 30px !important;
  line-height: 40px !important;
}

h2 {
  position: relative;
  display: inline-block;

  &:before {
    content: '';
    width: 80px;
    height: 7px;
    position: absolute;
    bottom: -14px;
    background: $white;
  }

  &.text-secondary:before {
    background: $secondary;
  }
}

.category {
  background: $white;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(201, 211, 223, .2);
  box-shadow: 0 1px 2px rgba(201, 211, 223, .2);
  padding: 1em;
  border: 1px solid $light-grey;
  margin: 1em 0;
  height: calc(100% - 32px);
  transition: all .2s ease-in-out;

  @media #{$larger-than-tablet} {
    &:hover {
      transform: scale(1.1);
      border-color: $primary;
    }
    &:focus {
      transform: scale(1.1);
      border-color: $primary;
    }
  }

  img {
    width: 100%;
  }

  .category-title {
    font-family: "Gill Sans";
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .sprite-category {
    background: url("../../../../assets/images/pictos/sprite.png") no-repeat bottom;
    background-repeat: no-repeat;
    display: inline-block;
    width: 72px;
    height: 72px;
  }

  .sprite-category-covid {
    background-position: 0 0;
  }

  .sprite-category-store {
    background-position: -72px 0;
  }

  .sprite-category-health {
    background-position: -144px 0;
  }

  .sprite-category-restaurant {
    background-position: 0 -72px;
  }

  .sprite-category-service {
    background-position: -72px -72px;
  }

  .sprite-category-energy {
    background-position: -144px -72px;
  }

  .sprite-category-internet {
    background-position: 0px -144px;
  }

  .sprite-category-bank {
    background-position: -72px -144px;
  }

  .sprite-category-disease {
    background-position: -144px -144px;
  }

  .sprite-category-hobbies {
    background-position: 0 -216px;
  }

  .sprite-category-ecommerce {
    background-position: -72px -216px;
  }

  .sprite-category-real-estate {
    background-position: -144px -216px;
  }

  .sprite-category-craft {
    background-position: 0 -288px;
  }

  .sprite-category-transport {
    background-position: -72px -288px;
  }

  .sprite-category-pet {
    background-position: -144px -288px;
  }

  .sprite-category-admin {
    background-position: 0 -360px;
  }
}

#all-categories-link {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: $white;
  cursor: pointer;
  text-decoration: underline;
  padding: 1em;
  transition: all .2s ease-in-out;

  &:hover{
    transform: scale(1.1);
  }
}

.indication {
  font-size: 14px;
  font-weight: bold;
  padding-top: 2rem;
  margin-bottom: 0;
}

.card {
  border: none;
  background-color: transparent;

  .card-body {
    padding: 0;
  }

  .card-title {
    font-weight: bold;
    text-align: center;
    color: $white;
  }

  @media #{$larger-than-desktop} {
    min-width: 240px;
    padding-bottom: 24px;

    &:not(.first-card):before {
      content: '';
      width: calc(50% + 3px);
      height: 4px;
      position: absolute;
      bottom: 10px;
      left: -15px;
      background: $blue;
    }
    &:not(.last-card):after {
      content: '';
      width: calc(50% + 3px);
      height: 4px;
      position: absolute;
      bottom: 10px;
      left: calc(50% + 12px);
      background: $blue;
    }

    .card-title {
      color: $black;
    }

    .card-body:after {
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      left: calc(50% - 12px);
      border: 4px $blue solid;
      border-radius: 12px;
    }
  }
}

.carousel {

  .carousel-inner {

    @media #{$smaller-than-desktop} {
      padding: 0 calc(25% - 140px);
    }

    @media #{$smaller-than-tablet} {
      padding: 0 calc(50% - 140px);
    }
  }

  .carousel-indicators {

    padding-top: 10px;
    position: relative;

    li {
      height: 20px;
      width: 20px;
      background: none;
      border: 1px solid $white;
      border-radius: 50%;

      &.active {
        background-color: $white;
      }
    }

  }
}


@media #{$smaller-than-phablet} {
  h1 {
    font-size: 20px !important;
    line-height: 28px !important;
  }
}

@media #{$larger-than-desktop} {
  .notification.warning {
    margin-top: -1em;
    margin-bottom: 1em;
  }
}
