@import "../../../../theme/variables";
@import "../../../../theme/media-queries";

.container {
  @media #{$smaller-than-desktop} {
    max-width: 750px;
  }
}

h1 {
  font-size: 1.25rem !important;
  font-weight: unset !important;
  line-height: unset !important;
  color: $darker-grey;

  @media #{$smaller-than-tablet} {
    font-size: 16px !important;
    line-height: 21px !important;
  }
}

img.back {

  vertical-align: top;
  height: 30px;

  & + div {
    display: inline-block;
    margin-left: 1em;
  }

}

.steps {

  color: $darker-grey;
  padding-top: 1em;
  font-size: 1.1em;

  @media #{$smaller-than-desktop} {
    padding: 0;
    font-size: 16px;

    div {
      padding: 0 !important;
    }
  }

  img {
    height: 20px;
    padding-left: 1em;
    padding-right: 1em;
  }

  div {
    display: inline-block;
    padding-bottom: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.5em;

    .step-number {
      color: $white;
      background-color: $darker-grey;
      width: 22px;
      height: 22px;
      line-height: 20px;
      vertical-align: text-bottom;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      margin-right: 0.5em;
      font-size: 0.8em;
    }

    &.achieved {
      color: $black;
      font-weight: bold;
      cursor: pointer;

      .step-number {
        background-color: $green;
        line-height: 22px;
      }
    }

    &.current {
      color: $black;
      font-weight: bold;

      border-bottom: $primary 3px solid;

      .step-number {
        background-color: $primary;
      }
    }
  }

  @media #{$smaller-than-large-desktop} {
    img {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media #{$smaller-than-desktop} {
    img, .step-number, .achieved, .todo {
      display: none !important;
    }

    div {
      display: block;
      &.current {
        border-bottom: none;
      }
    }
  }
}
