<app-banner title="Suivi des sites internet"></app-banner>

<app-page animated="false">
  <app-websites-tabs></app-websites-tabs>
  <app-panel [loading]="websiteService.fetchingUnregistered">
    <app-panel-header>
      <input [(ngModel)]="hostFilter" class="form-control form-control-material host-form-control" placeholder="Nom du site" (keydown.enter)="fetchUnregisteredWebsites()"/>
      <input
        class="form-control form-control-material"
        [(bsValue)]="periodFilter"
        bsDaterangepicker
        autocomplete="off"
        placeholder="Période sélectionnée"
        [bsConfig]="{ containerClass: 'theme-default', rangeInputFormat: 'DD MMMM YYYY' }"
        triggers="click keypress"
        (bsValueChange)="fetchUnregisteredWebsites()"
      />
      <button mat-icon-button (click)="extract()" matTooltip="Exporter en XLS">
        <mat-icon>get_app</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Supprimer tous les filtres" (click)="clearFilters()">
        <mat-icon>clear</mat-icon>
      </button>
    </app-panel-header>
    <table mat-table [dataSource]="dataSource" matSort class="fullwidth" matSortActive="count" matSortDirection="desc">

      <ng-container matColumnDef="count">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Nombre de signalements</th>
        <td class="td-count td-number" mat-cell *matCellDef="let _">
          {{_.count}}
          &nbsp;
          <a [routerLink]="['/suivi-des-signalements', (authenticationService.user | async).roleUrlParam]"
             [queryParams]="{websiteURL: _.host}" app-btn color="primary" style="text-decoration: none">
            Voir
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="host">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Nom du site</th>
        <td mat-cell *matCellDef="let _">
          <a target="_blank" href="http://{{_.host}}">{{_.host}}</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize="25"></mat-paginator>
  </app-panel>

  <div class="notification error" *ngIf="websiteService.fetchUnregisteredError">
    Une erreur technique s'est produite
  </div>
</app-page>
