<app-banner title="Connexion"></app-banner>

<app-page pageDefinitionKey="account_login" [loading]="loading" size="small">
  <app-panel>
    <app-panel-body>
      <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="form-horizontal">
        <div class="form-group">
          <label for="login">
            Email (obligatoire)
          </label>
          <div *ngIf="showErrors && loginCtrl.hasError('required')" class="text-warning">
            <i class="material-icons md-18">error_outline</i> Veuillez renseigner votre email.
          </div>
          <input [formControl]="loginCtrl" type="text" class="form-control" id="login" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">
            Mot de passe (obligatoire)
          </label>
          <div *ngIf="showErrors && passwordCtrl.hasError('required')" class="text-warning">
            <i class="material-icons md-18">error_outline</i> Veuillez renseigner votre mot de passe.
          </div>
          <input [formControl]="passwordCtrl" type="password" class="form-control" id="password" placeholder="Mot de passe">
        </div>
        <div class="notification error mt-3" *ngIf="authenticationError">
          {{authenticationError}}
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-lg btn-primary">
              Se connecter
            </button>
            <div class="d-block d-sm-inline-block ml-3 mt-2">
              <a routerLink="{{isDgccrf ? '/connexion/perte-mot-de-passe/dgccrf' : '/connexion/perte-mot-de-passe'}}">Mot de passe oublié</a>
            </div>
          </div>
        </div>
      </form>
      <p class="form-text text-muted text-center pt-3">En cas de difficultés, vous pouvez contacter par email le service <a href="mailto:support@signal.conso.gouv.fr" title="SignalConso (ouverture de la messagerie par défaut)">support@signal.conso.gouv.fr</a>.</p>
    </app-panel-body>
  </app-panel>
</app-page>
