@import "../../../theme/media-queries";
@import "../../../theme/variables";

header {

  img.gov {
    vertical-align: top;
    height: 148px;

    @media #{$smaller-than-desktop} {
      height: 20px;
      margin: 15px 0 15px 15px;
    }
  }

  .brand > img {
    height: 76px;
    margin-left: 40px;
  }

  @media #{$smaller-than-large-desktop} {
    .brand > img {
      height: 50px;
      margin-top: 8px;
    }
  }

  @media #{$smaller-than-desktop} {

    & {
      position: fixed;
      top: 0;
      z-index: 1;
      width: 100%;
      background-color: $white;
      border-bottom: 1px solid $light-grey;
    }

    .brand > img {
      height: 36px;
      margin: 7px 0 7px 22px;
    }
  }

  .navbar {
    padding: 30px;

    .nav-link {
      color: $secondary;
      font-size: 18px;
      font-weight: 600;
      padding: 13px 25px;
      cursor: pointer;

      &:focus, &:hover, &.active {
        color: $blue;
      }

      @media #{$smaller-than-large-desktop} {
        padding: 9px;
      }
    }

    .btn {
      padding: 10px 16px;
      margin-top: 6px;
      margin-left: 25px;
      font-size: 18px;
      line-height: 18px;

      img {
        height: 18px;
        bottom: 3px;
        position: relative;
      }
    }

    @media #{$smaller-than-desktop} {

      position: fixed;
      right: 0;
      top: 0;
      padding: 10px;
      height: 50px;

      .navbar-collapse{

        z-index: 2;

        .navbar-nav {
          border: 1px solid rgba(28, 28, 28, 0.15);
          border-radius: 0.25rem;
        }
      }

      .nav-item {

        background-color: $white;

        & + .nav-item {
          border-top: 1px solid rgba(28, 28, 28, 0.15);
        }

        .nav-link {
          font-size: 18px;
          padding: 10px 24px;

          &:hover {
            background-color: $secondary;
            color: white;
          }
        }
      }

      .material-icons {
        height: 24px;
        margin-top: 2px;
        margin-right: 5px;

        & + span {
          font-size: 12px;
        }
      }

      .btn {
        height: 29px;
        font-size: 12px;
        padding: 0 16px;
        margin-right: 10px;

        img {
          height: 12px;
          margin-left: 6px;
        }
      }
    }
  }

}
