@import "../../../theme/media-queries";
@import "../../../theme/variables";

header {

  .beta {
    background: $light-grey;
    font-size: 18px;
    line-height: 24px;
    height: 40px;
    padding: 8px 22px;

    .departments {
      font-size: 16px;
      text-align: right;
      text-decoration-line: underline;
    }
  }

  .brand > img {
    height: 55px;
  }

  @media #{$smaller-than-desktop} {
    .beta {
      font-size: 12px;
      line-height: 38px;
      height: 50px;
    }

    .brand > img {
      height: 50px;
    }
  }

  .navbar {
    height: 65px;
    padding: 10px 22px;

    .nav-link {
      color: $secondary;
      font-size: 18px;
      font-weight: 600;
      padding: 13px 25px;
      cursor: pointer;

      &:focus, &:hover, &.active {
        color: $blue;
      }
    }

    .btn {
      padding: 10px 16px;
      margin-top: 6px;
      margin-left: 25px;
      font-size: 18px;
      line-height: 18px;

      img {
        height: 18px;
        bottom: 3px;
        position: relative;
      }
    }

    @media #{$smaller-than-desktop} {
      padding: 10px;
      height: 50px;
      background-color: #407CA8;

      .navbar-toggler {
        color: $white;
        padding: 0;
      }

      .navbar-collapse{

        z-index: 2;

        .navbar-nav {
          width: fit-content;
          border: 1px solid rgba(28, 28, 28, 0.15);
          border-radius: 0.25rem;
        }
      }

      .nav-item {

        background-color: $white;

        & + .nav-item {
          border-top: 1px solid rgba(28, 28, 28, 0.15);
        }

        .nav-link {
          font-size: 16px;
          padding: 4px 24px;

          &:hover {
            background-color: $secondary;
            color: white;
          }
        }
      }

      .material-icons {
        height: 24px;
        margin-top: 2px;
        margin-right: 5px;

        & + span {
          font-size: 12px;
        }
      }

      .btn {
        height: 29px;
        font-size: 12px;
        padding: 0 16px;
        margin-right: 10px;

        img {
          height: 12px;
          margin-left: 6px;
        }
      }

      .position-absolute {
        right: 0px;
      }
    }
  }

}
