<header role="banner" id="banner">
  <div id="cookiesBanner"  class="cnil-banner" #cookiesBanner [hidden]="this.hideCNILBanner" >
    <mat-icon class="banner-txt">info</mat-icon>
    <span class="banner-txt" >Le site Signal Conso n'utilise que des cookies techniques exemptés de consentement.</span>
    <button type="button" class="btn banner-btn" (click)="setHideCNILBanner()" >Fermer</button>
    <button type="button" class="btn banner-btn" ><a class="banner-link" href="/cookies">En savoir plus</a></button>
  </div>
  <div class="d-lg-none">
    <img class="gov" src="/assets/images/logo-marianne.svg" alt="Logo gouvernement" />
    <a class="brand" routerLink="/">
      <img src="/assets/images/logo-signalconso.svg" alt="Logo SignalConso / Retour à la page d'accueil" />
    </a>
  </div>
  <nav class="navbar navbar-expand-lg" role="navigation" aria-label="Menu principal">
    <div class="d-none d-lg-block">
      <img class="gov" src="/assets/images/gouv.svg" alt="Logo Gouvernement - Ministère de l'Economie, des Finances et de la Relance" />
      <a class="navbar-brand brand" routerLink="/">
        <img src="/assets/images/logo-signalconso.svg" alt="Logo SignalConso / Retour à la page d'accueil" />
      </a>
    </div>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Menu principal">
      <i class="material-icons text-primary">menu</i>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent" #navbarContent>
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item" [attr.data-toggle]="getNavItemDataToggle()" data-target="#navbarContent">
          <a class="nav-link" routerLink="/" [attr.aria-current]="activeItem === navItems.Home"
             [ngClass]="activeItem === navItems.Home ? 'active' : ''">
            Accueil
          </a>
        </li>
        <li class="nav-item" [attr.data-toggle]="getNavItemDataToggle()" data-target="#navbarContent">
          <a class="nav-link" routerLink="/comment-ça-marche" [attr.aria-current]="activeItem === navItems.How"
             [ngClass]="activeItem === navItems.How ? 'active' : ''">
            Comment ça marche ?
          </a>
        </li>
        <li class="nav-item" [attr.data-toggle]="getNavItemDataToggle()" data-target="#navbarContent">
          <a class="nav-link" routerLink="/centre-aide/consommateur" [attr.aria-current]="activeItem === navItems.FaqConso"
             [ngClass]="activeItem === navItems.FaqConso || activeItem === navItems.FaqPro ? 'active' : ''">
            Centre d'aide
          </a>
        </li>
        <li class="nav-item d-none d-lg-block" [attr.data-toggle]="getNavItemDataToggle()" data-target="#navbarContent">
          <button type="button" class="btn btn-secondary" [routerLink]="['/entreprise/activation']">
            Espace pro
            &nbsp;
            <span class="material-icons">lock_open</span>
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>
