<header class="navbar" role="navigation">
  <div class="navbar__container">
    <a class="navbar__home" href="index.html">
      <img class="navbar__logo" src="/assets/images/logo-marianne.svg" alt="template.data.gouv.fr" />
      <span class="navbar__domain">SignalConso.</span><img src="/assets/images/betagouvfr.svg" class="navbar__gouvfr" alt="data.gouv.fr" />
    </a>

    <nav>
      <ul class="nav__links">
       <li class="nav__item">
          <a routerLink="/qui-sommes-nous">
            Qui sommes-nous ?
          </a>
        </li>
        <li class="nav__item">
          <a routerLink="/comment-ça-marche">
            Comment ça marche ?
          </a>
        </li>
      </ul>
    </nav>
    <div class="ribbon"> BETA </div>
  </div>
</header>
