<header class="navbar" role="navigation">
  <div class="navbar__container">
    <a class="navbar__home" href="/">
      <img class="navbar__logo" src="/assets/images/logo-marianne.svg" alt="logo du site SignalConso" />
      <span class="navbar__domain">SignalConso</span><span class="navbar__gouvfr" alt="data.gouv.fr">.beta.gouv.fr</span>
    </a>

    <nav>
      <ul class="nav__links">
       <li class="nav__item">
          <a routerLink="/qui-sommes-nous">
            Qui sommes-nous ?
          </a>
        </li>
        <li class="nav__item">
          <a routerLink="/comment-ça-marche">
            Comment ça marche ?
          </a>
        </li>
        <li class="nav__item" *ngIf="user">
          <div class="btn-group" dropdown placement="bottom right">
            <button id="button-avatar" dropdownToggle type="button" class="btn btn-outline-secondary dropdown-toggle"
                    aria-controls="dropdown-basic">Compte <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><span class="dropdown-item">{{ user.firstName + " " + user.lastName }}</span></li>
              <li role="menuitem"><span class="dropdown-item"><b>Profil</b> : {{ user.role }}</span></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><span class="dropdown-item cursor" (click)="changePassword()">Modifier mot de passe</span>
              <li role="menuitem"><span class="dropdown-item cursor" (click)="logout()">Se déconnecter</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <div class="ribbon"> BETA </div>
  </div>
</header>
