<app-banner title="Blog"></app-banner>

<app-page size="small" pageDefinitionKey="blog">
  <app-panel>
    <app-panel-body>
      <markdown ngPreserveWhitespaces [src]="articlePath"></markdown>

      <div class="footer-links">
        <a [routerLink]="next" *ngIf="next">Suivant&nbsp;<i class="material-icons">fast_forward</i></a>
        <a [routerLink]="previous" *ngIf="previous"><i class="material-icons">fast_rewind</i>&nbsp;Précédent</a>
      </div>
    </app-panel-body>
  </app-panel>
</app-page>
