<app-banner title="Blog"></app-banner>

<main role="main">
  <section class="section section-lightest-grey">
    <div class="container max-width">

      <markdown ngPreserveWhitespaces [src]="articlePath">

      </markdown>

      <div class="footer-links">
        <a [routerLink]="next" *ngIf="next" class="float-right">Suivant&nbsp;<i class="material-icons">fast_forward</i></a>
        <a [routerLink]="previous" *ngIf="previous" class="float-left"><i class="material-icons">fast_rewind</i>&nbsp;Précédent</a>
      </div>

    </div>
  </section>
</main>
