@import "../../../../theme/variables";
@import "../../../../theme/media-queries";

.notification {

  border: none;
  margin: 0 2em 1em 2em;

  h4 {
    text-align: center;
    font-weight: bold;
    margin: 0;
  }

  img {
    margin-right: 0.5em;
    height: 30px;
  }

  &.note{
    background-color: $white;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    div {
      position: relative;
      padding: 0;
      margin: 0;

      &:first-of-type {
        width: 40px;
      }

      &:nth-of-type(2) {
        width: calc(100% - 40px);
      }
    }
  }


  @media #{$smaller-than-phablet} {
    margin: 0 0 1em 0;
  }
}
