<app-banner title="Activation de l'espace entreprise" [backButton]="true"></app-banner>

<main role="main">
  <section class="section section-lightest-grey position-relative">
    <div class="container max-width">
      <form [formGroup]="activationForm" (ngSubmit)="submitActivationForm()" class="form-horizontal">
        <h4 class="text-center">
          Vous avez reçu un courrier postal pour consulter vos signalements ?
        </h4>
        <h4 class="text-center pb-5">
          Veuillez renseigner votre numéro SIRET et le code à 6 chiffres reçu pour activer votre compte.
        </h4>
        <div class="form-group row">
          <div class="col-sm-3 control-label">
            <label for="login" [class]="hasError(siretCtrl) ? 'error' : ''">
              SIRET <span class="error">*</span>
            </label>
          </div>
          <div class="col-sm-9">
            <input [formControl]="siretCtrl" type="text" class="form-control" id="login" placeholder="14 caractères de votre SIRET">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3 control-label">
            <label for="password" [class]="hasError(codeCtrl) ? 'error' : ''">
              Code <span class="error">*</span>
            </label>
          </div>
          <div class="col-sm-9">
            <input [formControl]="codeCtrl" type="password" class="form-control" id="password" placeholder="Code d'activation à 6 chiffres">
          </div>
        </div>
        <div class="notification error mt-3" *ngIf="showErrors && activationForm.invalid">
          <span *ngIf="siretCtrl.hasError('required')">
            Veuillez renseigner votre SIRET.<br />
          </span>
          <span *ngIf="codeCtrl.hasError('required')">
            Veuillez renseigner votre code d'activation.<br />
          </span>
        </div>
        <div class="notification error mt-3" *ngIf="activationError ">
          Échec de l'activation.
          <div>
            Nous vous invitons à vérifier les éléments suivants :
            <ul>
              <li>Le numéro SIRET est sur 14 chiffres</li>
              <li>
                Vous utilisez le SIRET associé à la raison sociale indiquée sur le courrier.
                Pour une même adresse physique, il est possible d'avoir plusieurs entités juridiques
                et donc plusieurs SIRET (exploitant, gestionnaire, etc.).
                Le code d'activation envoyé n'est valable que pour un SIRET donné
              </li>
              <li>
                Il arrive que certains pare-feux bloquent l'utilisation normale de la plateforme,
                nous vous invitons à vérifier ce point avec votre service informatique
              </li>
            </ul>
            Si vous ne parvenez néanmoins pas à vous connecter, contactez-nous sur
            <a href="mailto:contact@signal.conso.gouv.fr" title="SignalConso (ouverture de la messagerie par défaut)">contact@signal.conso.gouv.fr</a>
            en indiquant votre identité, la date du signalement, le SIRET et le nom de votre établissement.
          </div>
        </div>
        <hr />
        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-lg btn-primary">
              Activer le compte
            </button>
          </div>
        </div>
        <p class="form-text text-muted text-center">
          La création d'un compte est réservée aux entreprises qui ont reçu un courrier qui leur est envoyé lors du premier dépôt d'un signalement les concernant.<br/><br/>
          Pour plus d'informations, veuillez-vous reporter à <a routerLink="/comment-ça-marche/professionnel">la page d'aide pour les entreprises</a>.
        </p>
        <ngx-loading [show]="loading"></ngx-loading>
      </form>
      <div class="notification" *ngIf="!isAuthenticated">
        <div class="row">
          <div class="col-12 col-md-7 pb-2 pt-2 text-center text-md-left">
            <h4>Vous avez déjà activé votre compte ?</h4>
          </div>
          <div class="col-12 col-md-5 text-center text-md-right">
            <button type="button" class="btn btn-lg btn-primary" [routerLink]="['/connexion']">
              Connectez-vous <i class="material-icons md-18" aria-hidden="true">keyboard_arrow_right</i>
            </button>
          </div>
        </div>
      </div>
      <p class="form-text text-muted text-center pt-3">En cas de difficultés, vous pouvez contacter par email le service <a href="mailto:contact@signal.conso.gouv.fr" title="SignalConso (ouverture de la messagerie par défaut)">contact@signal.conso.gouv.fr</a>.</p>
    </div>

    <ngx-loading [show]="loading"></ngx-loading>

  </section>
</main>
