<div class="card" *ngIf="userAccess">
  <div class="card-body">
    <h2 class="card-title">{{userAccess.name}}</h2>
    <p class="card-text">
    <dl class="row">
      <dt class="col-sm-3">SIRET</dt>
      <dd class="col-sm-9">{{userAccess.siret}}</dd>
    </dl>
    <dl class="row">
      <dt class="col-sm-3">
        Adresse
        <i class="material-icons md-18 text-primary pl-2 pointer" aria-hidden="true" title="Détail du signalement"
           (click)="openModal(changeAddress)"
           *appPermission="permissions.updateCompany">
          edit
        </i>
      </dt>
      <dd class="col-sm-9">
        <div>
          {{userAccess.address.number}}
          {{userAccess.address.street}}
          {{userAccess.address.addressSupplement}}
        </div>
        <div>
          {{userAccess.address.postalCode}}
          {{userAccess.address.city}}
        </div>
      </dd>
    </dl>
    <a class="row item" [routerLink]="['/entreprise', 'acces', userAccess.siret]" *ngIf="level == 'admin'">
      <div class="col-12">
        Gérer les accès
        <i class="material-icons md-24 float-right" aria-hidden="true" title="Détail du signalement">keyboard_arrow_right</i>
      </div>
    </a>
    <a class="row item"
       [routerLink]="['/suivi-des-signalements', user.roleUrlParam]"
       [queryParams]="{siretSirenList: userAccess.siret}">
      <div class="col-12">
        Consulter les signalements
        <i class="material-icons md-24 float-right" aria-hidden="true" title="Détail du signalement">keyboard_arrow_right</i>
      </div>
    </a>
  </div>
  <ng-template #changeAddress>
    <div class="modal-body text-center">
      <form [formGroup]="companyAddressForm" (submit)="submitCompanyAddressForm()" id="companyAddressForm">
        <div formGroupName="address">
          <input formControlName="number" placeholder="Numéro"/>
          <input formControlName="street" placeholder="Rue"/>
          <input formControlName="addressSupplement" placeholder="Complément d'adresse"/>
          <input formControlName="postalCode" placeholder="Code postal"/>
          <input formControlName="city" placeholder="Ville"/>
        </div>
        <div class="row text-left pt-3">
          <div class="col-2 col-sm-1 text-right pr-1">
            <input type="checkbox" [formControl]="activationDocumentRequiredCtrl" id="activationDocumentRequired"/>
          </div>
          <div class="col-10 col-sm-11 pl-1">
            <label class="d-block mb-0 pointer" for="activationDocumentRequired">
              Envoyer un nouveau courrier
            </label>
          </div>
        </div>

        <div class="notification error" *ngIf="companyService.fetchError">
          Une erreur technique s'est produite<br />
        </div>

        <hr />
        <button type="submit" class="btn btn-primary mt-2" id="submitCompanyAddressForm" [disabled]="companyAddressForm.invalid">
          Enregistrer
        </button>
      </form>
      <ngx-loading [show]="companyService.fetching"></ngx-loading>
    </div>
  </ng-template>
</div>
