<div class="card" *ngIf="userAccess">
  <div class="card-body">
    <h2 class="card-title">{{userAccess.companyName}}</h2>
    <p class="card-text">
    <dl class="row">
      <dt class="col-sm-3">SIRET</dt>
      <dd class="col-sm-9">{{userAccess.companySiret}}</dd>
    </dl>
    <dl class="row">
      <dt class="col-sm-3">Adresse</dt>
      <dd class="col-sm-9">{{userAccess.companyAddress}}</dd>
    </dl>
    <div class="row item pointer link" [routerLink]="['/entreprise', 'acces', userAccess.companySiret]" *ngIf="userAccess.level == 'admin'">
      <div class="col-12">
        Gérer les accès
        <i class="material-icons md-24 float-right" aria-hidden="true" title="Détail du signalement">keyboard_arrow_right</i>
      </div>
    </div>
    <div class="row item pointer link" [routerLink]="['/suivi-des-signalements', 'siret', userAccess.companySiret]">
      <div class="col-12">
        Consulter les signalements
        <i class="material-icons md-24 float-right" aria-hidden="true" title="Détail du signalement">keyboard_arrow_right</i>
      </div>
    </div>
  </div>
</div>
