<app-banner title="Inviter un nouvel utilisateur" [backButton]="true"></app-banner>

<main role="main">
  <section class="section section-white position-relative">
    <div class="container">
      <form class="form" [formGroup]="invitationForm" (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col-12 col-sm-6">
            <label>Email de l'utilisateur</label>
            <input type="email" class="form-control" [formControl]="emailCtrl">
          </div>
          <div class="col-12 col-sm-6">
            <label>Niveau d'accès</label>
            <select class="form-control" [value]="'member'" [formControl]="levelCtrl">
              <option *ngFor="let level of accessLevels | keyvalue" [ngValue]="level.key">{{level.value}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <small class="form-text text-muted">
              Un courrier électronique sera envoyé à l'adresse e-mail saisie ci-dessus avec un lien sécurisé permettant de rejoindre le compte de l'entreprise.
            </small>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col text-center mb-1">
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </div>
        </div>
        <div class="notification error mt-3" *ngIf="showErrors && invitationForm.invalid">
          <div *ngIf="emailCtrl.hasError('required')">
            Veuillez renseigner votre email.
          </div>
          <div *ngIf="emailCtrl.hasError('email')">
            Veuillez renseigner une adresse email valide.
          </div>
          <div *ngIf="levelCtrl.hasError('required')">
            Sélectionnez le niveau d'accès.
          </div>
        </div>
        <div class="notification success" *ngIf="showSuccess">Un email d'invitation a été envoyé !</div>
      </form>
    </div>
    <ngx-loading [show]="loading"></ngx-loading>
  </section>
</main>
