<app-banner title="Nouveau mot de passe"></app-banner>

<main role="main">
  <section class="section section-lightest-grey position-relative">
    <div class="container max-width">
      <div class="notification success mt-3" *ngIf="showSuccess; else newPassword">
        Votre mot de passe est maintenant créé, vous pouvez <a routerLink="/connexion">vous connecter</a> pour accéder à votre espace entreprise.
      </div>
      <ng-template #newPassword>
        <form [formGroup]="newPasswordForm" (ngSubmit)="submitForm()" class="form-horizontal">

          <div class="form-group row">
            <label for="password" class="col-sm-6 control-label">
              Nouveau mot de passe&nbsp;<span class="error">*</span>
            </label>
            <div class="col-sm-6">
              <input [formControl]="passwordCtrl" type="password" class="form-control" id="password" placeholder="Nouveau mot de passe" (focus)="resetMessages()">
              <small class="form-text text-muted">Le mot de passe doit avoir 8 caractères minimum.</small>
            </div>
          </div>
          <div class="form-group row">
            <label for="confirmPassword" class="col-sm-6 control-label">
              Confirmer le nouveau mot de passe&nbsp;<span class="error">*</span>
            </label>
            <div class="col-sm-6">
              <input [formControl]="confirmPasswordCtrl" type="password" class="form-control" id="confirmPassword" placeholder="Nouveau mot de passe" (focus)="resetMessages()">
            </div>
          </div>

          <div class="notification error mt-3" *ngIf="showErrors && newPasswordForm.invalid">
            <span *ngIf="passwordCtrl.hasError('required')">
              Erreur sur le nouveau mot de passe.<br />
            </span>
            <span *ngIf="passwordCtrl.hasError('minlength')">
              Le nouveau mot de passe doit avoir 8 caractères minimum.<br />
            </span>
            <span *ngIf="confirmPasswordCtrl.hasError('required')">
              Erreur sur le nouveau mot de passe.<br />
            </span>
            <span *ngIf="newPasswordForm.hasError('notEquivalent')">
              Les 2 mots de passe ne correspondent pas.<br />
            </span>
          </div>
          <div class="notification error mt-3" *ngIf="loadingError">
            {{loadingError}}
          </div>
          <hr />
          <div class="form-group row">
            <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-lg btn-primary">
                Valider
              </button>
            </div>
          </div>
        </form>
      </ng-template>
      <p class="form-text text-muted text-center pt-5">
        En cas de difficultés, vous pouvez contacter par email le service <a href="mailto:contact@signal.conso.gouv.fr" title="SignalConso (ouverture de la messagerie par défaut)">contact@signal.conso.gouv.fr</a>.
      </p>
    </div>
    <ngx-loading [show]="loading"></ngx-loading>
  </section>
</main>
