<app-banner title="Suivi des numéros de téléphone"></app-banner>

<app-page animated="false">
  <app-reported-phones-tabs></app-reported-phones-tabs>
  <app-panel [loading]="reportedPhoneService.fetching" [formGroup]="form">
    <app-panel-header>
      <input
        class="form-control form-control-material"
        formControlName="phone"
        placeholder="Phone"
      />
      &nbsp;&nbsp;
      <mat-select placeholder="Statut" class="select-status form-control form-control-material" multiple
                  formControlName="status">
        <mat-option [value]="reportedPhonesStatus.VALIDATED">Validé</mat-option>
        <mat-option [value]="reportedPhonesStatus.PENDING">Non Validé</mat-option>
      </mat-select>
    </app-panel-header>


    <div class="table-overflow">
      <table mat-table [dataSource]="dataSource" class="fullwidth" matSort matSortActive="creationDate" matSortDirection="desc">
        <ng-container matColumnDef="creationDate">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="td-date">Date</th>
          <td mat-cell *matCellDef="let _" class="td-date">
            {{_.creationDate | date}}
          </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th class="td-phone" mat-sort-header mat-header-cell *matHeaderCellDef>Numéro de téléphone</th>
          <td class="td-phone" mat-cell *matCellDef="let _">
            {{_.phone}}
          </td>
        </ng-container>

        <ng-container matColumnDef="count">
          <th class="td-count td-number" mat-sort-header mat-header-cell *matHeaderCellDef>Signalements</th>
          <td class="td-count td-number" mat-cell *matCellDef="let _">
            {{_.count}}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-sort-header mat-header-cell *matHeaderCellDef class="td-actions"></th>
          <td mat-cell *matCellDef="let _" class="td-actions">
            <button
              class="align-middle"
              app-btn icon="check_circle_outline"
              [loading]="this.reportedPhoneService.updating(_.id)"
              [error]="this.reportedPhoneService.updateError(_.id)"
              [success]="_.status === reportedPhonesStatus.VALIDATED"
              (click)="toggleReportedPhoneStatus(_)">
              {{_.status === reportedPhonesStatus.VALIDATED ? 'Validé' : 'Valider'}}
            </button>

            <button mat-icon-button color="primary" class="align-middle"
                    (click)="remove(_.id)"
                    [appLoading]="reportedPhoneService.removing(_.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="company">
          <th class="td-company" mat-sort-header mat-header-cell *matHeaderCellDef>Entreprise</th>
          <td class="td-company" mat-cell *matCellDef="let _">
            <button
              app-btn icon="edit"
              [loading]="reportedPhoneService.updatingCompany(_.id)"
              [error]="!!reportedPhoneService.updateCompanyError(_.id)"
              [matTooltip]="reportedPhoneService.updateCompanyError(_.id) && 'L&quot;quoentreprise est déjà associée à ce numéro de téléphone'"
              [appCompanySearchDialog]="_.company?.siret"
              (companySelected)="updateCompany(_, $event)"
            >
              <span class="company-name">{{_.company?.name}}</span>
              &nbsp;
              <div (click)="$event.stopImmediatePropagation()" class="siret">{{_.company?.siret}}</div>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize="25"></mat-paginator>
  </app-panel>
</app-page>
