<app-banner title="Plan du site"></app-banner>

<app-page pageDefinitionKey="sitemap" size="small">
  <app-panel>
    <app-panel-body>
      <h2>Pages générales</h2>
      <ul>
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/suivi-et-vie-privee">Suivi d'audience et vie privée</a></li>
        <li><a routerLink="/cookies">Gestion des cookies</a></li>
        <li><a routerLink="/conditions-generales-utilisation">Conditions générales d'utilisation du site SignalConso</a>
        </li>
        <li><a routerLink="/accessibilite">Déclaration d'accessibilité</a></li>
        <li><a routerLink="/plan-du-site">Plan du site</a></li>
        <li><a routerLink="/qui-sommes-nous">Qui sommes-nous ?</a></li>
        <li><a href="/comment-ça-marche">Comment ça marche ?</a></li>
        <li><a href="/stats">Statistiques</a></li>
        <li><a href="/centre-aide/consommateur">Centre d'aide</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <h2>Dépôt d'un signalement</h2>
      <a routerLink="/arborescence">Voir l'arborescence</a>
      <ul>
        <li>Étape 1 - Le problème</li>
        <li>Étape 2 - La description</li>
        <li>Étape 3 - Le commerçant</li>
        <li>Étape 4 - Le consommateur</li>
        <li>Étape 5 - Confirmation</li>
      </ul>
      <h2>Espace pro</h2>
      <ul>
        <li><a href="/entreprise/activation">Activation de l'espace entreprise</a></li>
        <li><a href="/connexion">Connexion</a></li>
        <li>Suivi des signalements</li>
        <li>Détail du signalements</li>
        <li>Mes entreprises</li>
        <li>Gestion des accès</li>
        <li>Modification du mot de passe</li>
      </ul>
      <h2>Espace DGCCRF</h2>
      <ul>
        <li><a href="/dgccrf">Connexion</a></li>
        <li>Suivi des signalements</li>
        <li>Détail du signalements</li>
        <li>Suivi des entreprises</li>
        <li>Abonnements</li>
        <li>Modification du mot de passe</li>
      </ul>
    </app-panel-body>
  </app-panel>
</app-page>
