@import "../../../../theme/variables";

* {
  font-size: 20px;
}

.text-muted {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 5px;
}

.card-body {
  padding: 1em;
  margin: 1em 0;
}

a:hover {
  text-decoration: none;

  div {
    background-color: $lighter-grey;
  }
}
