<app-banner title="Qui sommes-nous&nbsp;?"></app-banner>

<main role="main">
  <section class="section section-lightest-grey">
    <div class="container max-width">

      <div class="card">
        <div class="card-body">
          <h2>Notre structure</h2>
          <p>Nous sommes ce qu’on appelle une «&nbsp;<a href="https://beta.gouv.fr/apropos/">Startup d’État</a>&nbsp;». Il s’agit d’une petite équipe qui crée un service public numérique pour répondre à un problème qui touche les citoyens. Elle n’a pas pour objectif de faire du profit, mais de maximiser son impact social en répondant aux besoins des utilisateurs.</p>
          <p>Notre Startup d’État est rattachée à la <abbr title="Direction Générale de la Concurrence, Consommation et Répression des Fraudes">DGCCRF</abbr> dont la mission s'articule autour de trois axes :</p>
          <ul>
            <li>la régulation concurrentielle des marchés&nbsp;;</li>
            <li>la protection économique des consommateurs&nbsp;;</li>
            <li>la sécurité des consommateurs.</li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2>Notre façon de travailler</h2>
          <p>Un seul crédo : être au plus près des besoins des usagers&nbsp;! Pour ce faire, nous basons notre travail sur l’expérimentation. Une idée&nbsp;? Nous la testons&nbsp;!</p>
          <p>C’est pourquoi notre produit n’est pas figé mais en perpétuelle évolution. Nous rencontrons régulièrement des consommateurs pour tester l’ergonomie, le vocabulaire utilisé ou les réponses apportées.</p>
          <blockquote><p>«&nbsp;Je n’ai pas échoué, j’ai juste trouvé 10.000 moyens qui ne fonctionnent pas.&nbsp;»<br><span>— Thomas Edison</span></p></blockquote>
          <p>
            Retrouvez plus d'informations et les mises à jour du site sur notre <a routerLink="/blog">blog</a>.
          </p>
        </div>
      </div>


      <div class="card">
        <div class="card-body">
          <h2>Notre équipe</h2>
          <div class="row">
            <div class="col-12 col-sm-6 pb-4">
              <div class="team-member">
                <div class="team-member-info">
                  <div class="team-member-name">Magali Marcel</div>
                  <div class="team-member-role">Chef de produit SignalConso<br />Inspecteur <abbr title="Direction Général de la Concurrence, Consommation et Répression des Fraudes">DGCCRF</abbr></div>
                </div>
                <img src="/assets/images/avatars/avatar-magali.png" alt="Avatar Magali Marcel"/>
              </div>
            </div>
            <div class="col-12 col-sm-6 pb-4">
              <div class="team-member">
                <div class="team-member-info">
                  <div class="team-member-name">Valentine Michaud</div>
                  <div class="team-member-role">Chargée de déploiement</div>
                </div>
                <img src="/assets/images/avatars/avatar-valentine.png" alt="Avatar Valentine Michaud"/>
              </div>
            </div>

            <div class="col-12 col-sm-6 pb-4">
              <div class="team-member">
                <div class="team-member-info">
                  <div class="team-member-name">Jérôme Rivals</div>
                  <div class="team-member-role">Développeur informatique</div>
                </div>
                <img src="/assets/images/avatars/avatar-jerome.png" alt="Avatar Jérôme Rivals"/>
              </div>
            </div>
            <div class="col-12 col-sm-6 pb-4">
              <div class="team-member">
                <div class="team-member-info">
                  <div class="team-member-name">Thomas Chaumeny</div>
                  <div class="team-member-role">Développeur informatique</div>
                </div>
                <img src="/assets/images/avatars/avatar-thomas.png" alt="Avatar Thomas Chaumeny"/>
              </div>
            </div>
            <div class="col-12 col-sm-6 pb-4">
              <div class="team-member">
                <div class="team-member-info">
                  <div class="team-member-name">Julien Rayneau</div>
                  <div class="team-member-role">Coach Startup d'État</div>
                </div>
                <img src="/assets/images/avatars/avatar-julien.png" alt="Avatar Julien Rayneau"/>
              </div>
            </div>
            <div class="col-12 col-sm-6 pb-4">
              <div class="team-member old">
                <div class="team-member-info">
                  <div class="team-member-name">Grégoire Aubert</div>
                  <div class="team-member-role">Chargé de déploiement</div>
                </div>
                <img src="/assets/images/avatars/avatar-gregoire.png" alt="Avatar Grégoire Aubert"/>
              </div>
            </div>
             <div class="col-12 col-sm-6 pb-4">
              <div class="team-member old">
                <div class="team-member-info">
                  <div class="team-member-name">Agnès Mayanobe</div>
                  <div class="team-member-role">Chargé de déploiement<br />Inspecteur <abbr title="Direction Générale de la Concurrence, Consommation et Répression des Fraudes">DGCCRF</abbr></div>
                </div>
                <img src="/assets/images/avatars/avatar-agnes.png" alt="Avatar Agnès Mayanobe"/>
              </div>
            </div>
            <div class="col-12 col-sm-6 pb-4">
              <div class="team-member old">
                <div class="team-member-info">
                  <div class="team-member-name">Pierre-Olivier Mauguet</div>
                  <div class="team-member-role">Développeur informatique</div>
                </div>
                <img src="/assets/images/avatars/avatar-pierre-olivier.png" alt="Avatar Pierre-Olivier Mauguet"/>
              </div>
            </div>
            <div class="col-12 col-sm-6 pb-4">
              <div class="team-member old">
                <div class="team-member-info">
                  <div class="team-member-name">Franck Coufourier</div>
                  <div class="team-member-role">Développeur informatique</div>
                </div>
                <img src="/assets/images/avatars/avatar-franck.png" alt="Avatar Franck Coufourier"/>
              </div>
            </div>
            <div class="col-12 col-sm-6 pb-4">
              <div class="team-member old">
                <div class="team-member-info">
                  <div class="team-member-name">Alexandre Michel</div>
                  <div class="team-member-role">Chargé de déploiement</div>
                </div>
                <img src="/assets/images/avatars/avatar-alexandre.png" alt="Avatar Alexandre Michel"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
