@import "../../../../theme/variables";


.card {

  margin-bottom: 2em;

  h2 {
    font-weight: bold;
  }
}


.team-member {

  background-color: $lightest-grey;
  border: $light-grey 1px solid;
  padding: 5px;

  &.old {
   opacity: 0.3; 
  }

  img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    float: right;
  }
}

.team-member-info {
  display: inline-block;
  min-height: 64px;
  margin-bottom: 1em;
}

.team-member-name {
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.team-member-role {
  color: $darker-grey;
  font-size: .9em;
  line-height: 1.3em;
}
