<app-banner title="Inviter un utilisateur DGCCRF" [backButton]="true"></app-banner>

<app-page pageDefinitionKey="secured_admin" size="small">
  <form class="form" [formGroup]="invitationForm" (ngSubmit)="submitForm()">
    <app-panel [loading]="loading">
      <app-panel-body>

        <app-alert type="error" *ngIf="showErrors && invitationForm.invalid">
          <span *ngIf="emailCtrl.hasError('required')">
            Veuillez renseigner une adresse email.<br/>
          </span>
          <span *ngIf="emailCtrl.hasError('email')">
            Veuillez renseigner une adresse email valide.<br/>
          </span>
        </app-alert>

        <app-alert type="error" *ngIf="emailRejectedError">
          {{emailRejectedError}}
        </app-alert>

        <app-alert type="success" *ngIf="showSuccess">Un email d'invitation a été envoyé !</app-alert>

        <label>Email de l'utilisateur</label>
        <p class="txt-secondary">
          Un courrier électronique sera envoyé à l'adresse e-mail saisie ci-dessus avec un lien sécurisé permettant
          de créer un compte DGCCRF.
        </p>

        <input type="email" class="form-control" [formControl]="emailCtrl">
      </app-panel-body>
      <app-panel-actions>
        <button mat-raised-button color="primary" type="submit">Envoyer</button>
      </app-panel-actions>
    </app-panel>
  </form>

  <ul class="list-group list-group-horizontal mb-3">
    <li class="list-group-item" (click)="!pendingDGCCRF && showPendingDGCCRF()"
        [ngClass]="pendingDGCCRF ? 'active' : 'pointer'">Invitations en attente
    </li>
    <li class="list-group-item" (click)="!usersDGCCRF && showUsersDGCCRF()"
        [ngClass]="usersDGCCRF? 'active' : 'pointer'">Tous les utilisateurs
    </li>
  </ul>

  <app-panel *ngIf="pendingDGCCRF || usersDGCCRF || fetching" [loading]="fetching">
    <table mat-table *ngIf="pendingDGCCRF" [dataSource]="pendingDGCCRF" class="fullwidth">
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let _">{{_.email}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date d'invitation</th>
        <td mat-cell *matCellDef="let _">{{_.tokenCreation | date: 'mediumDate'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['email', 'date']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['email', 'date'];"></tr>
    </table>

    <table mat-table *ngIf="usersDGCCRF" [dataSource]="usersDGCCRF" class="fullwidth">
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let _">{{_.email}}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let _">{{_.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Prénom</th>
        <td mat-cell *matCellDef="let _"> {{_.lastName}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['email', 'firstName', 'lastName']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['email', 'firstName', 'lastName'];"></tr>
    </table>
  </app-panel>
</app-page>
