<div class="overflow-container">
  <app-banner title="Suivi des entreprises"></app-banner>

  <app-page pageDefinitionKey="companies_companiesAdmin">
    <app-panel [loading]="loading">
      <nav class="nav nav-tabs nav-justified mb-3" role="tablist" aria-label="Type d'entreprise">
        <button class="nav-item nav-link" *ngFor="let navTab of navTabs"
                [ngClass]="navTab === currentNavTab ? 'active' : ''" [routerLink]="navTab.link"
                role="tab" [attr.aria-selected]="navTab === currentNavTab"
                [attr.aria-controls]="currentNavTab.label + '-panel'" [id]="currentNavTab.label + '-tab'"
                [tabIndex]="navTab === currentNavTab ? 0 : -1"
                (keydown.arrowRight)="nextTab()" (keydown.arrowLeft)="previousTab()">
          {{navTab.label}}
        </button>
      </nav>

    <section class="section section-lightest-grey">
      <div class="container position-relative bg-white pb-3">
        <nav class="nav nav-tabs nav-justified mb-3" role="tablist" aria-label="Type d'entreprise">
          <button class="nav-item nav-link" *ngFor="let navTab of navTabs" [ngClass]="navTab === currentNavTab ? 'active' : ''" [routerLink]="navTab.link"
                  role="tab" [attr.aria-selected]="navTab === currentNavTab" [attr.aria-controls]="currentNavTab.label + '-panel'" [id]="currentNavTab.label + '-tab'"
                  [tabIndex]="navTab === currentNavTab ? 0 : -1"
                  (keydown.arrowRight)="nextTab()" (keydown.arrowLeft)="previousTab()">
            {{navTab.label}}
          </button>
        </nav>

        <ng-container [ngSwitch]="currentNavTab">

          <div *ngSwitchCase="searchTab" tabindex="0" role="tabpanel" [id]="searchTab.label + '-panel'" [attr.aria-labelledby]="searchTab.label + '-tab'">
            <input
              [formControl]="searchCtrl"
              name="searchCompany"
              class="form-control form-control-material"
              placeholder="Recherche par SIRET / Nom / Référence de courrier (obligatoire)"
            >
            <div class="mt-3 mb-3">
              <button type="submit" mat-raised-button color="primary" matSuffix (click)="searchCompanies()" [disabled]="searchCtrl.invalid">
                <mat-icon>search</mat-icon>
                Rechercher
              </button>
            </div>
            <app-alert type="error" *ngIf="companyService.creatingError || companyService.fetchError">
              Une erreur technique s'est produite, veuillez réessayer ultérieurement.<br/>
            </app-alert>
            <app-alert autoHide type="success" *ngIf="companyCreationSucceed">
              Entrepise enregistrée !
              <button mat-button app-alert-close>Masquer</button>
            </app-alert>

            <ng-container *ngIf="companyService.data | async as companies">
              <hr />
              <div [ngSwitch]="companies.length">
                <ng-container *ngSwitchCase="0">
                  <h2 class="text-center">Aucune entreprise trouvée</h2>
                  <div class="row">
                    <div class="col-12 col-sm-6 mt-3">
                      <button
                        type="button"
                        mat-stroked-button
                        color="primary"
                        matSuffix
                        [appCompanySearchDialog]="searchCtrl.value"
                        (companySelected)="createCompany($event)"
                      >
                        <mat-icon>add</mat-icon>
                        Enregistrer une entreprise
                      </button>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="1">
                  <h2 class="text-center">Une entreprise trouvée</h2>
                  <template [ngTemplateOutlet]="companyCards"></template>
                </ng-template>
              </ng-container>
              <ng-template #companyCards>
                <app-panel-body>
                  <div class="row">
                    <div class="col-12 col-sm-6 mt-3" *ngFor="let company of companies">
                      <app-company-card [userAccess]="company" level="admin"></app-company-card>
                    </div>
                  </div>
                </app-panel-body>
              </ng-template>
            </div>
          </ng-container>
        </div>

        <div *ngSwitchCase="mostReportedTab" tabindex="0" role="tabpanel" [id]="mostReportedTab.label + '-panel'"
             [attr.aria-labelledby]="mostReportedTab.label + '-tab'">

          <div class="table-responsive" *appRole="[roles.Admin, roles.DGCCRF]">
            <table class="table">
              <caption class="sr-only">Liste des entreprises les plus signalées</caption>
              <thead>
              <tr>
                <th>Commune</th>
                <th>SIRET</th>
                <th>Entreprise</th>
                <th>Nombre de signalements</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="!loading && !lines?.length">
                <td colspan="7">
                  <span class="error" *ngIf="loadingError">Une erreur technique s'est produite</span>
                  <span *ngIf="!loadingError">Aucun signalement trouvé</span>
                </td>
              </tr>
              <tr *ngFor="let line of lines" class="pointer"
                  [routerLink]="['/suivi-des-signalements', user.roleUrlParam]"
                  [queryParams]="{siretSirenList: line.companySiret}">
                <td>{{line.companyPostalCode}}</td>
                <td>{{line.companySiret}}</td>
                <td>{{line.companyName}}</td>
                <td>{{line.count}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <pagination *appRole="[roles.Admin, roles.DGCCRF]" [boundaryLinks]="true" [totalItems]="totalCount"
                      [maxSize]="5" [itemsPerPage]="itemsPerPage" (pageChanged)="changePage($event)"
                      [(ngModel)]="currentPage" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                      lastText="&raquo;" class="justify-content-center">
          </pagination>
        </div>

        <div *ngSwitchCase="toActivateTab" tabindex="0" role="tabpanel" [id]="toActivateTab.label + '-panel'"
             [attr.aria-labelledby]="toActivateTab.label + '-tab'">
          <div class="table-responsive" *appRole="[roles.Admin, roles.DGCCRF]">
            <table class="table">
              <caption class="sr-only">Liste des entreprises à activer</caption>
              <thead>
              <tr>
                <th *appRole="[roles.Admin]" class="th-checkbox">
                  <input type="checkbox"
                         [checked]="companiesToActivate && companiesToActivate.length === checkedCompaniesUuids.size"
                         (click)="checkAllCompanies()"/>
                  <div dropdown placement="right" class="btn-group d-inline-block position-relative">
                    <button dropdownToggle type="button" class="dropdown-toggle bg-transparent border-0">
                    </button>
                    <ul id="dropdown-actions" *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu"
                        aria-labelledby="button-basic">
                      <li role="menuitem dropdown-item">
                        <span class="pointer dropdown-item" (click)="downloadActivationDocuments()">Télécharger les
                          courriers</span>
                      </li>
                      <li role="menuitem">
                        <span class="pointer dropdown-item" (click)="openModal(confirmLettersSendingTpl)">Valider
                          l'envoi des courriers</span>
                      </li>
                    </ul>
                  </div>
                </th>
                <th>Entreprise</th>
                <th class="th-address">Adresse</th>
                <th class="th-date text-center">Date de création</th>
                <th class="th-date text-center">Relance</th>
                <ng-template #confirmLettersSendingTpl>
                  <div class="modal-body text-center">
                    <p>Confirmez-vous l'envoi des courriers pour les entreprises sélectionnés ?</p>

                    <div class="notification error" *ngIf="loadingError">
                      Une erreur technique s'est produite<br/>
                    </div>

                    <hr/>

                    <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">Non</button>
                    &nbsp;
                    <button type="button" class="btn btn-primary" (click)="confirmLettersSending()">Oui</button>
                  </div>
                </ng-template>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="!loading && !companiesToActivate?.length">
                <td colspan="7">
                  <span class="error" *ngIf="loadingError">Une erreur technique s'est produite</span>
                  <span *ngIf="!loadingError">Aucune entreprise à activer</span>
                </td>
              </tr>
              <tr *ngFor="let toActivate of companiesToActivate">
                <td *appRole="[roles.Admin]" class="col-checkbox" (click)="checkCompany(toActivate.company.id)">
                  <input type="checkbox" [checked]="checkedCompaniesUuids.has(toActivate.company.id)"/>
                </td>
                <td><a [routerLink]="['/entreprises', 'recherche']"
                       [queryParams]="{q: toActivate.company.siret}">{{toActivate.company.name}}
                  ({{toActivate.company.siret}})</a></td>
                <td>
                  <small *ngFor="let line of toActivate.company.address.split(' - ')">{{line}}<br/></small>
                </td>
                <td class="text-center">{{toActivate.tokenCreation | date : 'dd/MM/yyyy'}}</td>
                <td class="text-center">{{toActivate.lastNotice && "✓"}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
    </app-panel>
  </app-page>
</div>


