<div class="container mb-5">
  <div class="row">
    <div class="offset-lg-2 col-lg-8 col-sm-12 pb-3" *ngIf="!showSuccess">
      <p class="mb-2 intro">
        <span class="font-weight-bold">
          Vous ne serez pas contacté à la suite de votre signalement.
          Il ne déclenchera pas à lui seul un contrôle des autorités.
        </span>
      </p>

      <p class="mb-5 intro">
        <span class="font-weight-bold">
          Afin de corriger lui-même l’anomalie, le professionnel pourra aussi consulter votre signalement anonymisé.
        </span>
      </p>

      <form [formGroup]="signalementForm" (submit)="createSignalement()">

        <div class="panel">
          <div class="form-group">
            <label>
              Sélectionnez d'abord le type d'établissement que vous souhaitez signaler <span>*</span>
            </label>
            <select formControlName="typeEtablissement"
                    class="form-control"
                    (change)="changeTypeEtablissement()">
              <option disabled value="">Choisissez ...</option>
              <option *ngFor="let anomalie of anomalies" value="{{anomalie.typeEtablissement}}">{{anomalie.typeEtablissement}}</option>
            </select>
            <div class="invalid" *ngIf="showErrors && typeEtablissementCtrl.hasError('required')">
              Veuillez compléter le champ "Type d'établissement".
            </div>
          </div>

          <div class="form-group" *ngIf="signalementForm.controls['categorieAnomalie']">
            <label>
              Puis, indiquez le type d'anomalie que vous avez constaté <span>*</span>
            </label>
            <select formControlName="categorieAnomalie"
                    class="form-control"
                    (change)="changeCategorieAnomalie()">
              <option disabled value="">Choisissez ...</option>
              <option *ngFor="let typeAnomalie of typeAnomalieList" value="{{typeAnomalie.categorie}}">{{typeAnomalie.categorie}}</option>
            </select>
            <div class="invalid" *ngIf="showErrors && categoryAnomalieCtrl.hasError('required')">
              Veuillez compléter le champ "Type d'anomalie".
            </div>
          </div>

          <div class="form-group" *ngIf="signalementForm.controls['precisionAnomalie']">
            <label>
              Précisez enfin l'anomalie <span>*</span>
            </label>
            <select formControlName="precisionAnomalie"
                    class="form-control">
              <option disabled value="">Choisissez ...</option>
              <option *ngFor="let precisionAnomalie of precisionAnomalieList" value="{{precisionAnomalie}}">{{precisionAnomalie}}</option>
            </select>
            <div class="invalid" *ngIf="showErrors && precisionAnomalieCtrl.hasError('required')">
              Veuillez compléter le champ "Anomalie".
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="form-group">
            <label>
              Nom de l'établissement <span>*</span>
            </label>
            <input type="text" formControlName="nomEtablissement" class="form-control">
            <div class="invalid" *ngIf="showErrors && nomEtablissementCtrl.hasError('required')">
              Veuillez compléter le champ "Nom de l'établissement".
            </div>
          </div>

          <div class="form-group">
            <label>
              Adresse de l'établissement <span>*</span>
            </label>
            <input type="text" formControlName="adresseEtablissement" class="form-control">
            <div class="invalid" *ngIf="showErrors && adresseEtablissementCtrl.hasError('required')">
              Veuillez compléter le champ "Adresse de l'établissement".
            </div>
          </div>
        </div>


        <div class="panel">

          <label>
            Veuillez préciser la date <span>*</span> et la plage horaire du constat
          </label>
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <input type="text"
                       formControlName="dateConstat"
                       placeholder="Date du constat"
                       class="form-control"
                       bsDatepicker
                       [bsConfig]="{ containerClass: 'theme-default' }">
                <div class="invalid" *ngIf="showErrors && dateConstatCtrl.hasError('required')">
                  Veuillez compléter le champ "Date du constat".
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <select formControlName="heureConstat"
                        class="form-control">
                  <option disabled value="">Plage horaire</option>
                  <option *ngFor="let hour of plageHoraireList" value="{{hour}}">de {{hour}}h à {{hour + 1}}h</option>
                </select>
              </div>
            </div>
          </div>

          <label>
            Vous pouvez également ajouter des photos
          </label>
          <app-file-input
            [placeholder]="'Photo du ticket de caisse'"
            (fileSelected)="onTicketFileSelected($event)">
          </app-file-input>
          <app-file-input
            [placeholder]="'Photo du problème'"
            (fileSelected)="onAnomalieFileSelected($event)">
          </app-file-input>

          <div class="form-group">
            <label>
              Vous pouvez préciser votre signalement
            </label>
            <textarea formControlName="description" class="form-control"
                      rows="3"
                      maxlength="200"
                      placeholder="200 caractères maximum">
            </textarea>
          </div>

        </div>

        <div class="panel">
          <p class="font-weight-bold">
            Merci de compléter votre identité afin d'authentifier votre signalement.
            <br/>
            Votre identité ne sera pas indiquée au professionnel et vous ne serez pas sollicité.
          </p>

          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>
                  Votre prénom <span>*</span>
                </label>
                <input type="text" formControlName="prenom" class="form-control">
                <div class="invalid" *ngIf="showErrors && prenomCtrl.hasError('required')">
                  Veuillez compléter le champ "Prénom".
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>
                  Votre nom <span>*</span>
                </label>
                <input type="text" formControlName="nom" class="form-control">
                <div class="invalid" *ngIf="showErrors && nomCtrl.hasError('required')">
                  Veuillez compléter le champ "Nom".
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>
              Votre email <span>*</span>
            </label>
            <input type="email" formControlName="email" class="form-control">
            <div class="invalid" *ngIf="showErrors && emailCtrl.hasError('required')">
              Veuillez compléter le champ "Email".
            </div>
            <div class="invalid" *ngIf="showErrors && emailCtrl.hasError('email')">
              Veuillez renseigner une adresse email valide pour le champ "E-mail".
            </div>
          </div>

          <div class="form-group">
            <input formControlName="accordContact" type="checkbox" value="" id="anonymousCheck">
            <label for="anonymousCheck" class="label-inline">
              Je préfère ne pas être anonyme vis à vis des professionnels pour qu'ils puissent me contacter.
            </label>
          </div>
        </div>

        <ng-container *ngIf="!isLoading">
          <button type="submit" class="btn btn-primary btn-lg btn-block" *ngIf="isIntoxicationAlimentaire(); else mainButton">
            Suivant
          </button>
          <ng-template #mainButton>
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Signaler
            </button>
          </ng-template>
        </ng-container>

        <div class="text-center" *ngIf="isLoading">
          <img src="/assets/images/loader.gif">
          <br />Transmission en cours ...
        </div>

      </form>

      <p class="font-italic text-right pt-5">
        <small>Projet en cours d'expérimentation par la DGCCRF & Beta.Gouv</small>
      </p>
    </div>

    <div *ngIf="showSuccess" class="offset-lg-2 col-lg-8 col-sm-12 pb-3">

      <ng-container *ngIf="isIntoxicationAlimentaire(); else thanks">
        Les cas d'intoxication alimentaire nécessitent une analyse individualisée
        (notamment le nombre de personnes malades, symptômes et aliments suspectés )
        et peuvent déboucher sur un échange avec les enquêteurs.
        Veuillez remplir le formulaire "Courrier" de la DGCCRF en cliquant sur le lien ci-contre :
        <a href="https://www.economie.gouv.fr/courrier/4210">https://www.economie.gouv.fr/courrier/4210</a>
      </ng-container>

      <ng-template #thanks>
        <h2>Merci pour votre signalement</h2>
        <p class="mt-4">
          Afin de corriger lui-même l’anomalie, le professionnel pourra aussi consulter votre signalement anonymisé. Il ne déclenchera pas à lui seul un contrôle des autorités.
        </p>
      </ng-template>
    </div>
  </div>
</div>
