@import "../../../theme/variables";
@import "../../../theme/media-queries";

.max-width {
  max-width: 750px;
}

.banner {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.banner h1 {
  color: #26353f;
  background-color: #fff;
  padding: .5em;
  display: inline-block;
}

.category {
  background: $white;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(201, 211, 223, .2);
  box-shadow: 0 1px 2px rgba(201, 211, 223, .2);
  padding: 1em;
  border: 1px solid $light-grey;
  margin: 1em 0;
  height: calc(100% - 32px);
  transition: all .2s ease-in-out;

  @media #{$larger-than-tablet} {
    &:hover {
      transform: scale(1.1);
      border-color: $primary;
    }
  }
  @media #{$smaller-than-tablet} {
    &:active {
      border-color: $primary;
    }
  }

  img {
    height: 40px;
  }
}

.notification {

  img {
    width: 24px;
    vertical-align: top;
  }

  h5 {
    display: inline-block;
    margin: 0 0.5em;
    padding-bottom: 0.5em;
  }

}
