<app-banner title="Accessibilité du site SignalConso"></app-banner>

<main role="main">
  <section class="section section-lightest-grey">
    <div class="container max-width bg-white pb-3 pt-3">

      <h2>Introduction</h2>
      <p>
        Cette page n'est pas une page d'aide, mais une déclaration de conformité au RGAA 3.0 qui
        vise à définir le niveau d'accessibilité général constaté sur le site conformément à la
        règlementation. Cette page est obligatoire pour être conforme au RGAA 3.0. Pour des aides
        relatives à la navigation et aux aménagements particuliers du site, visitez
        <a routerLink="/aide-a-la-navigation" title="Aide à la navigation">la page d'aide.</a>
      </p>
      <p>
        La déclaration de conformité du site signal.sonso.gouv.fr a été établie le 15/03/2020.
      </p>
      <p>
        La version du RGAA utilisée pour réaliser les tests est la version 3.0 RC2
      </p>

      <hr>

      <h2>Identité du déclarant</h2>
      <p>
        MARCEL-GARREAU Magali
        <br />
        Contact : ?
      </p>

      <hr>

      <h2>Technologies utilisées pour la réalisation du site</h2>
      <ul>
        <li>
          HTML5
        </li>
        <li>
          CSS3
        </li>
        <li>
          Typescript
        </li>
        <li>
          Framework Angular
        </li>
      </ul>

      <hr>

      <h2>Agents utilisateurs et technologies d’assistance utilisés pour vérifier l’accessibilité des contenus</h2>

      <p>
        Les vérifications de restitution de contenus ont été réalisées sur la base de la combinaison fournie par la base de référence du RGAA, avec les versions suivantes :
      </p>
      <table class="table">
        <caption>Base de référence utilisée pour vérifier la compatibilité avec l'accessibilité</caption>
        <thead>
        <tr>
          <th>
            Agent utilisateur
          </th>
          <th>
            Technologie d'assistance
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Firefox 34</td>
          <td>NVDA 2015.1</td>
        </tr>
        <tr>
          <td>Internet Explorer 11</td>
          <td>JAWS 15</td>
        </tr>
        <tr>
          <td>Firefox 34</td>
          <td>VoiceOver</td>
        </tr>
        </tbody>
      </table>

      <hr>

      <h2>Pages du site ayant fait l'objet de la vérification de conformité</h2>

      <ol>
        <li>Page d'accueil</li>
        <li>Page contact</li>
        <li>Page mentions légales</li>
        <li>Page politique d'accessibilité</li>
        <li>Page d'aide</li>
        <li>Page plan du site</li>
        <li>Page d'accès aux contenus principaux [toutes ou une partie des pages d'accès aux contenus ou fonctionnalités principaux, les pages ou rubriques de premier niveau]
        <li>Page de formulaire ou d'un processus d'un service en ligne</li>
        <li>Page statistiques</li>
        <li>Pages de blog</li>
      </ol>

      <hr>

      <h2>Résultats des tests</h2>

      <p>
        Un audit du site, réalisé par [...], révèle une conformité globale au RGAA de XX%.
      </p>
      <ul>
        <li>
          XX critères non conformes
        </li>
        <li>
          XX critères conformes
        </li>
      </ul>

      <hr>

      <h2>Dérogations</h2>

      <strong>Droit à la compensation</strong>
      <p>
        Il est important de rappeler qu’en vertu de l’article 11 de la loi de février 2005
        la personne handicapée a droit à la compensation des conséquences de son handicap,
        quels que soient l’origine et la nature de sa déficience, son âge ou son mode de vie.
      </p>
      <p>
        De ce fait, chaque organisme a l'obligation de prendre les moyens nécessaires afin de donner accès,
        dans un délai raisonnable, aux informations et fonctionnalités recherchées par la personne handicapée,
        que le contenu fasse l'objet d'une dérogation ou non. La possibilité de demander un contenu alternatif
        accessible doit être offerte à l'utilisateur sur la page d'aide via un moyen de contact accessible (adresse électronique ou formulaire de contact).
      </p>

      <hr>

      <h2>Amélioration et contact</h2>
      <p>
        Vous pouvez nous aider à améliorer l'accessibilité du site en nous signalant les problèmes éventuels que vous rencontrez.
        Pour ce faire, envoyez-nous un courriel à 
        <a href="mailto:support@signal.conso.gouv.fr" title="SignalConso (ouverture de la messagerie par défaut)">support@signal.conso.gouv.fr</a>
      </p>

      <hr>

      <h2>Défenseur des droits</h2>

      <p>
        Si vous constatiez un défaut d'accessibilité vous empêchant d'accéder à un contenu ou une fonctionnalité du site,
        que vous nous le signaliez et que vous ne parveniez pas à obtenir une réponse rapide de notre part,
        vous êtes en droit de faire parvenir vos doléances ou demande de saisine à :
      </p>
      <p align="center">
        Le défenseur des droits
        <br/>
        7 rue Saint-Florentin 75409 Paris cedex 08
        <br/>
        Téléphone : 09 69 39 00 00
      </p>
      <p>
        <a href="www.defenseurdesdroits.fr/contact" target="_blank" title="Ouverture d'une nouvelle fenêtre">Contacter le défenseur des droits via le formulaire en ligne.</a>
      </p>

    </div>
  </section>
</main>
