<app-banner title="Aide à la navigation SignalConso"></app-banner>

<main role="main">
  <section class="section section-lightest-grey">
    <div class="container max-width">

      <a class="lead" data-toggle="collapse" href="#collapse1">
        Introduction
      </a>
      <div id="collapse1" class="show">
        <p>
          Cette page vise à vous guider dans l'utilisation du site.
        </p>
        <p>
          Pour connaître le niveau d'accessibilité de ce site, visitez <a routerLink="/accessibilite" title="Déclaration d’accessibilité">la déclaration d’accessibilité.</a>
        </p>
      </div>

      <hr>

      <a class="lead" data-toggle="collapse" href="#collapse2">
        Organisation du site
      </a>
      <div class="collapse" id="collapse2">
        <p>
          <strong>Navigation principale</strong>
          Le site est structuré en X rubriques, chacune accessible depuis le menu de navigation principal :
        </p>
        <ul>
          <li>Accueil ; > fil d’arianne ?</li>
          <li>Statistiques</li>
          <li>Blog</li>
          <li>Page de connexion</li>
        </ul>
        <p>
          <strong>Autres systèmes de navigation</strong>
        </p>
        <p>
          Un fil d’Ariane placé directement sous le menu principal vous indique où vous vous trouvez et le chemin parcouru pour arriver à la page où vous êtes.
        </p>
      </div>

      <hr>

      <a class="lead" data-toggle="collapse" href="#collapse3">
        Navigation par titres
      </a>
      <div class="collapse" id="collapse3">
        <ul>
          <li>
            Le titre de niveau 1 correspond au titre principal du site.
          </li>
          <li>
            Le titre de niveau 2 est le titre de l’article consulté.
          </li>
        </ul>
        <p>
          La plupart des technologies d’assistance et des navigateurs facilitent la navigation par les titres.
          La plupart des lecteurs d’écran fournissent une fonctionnalité pour sauter au titre suivant.
        </p>
      </div>

      <hr>

      <a class="lead" data-toggle="collapse" href="#collapse4">
        Liens d’accès rapide
      </a>
      <div class="collapse" id="collapse4">
        <p>
          Les liens d’accès rapide, présents au début du document, permettent une navigation facilitée vers les régions principales des pages.
        </p>
      </div>

      <hr>

      <a class="lead" data-toggle="collapse" href="#collapse5">
        Navigation clavier pour les composants interactifs
      </a>
      <div class="collapse" id="collapse5">
        <p>
          Le site embarque des composants basés sur la technologie javascript.
          Leur structure et leur comportement clavier respectent les recommandations internationales.
        </p>
        <p>
          Pour que ces composants fonctionnent de manière prédictible et selon les notices d'utilisation que nous vous fournissons ci-dessous,
          les utilisateurs de lecteurs d'écrans doivent les atteindre en mode formulaire, ou activer le mode formulaire une fois dessus.
        </p>
        <p>
          Nous listons ci-dessous les composants présents sur le site et leur utilisation au clavier.
        </p>
        <ul>
          <li>Système d'onglets</li>
          <li>Potentiomètre</li>
          <li>Fenêtre modale</li>
          <li>Tooltip</li>
          <li>Accordéon</li>
          <li>Menu</li>
          <li>Arborescence</li>
          <li>Calendrier</li>
          <li>Autocomplétion</li>
        </ul>
      </div>

      <hr>

      <a class="lead" data-toggle="collapse" href="#collapse9">
        Signaler un dysfonctionnement
      </a>
      <div class="collapse" id="collapse9">
        <p>
          Si, malgré notre vigilance, vous rencontriez le moindre problème d’accessibilité sur notre site, n’hésitez pas à nous écrire à
          <a href="mailto:support@signal.conso.gouv.fr" title="SignalConso (ouverture de la messagerie par défaut)">support@signal.conso.gouv.fr</a>
        </p>
      </div>

      <hr>

      <a class="lead" data-toggle="collapse" href="#collapse10">
        Défenseur des droits
      </a>
      <div class="collapse" id="collapse10">
        <p>
          Si vous constatez un défaut d'accessibilité vous empêchant d'accéder à un contenu ou une fonctionnalité du site,
          que vous nous le signalez et que vous ne parvenez pas à obtenir une réponse rapide de notre part,
          vous êtes en droit de faire parvenir vos doléances ou une demande de saisine au Défenseur des droits.
          Plusieurs moyens sont à votre disposition :
        </p>
        <ul>
          <li>
            <a href="www.defenseurdesdroits.fr/contact" target="_blank" title="Ouverture d'une nouvelle fenêtre">un formulaire de contact</a>
          </li>
          <li>
            <a href="www.defenseurdesdroits.fr/contacter-votre-delegue/trouver-votre-delegue" target="_blank" title="Ouverture d'une nouvelle fenêtre">la liste du ou des délégués de votre région </a>
            avec leurs informations de contact directs 
          </li>
          <li>
            une adresse postale :
            <p align="center">
              Le défenseur des droits
              <br/>
              7 rue Saint-Florentin 75409 Paris cedex 08
              <br/>
              Téléphone : 09 69 39 00 00
            </p>
          </li>
        </ul>

        <p>

        </p>
      </div>

      <hr>

    </div>
  </section>
</main>
