@import "../../../../theme/variables";

:host {
  display: block;
  margin: 0 auto;
  padding: spacing(2);
  width: 1140px;

  &.-small {
    max-width: 760px;
  }

  &.-large {
    max-width: 1438px - spacing(4);
  }
}
