<app-banner title="Abonnements"></app-banner>

<section class="section section-white position-relative pb-0">
  <div class="container">
    <div class="panel">

      <ng-container *ngIf="!subscriptionForm; else subscription">
        <div class="notification error" *ngIf="loadingError">
          Une erreur technique s'est produite
        </div>

        <ng-container *ngIf="departmentSubscription">
          <h2 *ngIf="!departmentSubscription.values || !departmentSubscription.values.length; else subscriptions" class="p-3 text-center">
            Vous n'avez aucun abonnement.
          </h2>
          <ng-template #subscriptions>
            <p class="p-3">
              Vous êtes abonné pour recevoir chaque lundi les nouveaux signalements déposés dans les départements suivants :
            </p>
            <ul>
              <li *ngFor="let value of departmentSubscription.values">{{getDepartement(value).code}} - {{getDepartement(value).label}}</li>
            </ul>
          </ng-template>

          <div class="pb-3 text-center mb-4">
            <button class="btn btn-primary btn-lg" (click)="showSubscriptionForm()" id="answerBtn">Modifier</button>
          </div>

        </ng-container>
      </ng-container>

      <ng-template #subscription>
        <form [formGroup]="subscriptionForm" (submit)="submitSubscriptionForm()" id="subscriptionForm">

          <div class="form__group">
            <div class="row ml-4">
              <div class="col-6">
                <ng-container *ngFor="let region of regions; let index = index">
                  <div *ngIf="index < 10" class="mt-3">
                    <label class="font-weight-bold">{{region.label}}</label>
                    <div *ngFor="let department of region.departments">
                      <input type="checkbox" formControlName="department_{{department.code}}">
                      <label class="label-inline pointer">
                        {{department.code}} - {{department.label}}
                      </label>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="col-6">
                <ng-container *ngFor="let region of regions; let index = index">
                  <div *ngIf="index >= 10" class="mt-3">
                    <label class="font-weight-bold">{{region.label}}</label>
                    <div *ngFor="let department of region.departments">
                      <input type="checkbox" formControlName="department_{{department.code}}">
                      <label class="label-inline pointer">
                        {{department.code}} - {{department.label}}
                      </label>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="notification error" *ngIf="loadingError">
            Une erreur technique s'est produite<br />
          </div>
          <div class="mt-4 text-center">
            <button type="button" class="btn btn-lg btn-outline-primary" (click)="hideSubscriptionForm()">Annuler</button>
            &nbsp;
            <button type="submit" class="btn btn-lg btn-primary">Enregistrer</button>
          </div>
        </form>
      </ng-template>
      <ngx-loading [show]="loading"></ngx-loading>
    </div>
  </div>
</section>
