a.button,
a.button:focus,
a.button:active,
a.button:visited,
button.button,
button.button:focus,
button.button:active,
button.button:visited,
input[type="submit"],
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"]:visited,
input[type="button"],
input[type="button"]:focus,
input[type="button"]:active,
input[type="button"]:visited {
  display: inline-block;
  padding: 0.5em 2em;
  color: #fff;
  background-color: $primary;
  border-radius: 3px;
  border: 0;
  -webkit-box-shadow: 0 -2px inset #003b80;
  box-shadow: 0 -2px inset #003b80;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
  position: relative;
  top: 0;
  overflow: hidden;
  text-decoration: none;
}

a.button:hover,
button.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background: #003b80;
}

a.button:active,
button.button:active,
input[type="submit"]:hover,
input[type="button"]:hover {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  border-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button::-moz-focus-inner {
  border: 0;
}

a.button-outline,
a.button-outline:focus,
a.button-outline:active,
a.button-outline:visited,
button.button-outline,
button.button-outline:focus,
button.button-outline:active,
button.button-outline:visited {
  display: inline-block;
  padding: 0.5em 2em;
  border-radius: 3px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
  position: relative;
  top: 0;
  overflow: hidden;
  text-decoration: none;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

a.button-outline:hover,
button.button-outline:hover,
input[type="submit"].button-outline:hover,
input[type="button"].button-outline:hover {
  border-color: #c9d3df;
  color: #c9d3df;
}

.button-outline.primary,
a.button-outline.primary {
  border-color: $primary;
  color: $primary;
}

.button-outline.primary:hover,
.button-outline.primary:active {
  border-color: #003b80;
  color: #003b80;
}

.button-outline.warning,
a.button-outline.warning {
  border-color: #d63626;
  color: #d63626;
}

.button-outline.warning:hover,
.button-outline.warning:active {
  border-color: #ab2b1e;
  color: #ab2b1e;
}

.button-outline.secondary,
a.button-outline.secondary {
  border-color: #53657d;
  color: #53657d;
}

.button-outline.secondary:hover,
.button-outline.secondary:active {
  border-color: #26353f;
  color: #26353f;
}

a.button.small,
button.button.small,
input[type="submit"].small,
input[type="button"].small,
a.button-outline.small,
button.button-outline.small {
  font-size: 0.825em;
  padding: 0.25em 1em;
}

a.button.large,
button.button.large,
input[type="submit"].large,
input[type="button"].large,
a.button-outline.large,
button.button-outline.large {
  font-size: 1.25em;
}

.button.warning,
a.button.warning {
  background-color: #d63626;
  -webkit-box-shadow: 0 -2px inset #ab2b1e;
  box-shadow: 0 -2px inset #ab2b1e;
}

.button.warning:hover,
.button.warning:active {
  background-color: #ab2b1e;
}

.button.secondary,
a.button.secondary {
  background-color: #53657d;
  -webkit-box-shadow: 0 -2px inset #26353f;
  box-shadow: 0 -2px inset #26353f;
}

.button.secondary:hover,
.button.secondary:active {
  background-color: #26353f;
}

.button + .button,
.button-outline + .button-outline {
  margin-left: 1em;
}

