@font-face {
  font-family: 'Evolventa';
  font-display: auto;
  src: url('src/assets/fonts/Evolventa/Evolventa-Regular.woff') format('woff'),
       url('src/assets/fonts/Evolventa/Evolventa-Regular.ttf') format('truetype'),
       url('src/assets/fonts/Evolventa/Evolventa-Regular.eot') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: auto;
  src: url('src/assets/fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'),
       url('src/assets/fonts/SourceSansPro/SourceSansPro-Regular.eot') format('truetype'),
       url('src/assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gill Sans';
  font-display: auto;
  src: url('src/assets/fonts/GillSans/gillsans.woff2') format('woff2'),
       url('src/assets/fonts/GillSans/gillsans.woff') format('woff'),
       url('src/assets/fonts/GillSans/gillsans.eot') format('truetype'),
       url('src/assets/fonts/GillSans/gillsans.ttf') format('truetype');
}
