@font-face {
  font-family: 'Evolventa';
  src: url("fonts/Evolventa/Evolventa-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("fonts/SourceSansPro/SourceSansPro-Regular.otf") format("truetype");
}
