@import "variables";

.material-icons {
  vertical-align: middle;
  margin-bottom: 0.15rem;
}
.material-icons.md-dark { color: rgba(0, 0, 0, 0.80); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-blue { color: $blue }
.material-icons.md-light-blue { color: $light-blue }
.material-icons.md-dark-blue { color: $dark-blue }
.material-icons.md-lighter-blue { color: $lighter-blue }
.material-icons.md-red { color: $red }
.material-icons.md-green { color: $green }
.material-icons.md-grey { color: $grey }
.material-icons.md-darker-grey { color: $darker-grey }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
