$smaller-than-mobile: "(max-width: 399px)";
$larger-than-mobile: "(min-width: 400px)";
$smaller-than-phablet: "(max-width: 549px)";
$larger-than-phablet: "(min-width: 550px)";
$smaller-than-tablet: "(max-width: 749px)";
$larger-than-tablet: "(min-width: 750px)";
$smaller-than-desktop: "(max-width: 999px)";
$larger-than-desktop: "(min-width: 1000px)";
