$smaller-than-mobile: "(max-width: 399px)";
$larger-than-mobile: "(min-width: 400px)";
$smaller-than-phablet: "(max-width: 575px)";
$larger-than-phablet: "(min-width: 576px)";
$smaller-than-tablet: "(max-width: 767px)";
$larger-than-tablet: "(min-width: 768px)";
$smaller-than-desktop: "(max-width: 991px)";
$larger-than-desktop: "(min-width: 992px)";
$smaller-than-large-desktop: "(max-width: 1199px)";

$mobileHeaderHeight: 156px;
$mobileFooterHeight: 208px;
