@import "../theme/variables";
@import "../theme/media-queries";

.navbar {
  border-bottom: 1px solid $theme-border-lighter;
  width: 100%;
  background: $white;
  z-index: 100;
}

.nav-fixed {
  position: fixed;
  top: 0;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em;
}

.navbar__home {
  height: 40px;
}

.navbar__logo {
  height: 40px;
}

.nav__links {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  padding: 0;
  display: inline-block;
}

.nav__item a,
.nav__item .dropdown {
  text-decoration: none;
  color: $black;
  padding: 0.4em 0.8em;
  border-radius: 3px;
}

.nav__links a::after {
  content: none;
}

.nav__item a:hover,
.nav__item .dropdown:hover {
  background: $lighter-grey;
}

.nav__item a.active {
  background: $theme-primary;
  color: $white;
}

a.navbar__home {
  font-family: 'Source Sans Pro", Arial, sans-serif';
  font-size: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-size: 21px;

}

a.navbar__home:hover {
  text-decoration: none;
}

.navbar__home img {
  vertical-align: middle;
}

.navbar__logo {
  margin-right: 0.8em;
}

@media #{$smaller-than-tablet} {
  .navbar__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__links {
    padding-top: 1em;
  }
}
