@import "../theme/media-queries";

* {
  letter-spacing: 0.2px;
}

h1, h2 {
  font-family: "Evolventa", "Trebuchet MS", sans-serif;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 2rem !important;
  font-weight: bold !important;
  line-height: 48px !important;
}

h2 {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  line-height: 32px !important;
}

h3 {
  font-size: 1.4rem !important;
}

h4 {
  font-size: 1.25rem !important;
}

h5 {
  font-size: 1.125rem !important;
}

h6 {
  font-size: 1rem !important;
}


@media #{$smaller-than-tablet} {


  h1 {
    font-size: 1.4rem !important;
    line-height: 20px !important;
  }

  h2 {
    font-size: 1.3rem !important;
    line-height: 20px !important;
  }

  h3 {
    font-size: 1.2rem !important;
  }
}
