.fullwidth {
  width: 100%;
}

.txt-secondary {
  color: $theme-color-text-secondary;
}

.txt-disabled {
  color: $theme-color-text-disabled;
}

.txt-success {
  color: $theme-success-border;
}

.txt-error {
  color: $theme-error-border;
}

.txt-warning {
  color: $theme-warning-border;
}

.txt-info {
  color: $theme-info-border;
}

.table-overflow {
  overflow-x: scroll;
}

