.fullwidth {
  width: 100%;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.txt-secondary {
  color: $theme-color-text-secondary;
}

.txt-disabled {
  color: $theme-color-text-disabled;
}
