$blue: #407CA8;
$light-blue: #006be6;
$dark-blue: #003b80;
$lighter-blue: #D6F0FF;
$white: #fff;
$lightest-grey: #fafbfc;
$lighter-grey: #ebeff3;
$light-grey: #c9d3df;
$grey: #adb9c9;
$dark-grey: #8393a7;
$darker-grey: #53657d;
$almost-black: #26353f;
$black: #1c1c1c;
$green: #018741;
$light-green: #daf5e7;
$orange: #ff9947;
$light-orange: #fec79b;
$lighter-orange: #fff0e4;
$red: #BE3D4D;
$dark-red: #ab2b1e;
$light-red: #f7d5d2;
$light-yellow: #faf8be;

$primary: $blue;
$secondary: #5A4B5F;
$warning: #BE3D4D;

$theme-primary: $blue;
$theme-primary-light: $light-blue;
$theme-primary-dark: $dark-blue;
$theme-secondary: $blue;
$theme-secondary-darken: $dark-blue;
$theme-border: $grey;
$theme-border-lighter: $light-grey;
$theme-border-active: $light-blue;
$theme-border-radius: 3px;
$theme-border-more-radius: 10px;
$theme-background-white: $white;
$theme-background-grey: $lighter-grey;
$theme-background-color: $dark-blue;
$theme-background-dark: $black;
$theme-box-shadow: 0 1px 2px rgba(201, 211, 223, 0.2);
$theme-label-text: $darker-grey;
$theme-light-text: $white;
$theme-dark-text: $almost-black;
$theme-success-border: $green;
$theme-success-bg: $light-green;
$theme-warning-border: $orange;
$theme-warning-bg: $lighter-orange;
$theme-error-border: $red;
$theme-error-bg: $light-red;
$theme-info-border: $light-blue;
$theme-info-bg: $lighter-blue;
