$blue: #407e99;
$light-blue: #2A8194;
$dark-blue: #1f2b50;
$lighter-blue: #D6F0FF;
$lightest-blue: #ECF2F6;
$white: #fff;
$lightest-grey: #fafbfc;
$lighter-grey: #ebeff3;
$light-grey: #c9d3df;
$grey: #adb9c9;
$dark-grey: #8393a7;
$darker-grey: #53657d;
$almost-black: #26353f;
$black: #1c1c1c;
$green: #017741;
$light-green: #daf5e7;
$orange: #E89024;
$light-orange: #fec79b;
$lighter-orange: #fff0e4;
$red: #BE3D4D;
$dark-red: #ab2b1e;
$light-red: #f7d5d2;
$light-yellow: #FFE49E;

$primary: $blue;
$secondary: $dark-blue;
$warning: $red;

$theme-primary: $blue;
$theme-primary-light: $light-blue;
$theme-primary-dark: $dark-blue;
$theme-secondary: $blue;
$theme-secondary-darken: $dark-blue;
$theme-border: $grey;
$theme-border-lighter: $light-grey;
$theme-border-active: $blue;
$theme-border-radius: 3px;
$theme-border-more-radius: 10px;
$theme-background-white: $white;
$theme-background-grey: $lighter-grey;
$theme-background-color: $dark-blue;
$theme-background-dark: $black;
$theme-background-hover: rgba(0, 0, 0, 0.04);
$theme-box-shadow: 0 1px 2px rgba(201, 211, 223, 0.2);
$theme-label-text: $darker-grey;
$theme-light-text: $white;
$theme-dark-text: $almost-black;
$theme-success-border: $green;
$theme-success-bg: $light-green;
$theme-warning-border: $orange;
$theme-warning-bg: $lighter-orange;
$theme-error-border: $red;
$theme-error-bg: $light-red;
$theme-info-border: $blue;
$theme-info-bg: $lighter-blue;
$theme-divider: rgba(black, 0.12);
$theme-color-text-disabled: rgba(black, 0.38);
$theme-color-text-secondary: rgba(black, 0.54);

@function spacing($multiplier: 1) {
  $padding: 8px;
  @return $multiplier * $padding;
}

@mixin input-invisible {
  border: none;
  background: none;
  box-shadow: none;
  padding-right: 0;
  padding-left: 0;

  &:focus {
    outline: none;
  }
}

%truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
