$primary: #003b80;
$secondary: #53657d;

$blue: #0053b3;
$gray: #ebeff3;
$lighter-grey: #ebeff3;
$almost-black: #26353f;
$white: #fff;
$light-grey: #c9d3df;
$black: #1c1c1c;

$theme-primary: $blue;
$theme-border-lighter: $light-grey;
$theme-dark-text: $almost-black;
