@import "../../../../theme/variables";
@import "../../../../theme/media-queries";

.card {

  margin-bottom: 2em;

  img {
    width: 100%;
  }

  h2 {
    width: 100%;
    margin: 0;

    font-size: 60px !important;

    @media #{$smaller-than-mobile} {
      font-size: 40px !important;
    }
  }

  h6 {
    font-weight: bold;
    margin: 0;
  }

  .flex-center {
    display:flex;
    align-items: center;
  }
}


.nav-tabs {
  border-bottom: 1px solid $blue;
}

.nav-link {
  border: 0;
  color: $blue !important;

  &.active {
    color: $white !important;
    background-color: $blue;
  }
}
