<div class="banner text-center section section-primary" role="region">
  <div class="container">
    <h1 class="text-center">
      Comment ça marche&#160;?
    </h1>
  </div>
</div>

<main role="main">

  <section class="section section-lightest-grey">
    <div class="container max-width">
      <nav class="nav nav-tabs nav-justified mb-3">
        <a class="nav-item nav-link active" routerLink="/comment-ça-marche/consommateur"><h4>Consommateur</h4></a>
        <a class="nav-item nav-link" routerLink="/comment-ça-marche/professionnel"><h4>Professionnel</h4></a>
      </nav>

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9 col-sm-3 order-3 order-sm-1 flex-center">
              <h6 [innerHTML]="illustrations[0].title"></h6>
            </div>
            <div class="col-12 col-sm-9 order-1 order-sm-2 text-center text-sm-left flex-center pb-2 pb-sm-0">
              <h2>1</h2>
            </div>
            <div class="col-3 order-2 order-sm-3 p-0">
              <img src="/assets/images/{{illustrations[0].picture}}" alt="Illustration" />
            </div>
            <div class="col-12 col-sm-9 order-4 pt-2 pt-sm-0">
              <p>
                Vous pouvez faire remonter votre problème sur le site SignalConso.
              </p>
              <p>
                Vous n’êtes pas sur que ce soit un problème ? SignalConso vous guide afin de savoir si vous pouvez faire un signalement.
                Si ce n'est pas le cas, on vous explique pourquoi !
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9 col-sm-3 order-3 order-sm-1 flex-center">
              <h6 [innerHTML]="illustrations[1].title"></h6>
            </div>
            <div class="col-12 col-sm-9 order-1 order-sm-2 text-center text-sm-left flex-center pb-2 pb-sm-0">
              <h2>2</h2>
            </div>
            <div class="col-3 order-2 order-sm-3 p-0">
              <img src="/assets/images/{{illustrations[1].picture}}" alt="Illustration" />
            </div>
            <div class="col-12 col-sm-9 order-4 pt-2 pt-sm-0">
              <p>
                Signaler le problème en choisissant un secteur et en répondant aux questions.
              </p>
              <p>
                Suivant le problème, SignalConso vous conseille sur les démarches à faire en plus de votre signalement. Le site vous donne également des informations sur vos droits en tant que consommateur.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9 col-sm-3 order-3 order-sm-1 flex-center">
              <h6 [innerHTML]="illustrations[2].title"></h6>
            </div>
            <div class="col-12 col-sm-9 order-1 order-sm-2 text-center text-sm-left flex-center pb-2 pb-sm-0">
              <h2>3</h2>
            </div>
            <div class="col-3 order-2 order-sm-3 p-0">
              <img src="/assets/images/{{illustrations[2].picture}}" alt="Illustration" />
            </div>
            <div class="col-12 col-sm-9 order-4 pt-2 pt-sm-0">
              <p>
                SignalConso contacte l'entreprise afin de l'informer de votre signalement (qui peut être anonymisé).
              </p>
              <p>
                L'entreprise peut décider de corriger le problème. Vous serez informé par un email de Signalconso.
              </p>
              <p>
                Vous avez choisi de transmettre vos coordonnées à l'entreprise ? Elle pourra vous recontacter directement.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9 col-sm-3 order-3 order-sm-1 flex-center">
              <h6 [innerHTML]="illustrations[3].title"></h6>
            </div>
            <div class="col-12 col-sm-9 order-1 order-sm-2 text-center text-sm-left flex-center pb-2 pb-sm-0">
              <h2>4</h2>
            </div>
            <div class="col-3 order-2 order-sm-3 p-0">
              <img src="/assets/images/{{illustrations[3].picture}}" alt="Illustration" />
            </div>
            <div class="col-12 col-sm-9 order-4 pt-2 pt-sm-0">
              <p>
                Votre signalement est enregistré dans la base de données de la répression des fraudes (dgccrf).
              </p>
              <p>
                Les signalements deviennent trop nombreux pour une même entreprise ? le problème est considéré comme grave par les enquêteurs ?
                La répression des fraudes peut décider de surveiller ou de contrôler une entreprise grâce à votre signalement.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
