@import "src/theme/variables";

:host {
  display: flex;
  text-align: center;
  color: $theme-color-text-disabled;
  align-items: center;
  justify-content: center;
  padding: spacing(3);
}

.-ico {
  margin-top: spacing(1);
  font-size: 70px;
  height: auto;
  width: auto;
}

.-title {
  margin-bottom: spacing(1);
  font-size: 1.125rem;
}

.-description {
  margin-bottom: spacing(1);
}
