@import "../../../theme/variables";


.col-radio {
  max-width: 20px;
  margin-top: -1px;
  margin-left: 2px;
}

.col {
  text-align: left;
}

.selected {
  background-color: $light-green;
  border-radius: $theme-border-more-radius;

  .text-primary {
    color: $secondary !important;
  }

  label, h2 {
    color: $black;
  }

}
