@import "../../../theme/variables";


.col-radio {
  max-width: 20px;
  margin-top: -1px;
  margin-left: 2px;
}

.col {
  text-align: left;
}

.-disabled {
  opacity: .45;

  input, label {
    cursor: not-allowed;
  }
}
