<ngx-loading [show]="loading"></ngx-loading>
<div class="overflow-container">
  <div class="banner text-center section section-primary" role="region" *ngIf="hasError">
    <div class="container">
      <h1 class="text-center">
        Une erreur est survenue
      </h1>
    </div>
  </div>
</div>
<div class="container">
    <main role="main">
        <section class="section">
          <ng-template [ngIf]="isAuthenticated" [ngIfElse]="errorBlock">
              <p class="font-weight-bold">Vous êtes actuellement connecté.</p>
              <p>Pour procéder à la création d'un nouveau compte, vous devez vous déconnecter.</p>
          </ng-template>
          <ng-template #errorBlock>
            <p class="font-weight-bold">Le lien sur lequel vous avez cliqué n'est plus valide.</p>
            <p>Si vous avez déjà créé votre compte, vous pouvez vous connecter à l'aide de votre adresse email et mot de passe.</p>
            <p>Sinon, vous pouvez demander au gestionnaire de l'entreprise de vous envoyer une nouvelle invitation.</p>
          </ng-template>
        </section>
    </main>
</div>
