<div class="banner text-center section section-lighter-grey" role="banner">
  <div class="container">
    <h1 class="text-center">
      Connexion
    </h1>
  </div>
</div>

<main role="main">
  <section class="section section-lightest-grey">
    <div class="container">
      <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="form-horizontal">
        <div class="form-group row">
          <div class="col-sm-3 control-label">
            <label for="login" [class]="hasError(loginCtrl) ? 'error' : ''">
              Identifiant <span class="error">*</span>
            </label>
          </div>
          <div class="col-sm-9">
            <input [formControl]="loginCtrl" type="text" class="form-control" id="login" placeholder="Identifiant">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3 control-label">
            <label for="password" [class]="hasError(passwordCtrl) ? 'error' : ''">
              Mot de passe  <span class="error">*</span>
            </label>
          </div>
          <div class="col-sm-9">
            <input [formControl]="passwordCtrl" type="password" class="form-control" id="password" placeholder="Mot de passe">
          </div>
        </div>
        <div class="notification error mt-3" *ngIf="showErrors && loginForm.invalid">
          <span *ngIf="loginCtrl.hasError('required')">
            Veuillez renseigner votre identifant.<br />
          </span>
            <span *ngIf="passwordCtrl.hasError('required')">
            Veuillez renseigner votre mot de passe.<br />
          </span>
        </div>
        <div class="notification error mt-3" *ngIf="authenticationError ">
          {{authenticationError}}
        </div>
        <hr />
        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-lg btn-primary">
              Se connecter
            </button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <a routerLink="/connexion/perte-mot-de-passe">Mot de passe oublié</a>
          </div>
        </div>
        <p class="form-text text-muted text-center pt-3">En cas de difficultés pour vous connecter, vous pouvez contacter par email le service <a href="mailto:contact@signalconso.beta.gouv.fr">SignalConso</a>.</p>
      </form>
    </div>
  </section>
</main>
