@import "../theme/variables";
@import "../theme/media-queries";

:host ::ng-deep {

  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .section {
    padding: 3em 0;
  }

  .section-small {
    padding: 2em 0 1em 0;
  }

  .section-white {
    background-color: #fff;
  }

  .section-primary {
    background-color: $primary;
    color: #fff;
  }

  .section-lighter-grey {
    background-color: $lighter-grey;
  }

  .section-lightest-grey {
    background-color: $lightest-grey;
  }

  .panel {
    background: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(201, 211, 223, .2);
    box-shadow: 0 1px 2px rgba(201, 211, 223, .2);
    padding: 1.5em;
    position: relative;
    border: 1px solid #c9d3df;
    margin-bottom: 2em;
  }

  .max-width {
    max-width: 750px;
  }

  .link {
    color: $primary;
    cursor: pointer;
    text-decoration: underline;
  }

  .pointer {
    cursor: pointer;
  }

  .note {
    color: $dark-grey;

    ul {
      margin-bottom: 0;
      padding-left: 1em;
    }
  }

  .icon {
    text-align: center;
    padding-bottom: 1em;
  }

  blockquote {
    background-color: $theme-background-grey;
    border-left: 8px solid $theme-border-lighter;
    padding: 4px 25px;
    margin: 16px 0;

    p {
      margin: 16px 0;
    }

    span {
      font-style: italic;
    }
  }

  ul:not(.pagination) {
    li + li {
      padding-top: 0.5em;
    }
  }

  span.error {
    color: $red;
    font-style: italic;
  }

  label.error {
    color: $red;
  }

  .material-icons { vertical-align: middle; }
  .material-icons.md-dark { color: rgba(0, 0, 0, 0.80); }
  .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

  .material-icons.md-light { color: rgba(255, 255, 255, 1); }
  .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

  .material-icons.md-blue { color: $blue }
  .material-icons.md-light-blue { color: $light-blue }
  .material-icons.md-dark-blue { color: $dark-blue }
  .material-icons.md-lighter-blue { color: $lighter-blue }
  .material-icons.md-red { color: $red }
  .material-icons.md-green { color: $green }
  .material-icons.md-grey { color: $grey }
  .material-icons.md-darker-grey { color: $darker-grey }
}
