<app-banner title="Abonnements"></app-banner>

<main role="main">

  <section class="section section-lightest-grey">
    <div class="container position-relative bg-white pb-3">

      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Départements</th>
            <th>Catégories</th>
            <th>Fréquence</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subscription of subscriptions">
              <td>
                <span *ngFor="let dept of subscription.departments; let isLast=last">
                  {{dept}}{{isLast ? '' : ' - '}}
                </span>
                <span *ngIf="!subscription.departments.length">Tous</span>
              </td>
              <td>
                <span *ngFor="let category of subscription.categories; let isLast=last">
                  {{category}}{{isLast ? '' : ' - '}}
                </span>
                <span *ngIf="!subscription.categories.length">Toutes</span>
              </td>
              <td></td>
              <td>
                <span class="pointer link" (click)="removeSubscription(subscription.id)">Supprimer</span>
              </td>
            </tr>
            <tr *ngIf="!subscriptions || !subscriptions.length">
              <td colspan="4" class="text-center">
                Vous n'avez aucun abonnement
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="text-center" *ngIf="!departmentForm; else subscriptionFormTpl">
        <button class="btn btn-primary btn-lg" (click)="showSubscriptionForm()" id="answerBtn">Ajouter un abonnement</button>
      </div>

      <ng-template #subscriptionFormTpl>
        <div class="notification">
          <h2 class="mb-3">Nouvel abonnement</h2>

          <form [formGroup]="departmentForm" id="departmentForm" (submit)="addToDepartementFilter()">
            <div class="row">
              <div class="col-4">
                <label class="d-block mb-0">
                  Départements <br/>
                </label>
                <div class="badge badge-pill badge-primary" *ngIf="!departmentFilter.length">
                  Tous les départements
                </div>
                <div class="badge badge-pill badge-primary" *ngFor="let dept of departmentFilter">
                  {{dept.code}} - {{dept.label}}
                  <i class="material-icons md-18 pointer" (click)="removeFromDepartementFilter(dept)">cancel</i>
                </div>
              </div>
              <div class="col-4">
                <input [formControl]="departmentCtrl" type="text">
              </div>
              <p class="col-4 note">
                Saisissez un ou plusieurs code département séparés par des virgules et validez par entrée
              </p>
            </div>
          </form>

          <hr />

          <form [formGroup]="categoryForm" id="categoryForm">
            <div class="row">
              <div class="col-4">
                <label class="d-block mb-0">
                  Catégories <br/>
                </label>
                <div class="badge badge-pill badge-primary" *ngIf="!categoryFilter.length">
                  Toutes les catégories
                </div>
                <div class="badge badge-pill badge-primary" *ngFor="let category of categoryFilter">
                  {{category}}
                  <i class="material-icons md-18 pointer" (click)="removeFromCategoryFilter(category)">cancel</i>
                </div>
              </div>
              <div class="col-4">
                <select [formControl]="categoryCtrl" (change)="addToCategoryFilter()">
                  <option disabled></option>
                  <option *ngFor="let category of categories">
                    {{category}}
                  </option>
                </select>
              </div>
            </div>
          </form>

          <hr />

          <form [formGroup]="siretForm" id="siretForm" (submit)="addToSiretFilter()">
            <div class="row">
              <div class="col-4">
                <label class="d-block mb-0">
                  Numéros SIRET <br/>
                </label>
                <div class="badge badge-pill badge-primary" *ngIf="!siretFilter.length">
                  Tous les SIRET
                </div>
                <div class="badge badge-pill badge-primary" *ngFor="let siret of siretFilter">
                  {{siret}}
                  <i class="material-icons md-18 pointer" (click)="removeFromSiretFilter(siret)">cancel</i>
                </div>
              </div>
              <div class="col-4">
                <input [formControl]="siretCtrl" type="text">
              </div>
              <p class="col-4 note">
                Saisissez un ou sirets séparés par des virgules et validez par entrée
              </p>
            </div>
          </form>

          <hr />

            <div class="notification error" *ngIf="loadingError">
              Une erreur technique s'est produite<br />
            </div>

            <div class="mt-4 text-center">
              <button type="button" class="btn btn-lg btn-outline-primary" (click)="hideSubscriptionForm()">Annuler</button>
              &nbsp;
              <button type="button" class="btn btn-lg btn-primary" (click)="submitSubscription()">
                Enregistrer
              </button>
            </div>
          <ngx-loading [show]="loading"></ngx-loading>
        </div>
      </ng-template>

      <ngx-loading [show]="loading"></ngx-loading>
    </div>
  </section>
</main>
