@import "../../../../theme/variables";
@import "../../../../theme/media-queries";

.-btn-extract {
  margin-bottom: spacing(2);
  margin-left: auto;
  display: block;
}

.-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: spacing(2);

  > * {
    margin-left: spacing(1);
  }
}

.-filters {
  flex-wrap: wrap;
  padding-top: spacing(1/4);
  padding-bottom: spacing(1/4);
}

.-filter {
  flex: 1;
  width: auto;
  min-width: 150px;
  margin: spacing(1/4) 0;
  margin-right: spacing();
}

.-td-company {
  font-weight: bold;
}

.-fender {
  border-bottom: 1px solid $theme-divider;
}

