@import "src/theme/variables";

:host {
  display: block;
}

.-root {
  display: flex;
  align-items: center;
  padding: spacing(1) spacing(2);
  border-bottom: 1px solid $theme-divider;
}

.-head {
  display: flex;
  align-items: center;
}

.-body {
  flex: 1;
}

.-icon-small {
  font-size: 16px;
  height: 20px;
  text-align: center;
  width: 20px;
  line-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.-company {
  font-size: 1.125rem;
}

.-siret {
  font-weight: bold;
}

.-location {
  font-size: 1.125rem;
  color: $theme-color-text-secondary;
}

.-date {
  color: $theme-color-text-disabled;
  margin-left: auto;
  align-self: flex-start;
}

.-consumer {
  color: $theme-color-text-secondary;
}

.-attachment {
  margin: 0 spacing(4) 0 spacing(1);
  color: $theme-color-text-secondary;
}
