<div class="banner text-center section section-primary" role="region">
    <div class="container">
      <h1 class="text-center">
        <i class="material-icons md-36" aria-hidden="true">warning</i>
        Service indisponible
      </h1>
    </div>
</div>

<main role="main">
  <section class="section section-lightest-grey">
    <div class="container max-width text-center p-5">
      <h4>Emmh, nous sommes désolés, le service est temporairement indisponible.</h4>
      <h5 class="pt-3">Veuillez réessayer plus tard.</h5>
    </div>
  </section>
</main>
