<app-banner title="Mot de passe oublié"></app-banner>

<app-page pageDefinitionKey="login_forgotPassword" size="small" [loading]="loading">
  <app-alert type="success" *ngIf="showSuccess; else login">
    Un email vous a été envoyé pour créer votre nouveau mot de passe.
  </app-alert>

  <ng-template #login>
    <app-panel>
      <app-panel-body>
        <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="form-horizontal">
          <div class="form-group row">
            <div class="col-sm-3 control-label">
              <label for="login" [class]="hasError(loginCtrl) ? 'error' : ''">
                Email (obligatoire)
              </label>
            </div>
            <div class="col-sm-9">
              <input [formControl]="loginCtrl" type="text" class="form-control" id="login" placeholder="Email">
          </div>
        </div>

        <div class="notification error mt-3" *ngIf="showErrors && loginForm.invalid">
          <span *ngIf="loginCtrl.hasError('required')">
            Veuillez renseigner votre email.<br/>
          </span>
        </div>
        <div class="notification error mt-3" *ngIf="loadingError">
          Une erreur technique s'est produite.
        </div>
        <hr/>
        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-lg btn-primary">
              Créer un nouveau mot de passe
            </button>
          </div>
        </div>
          <p class="form-text text-muted text-center pt-5">
            Vous recevrez un email vous permettant de créer un nouveau mot de passe.
          </p>
        </form>
        <p class="form-text text-muted text-center">
          En cas de difficultés, vous pouvez contacter par email le service
          <a href="mailto:support@signal.conso.gouv.fr" title="SignalConso (ouverture de la messagerie par défaut)">support@signal.conso.gouv.fr</a>.
        </p>
      </app-panel-body>
    </app-panel>
  </ng-template>
</app-page>
