@import "../../../../../theme/variables";

.table-responsive {
  width: 98% !important;
  margin-left: 1%;
}

.table {

  border: none;

  th {
    background-color: $lighter-grey;
    border-bottom-width: 2px !important;
  }

  tr.a-contacter {
    background-color: rgba(239,172,166,0.3);
  }

  tr:hover {
    background-color: $lighter-blue;
  }

  th, td {
    border: 1px solid #dee2e6;
    padding: 0.25em 0.5em;
    text-align: center;

    &:last-of-type {
      background-color: $white !important;
      border: none;
      vertical-align: middle;
    }
  }

  td.report-group {
    background-color: $lightest-grey;
    font-weight: bold;
  }

  .agreement {
    font-size: 12px;
  }
}

ul.dropdown-menu {
  height: 200px;
  overflow-y: scroll;

  li.disabled {
    padding-top: 0;
  }

  .menutitle {
    font-weight: bold;
    color: $light-blue;
  }

  .dropdown-item {
    padding-top: 0;
    padding-bottom: 0;
  }
}

:host ::ng-deep {
  .tooltip-inner {
    max-width: none !important;
    text-align: left;
  }
}
