@import "../../../../../theme/variables";

.table {

  th {
    text-align: center;
    background-color: $lighter-grey;
  }

  tr.hors-perimetre {
    background: repeating-linear-gradient(
        135deg,
        rgba(235,239,243, 0.5),
        rgba(235,239,243, 0.5) 10px,
        rgba(250,251,252, 0.5) 10px,
        rgba(250,251,252, 0.5) 20px
    );
  }

  tr.a-contacter {
    background-color: rgba(239,172,166,0.3);
  }

  tr:hover {
    background-color: $lighter-blue;
  }

  th, td {
    border-left: 1px solid #dee2e6;
  }

  td.report-group {
    background-color: $lightest-grey;
    font-weight: bold;
  }

  .agreement {
    font-size: 12px;
  }
}

ul.dropdown-menu {
  height: 200px;
  overflow-y: scroll;

  li.disabled {
    padding-top: 0;
  }

  .menutitle {
    font-weight: bold;
    color: $light-blue;
  }

  .dropdown-item {
    padding-top: 0;
    padding-bottom: 0;
  }
}

:host ::ng-deep {
  .tooltip-inner {
    max-width: none !important;
    text-align: left;
  }
}
