<app-banner title="Vos abonnements"></app-banner>

<app-page size="small">

  <div class="notification info">
    <p>
      En créant un abonnement, vous recevrez un mail quotidien ou hebdomadaire (au choix) comportant les nouveaux
      signalements
      correspondant à votre sélection de critères, qu’ils soient géographiques, thématiques ou par entreprise.
      <br/>
      <strong>Ces différents critères peuvent se combiner.</strong>
    </p>
    <p>
      Par exemple, si vous souhaitez recevoir les signalements liés à deux entreprises bancaires et ceux liés au secteur
      de l'immobilier, il faut créer deux alertes :
      une avec les deux siret et une avec la catégorie immobilier.
    </p>
  </div>

  <div class="-card-new" matRipple (click)="create()">
    <mat-icon>add</mat-icon>
    &nbsp;Ajouter
  </div>

  <app-subscription-card
    *ngFor="let subscription of subscriptions$ | async; trackBy: trackBy"
    [subscription]="subscription">
  </app-subscription-card>
</app-page>
