@import "../../../../theme/variables";
@import "../../../../theme/media-queries";

.selected {
  background-color: $light-green;
  border-radius: $theme-border-more-radius;

  label, h4 {
    color: $black;
  }
}

.not-selected {
  label, h4 {
    color: $darker-grey;
  }
}
