<div class="banner text-center section section-lighter-grey" role="region">
  <div class="container">
    <h1 class="text-center">
      Mode d'emploi&nbsp;&nbsp;<small class="text-muted">Précisions sur le back-office</small>
    </h1>
  </div>
</div>

<main role="main">

  <section class="section section-lightest-grey">
    <div class="container max-width">
      <h2 class="mt-2">1. Base de données</h2>
    </div>

    <div class="container steps">
      <div class="step">

        <p class="mt-4">Les signalements sont affichés par date de création, du plus récent au plus vieux.<br />
          En passant la souris sur un signalement, on peut lire le contenu plus en détails. De même, en cliquant sur une
          ligne, on ouvre la page relatif au signalement.</p>

        <p><strong>À quoi correspond le « Statut Pro » ?</strong></p>

        <p>Il correspond au suivi du signalement par rapport au professionnel concerné.</p>

        <ul>
          <li><mark>Traitement en cours</mark> Il s'agit d'un statut intermédiaire pendant lequel le signalement suit son cours. </li>
          <li><mark>N.A (non-applicable) </mark> : ne fait pas partie du périmètre géographique de l’expérimentation ou le signalement n’est pas fondé réglementairement. Si la région n'a pas fait partie tout de suite de l'expérimentation, les anciens signalements n'ont pas été traités et sont classés en N.A. </li>
          <li><mark>Promesse d'action</mark> : le professionnel souhaite mettre en place une action préventive ou corrective. </li>
          <li><mark>Signalement infondé</mark> : le professionnel a déclaré le signalement comme infondé selon lui.</li>
          <li><mark>Signalement mal attribué</mark> : l'adresse postale de la base SIRENE est fausse ou le consommateur n'a pas indiqué le bon établissement.</li>
          <li><mark>Signalement non consulté</mark> : le professionnel n'a pas créé de compte pour lire le signalement.</li>
          <li><mark>Signalement consulté ignoré</mark> : le professionnel a lu le signalement mais il n'a pas répondu malgré les relances.</li>
        </ul>


        <p><strong>Actions DGCCRF</strong></p>

        <p class="mt-4">Sur le bord droit du tableau, la croix bleue permet d'enregistrer des actions DGCCRF.</p>

        <ul>
          <li><mark>Ajout d'un commentaire interne à la DGCCRF</mark> : ce commentaire n'est visible que par la DGCCRF actuellement. </li>
          <li><mark>Contrôle effectué</mark> : en l'absence de rattachement avec SORA, le suivi des contrôles peut être enregistré directement sur le site.</li>
        </ul>

      </div>
    </div>

    <div class="container max-width">
      <h2 class="mt-5">2. Filtres</h2>
    </div>

    <div class="container steps">
      <div class="step">
        <p class="mt-4">Pour le moment, il y a 6 possibilités de filtrage :</p>

        <ul>
          <li>Le Département ou la Région</li>
          <li>La Catégorie ( = correspond à une icône sur la page d’accueil de SignalConso)</li>
          <li>La Période</li>
          <li>En utilisant un SIRET</li>
          <li>Par « Statut Pro »</li>
          <li>En recherchant par mot-clé</li>
        </ul>

        <p>
          La recherche par mot-clé permet de rechercher une sous-catégorie par exemple.<br />
          La recherche par mot-clé va rechercher dans l’ensemble du champ «&nbsp;description&nbsp;» et dans le champ
          «&nbsp;problème&nbsp;» (excepté le nom de la catégorie).<br />
        </p>

        <p class="notification warning">
          La recherche est insensible à la casse (majuscule/minuscule) par contre elle distingue les accents (pour le
          moment).
        </p>

      </div>
    </div>

    <div class="container max-width">
      <h2 class="mt-5">3. Export Excel</h2>
    </div>

    <div class="container steps">
      <div class="step">

        <p class="mt-4">L’export génère un fichier Excel qui reprend les signalements suivant les filtres appliqués le
          cas échéant. Le fichier Excel comporte les informations suivantes :</p>

        <ul>
          <li>Date de création</li>
          <li>Département</li>
          <li>Code postal</li>
          <li>Siret</li>
          <li>Nom de l'établissement</li>
          <li>Adresse de l'établissement</li>
          <li>Catégorie</li>
          <li>Sous-catégories</li>
          <li>Détails</li>
          <li>Pièces jointes</li>
          <li>Statut pro</li>
          <li>Détail promesse d'action</li>
          <li>Prénom (du consommateur)</li>
          <li>Nom (du consommateur)</li>
          <li>Email (du consommateur)</li>
          <li>Accord pour contact ( oui = le consommateur a souhaité laissé visible ses coordonnées auprès du
            professionnel, non = le consommateur a souhaité rester anonyme vis-à-vis du professionnel )</li>
        </ul>

      </div>
    </div>
  </section>
</main>
