<app-banner title="Suivi des téléphones"></app-banner>

<app-page animated="false">
  <app-panel [loading]="reportedPhoneService.fetching">
    <app-panel-header>
      <input [(ngModel)]="phoneFilter" class="form-control form-control-material phone-form-control" placeholder="Numéro de téléphone" (keydown.enter)="fetchReportedPhones()"/>
      <input
        class="form-control form-control-material"
        [(bsValue)]="periodFilter"
        bsDaterangepicker
        autocomplete="off"
        placeholder="Période sélectionnée"
        [bsConfig]="{ containerClass: 'theme-default', rangeInputFormat: 'DD MMMM YYYY' }"
        triggers="click keypress"
        (bsValueChange)="fetchReportedPhones()"
      />
      <button mat-icon-button (click)="extract()" matTooltip="Exporter en XLS">
        <mat-icon>get_app</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Supprimer tous les filtres" (click)="clearFilters()">
        <mat-icon>clear</mat-icon>
      </button>
    </app-panel-header>
    <table mat-table [dataSource]="dataSource" matSort class="fullwidth" matSortActive="count" matSortDirection="desc">

      <ng-container matColumnDef="count">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Nombre de signalements</th>
        <td class="td-count td-number" mat-cell *matCellDef="let _">
          {{_.count}}
          &nbsp;
          <a [routerLink]="['/suivi-des-signalements', (authenticationService.user | async).roleUrlParam]"
             [queryParams]="{phone: _.phone, siret: _.siret, start: periodFilter && periodFilter[0], end: periodFilter && periodFilter[1]}" app-btn color="primary" style="text-decoration: none">
            Voir
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Numéro de téléphone</th>
        <td mat-cell *matCellDef="let _">
          {{_.phone}}
        </td>
      </ng-container>

      <ng-container matColumnDef="siret">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>SIRET</th>
        <td mat-cell *matCellDef="let _">
          {{_.siret}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize="25"></mat-paginator>
  </app-panel>

  <div class="notification error" *ngIf="reportedPhoneService.fetchError">
    Une erreur technique s'est produite
  </div>
</app-page>
