@import "../../../../theme/variables";
@import "../../../../theme/media-queries";


section {

  .withSiblingSubcategories {

    label, h2 {
      color: $darker-grey;
    }

  }

  .subcategorySelected {
    background-color: $light-green;
    border-radius: $theme-border-more-radius;

    label, h2 {
      color: $black;
    }

  }

  hr {
    margin-bottom: 60px;
  }

}
