@import "../../../../theme/variables";

section {

  word-break: break-all;

  h4, h5 {
    font-weight: bold;
  }

  .notification {
    word-break: normal;
  }

  ul.filename {

    padding-left: 1em;
  }
}
