@import "../../../../theme/variables";
@import "../../../../theme/media-queries";

section {

  @media #{$smaller-than-tablet} {
    margin-top: 108px;
  }

  h2 {
    font-weight: bold;
  }

  .notification {
    word-break: normal;
  }

  ul.filename {
    padding-left: 1em;
  }
}
