.badge {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
  height: 28px;
  line-height: 21px;
}

form {
  max-width: none !important;
}
.table {
  tr {
    height: 43px;

    td, th {
      vertical-align: middle;
    }
  }
}
