<app-banner title="Détail de l'abonnement"></app-banner>

<app-page>
  <app-subscription-list-item label="Départements">
    <app-select-departments placeholder="Départements" class="form-control">
    </app-select-departments>

    <mat-select multiple class="form-control">
      <mat-option></mat-option>
      <mat-option *ngFor="let _ of countries$ | async" [value]="_">{{_}}</mat-option>
    </mat-select>
  </app-subscription-list-item>
  <app-subscription-list-item label="Catégories">
    <mat-select multiple class="form-control">
      <mat-option>Toutes les catégories</mat-option>
      <mat-option *ngFor="let _ of categories" [value]="_">{{_}}</mat-option>
    </mat-select>
  </app-subscription-list-item>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="primary">Fermer</button>
    <button
      [disabled]="siretForm.invalid || subscriptionService.creating || subscriptionService.updating(subscription?.id)"
      mat-raised-button color="primary"
      (click)="submitSubscription()">
      Rechercher
    </button>
  </mat-dialog-actions>
</app-page>
