@import '../../../../../theme/variables';

.select-optgroup {
  font-weight: 500;
  cursor: pointer !important;

  &:hover {
    background: $theme-background-hover;
  }

  &:not(:first-of-type) {
    border-top: 1px solid $theme-divider;
  }
}

.-expend_more {
  margin-left: auto;
  width: 80px;
  text-align: right;
  color: $theme-color-text-secondary;
}
