<div class="overflow-container">
    <div class="banner text-center section section-primary" role="region">
      <div class="container">
        <h1 class="text-center">
          Liste des accès
        </h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Niveau d'accès</th>
                    <th scope="col">Suppression</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let access of companyAccesses">
                    <td>{{access.firstName}}</td>
                    <td>{{access.lastName}}</td>
                    <td>{{access.email}}</td>
                    <td>
                        <select class="form-control" [value]="access.level" *ngIf="access.email != user.email; else currentUserLevel" (change)="updateAccess(access.userId, $event.target.value)">
                            <option *ngFor="let level of accessLevels | keyvalue" [value]="level.key">{{level.value}}</option>
                        </select>
                        <ng-template #currentUserLevel>
                            {{accessLevels.get(access.level)}}
                        </ng-template>
                    </td>
                    <td>
                        <a href="#" *ngIf="access.email != user.email; else currentUserDelete" class="text-danger" (click)="removeAccess(access.userId)">Supprimer l'accès</a>
                        <ng-template #currentUserDelete>
                            <small class="text-muted text-wrap">
                                Vous ne pouvez pas supprimer votre propre accès.
                            </small>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col text-center mb-1">
            <a routerLink="./invitation" class="btn btn-secondary">Ajouter un utilisateur</a>
        </div>
    </div>
</div>
 