@import "../../../../theme/variables";

.table-responsive {
    width: 98% !important;
    min-width: 400px;
    margin-left: 1%;
    overflow-x: initial;
  }

.table {

  border: none;

  th {
    background-color: $light-grey;
    border-bottom-width: 2px !important;
    vertical-align: middle;
  }

  tr.pointer:hover {
    background-color: $lighter-blue !important;

    td {
      background-color: transparent;
    }
  }

  th, td {
    border: 1px solid #dee2e6;
    height: 60px;
    max-width: 500px;
    padding: 0.25em;
    text-align: center;
    vertical-align: middle;

    &.action {
      background-color: $white !important;
      border: none;
      vertical-align: middle;
    }

    &.status-a-traiter {
      background-color: $light-yellow;
    }

    &.status-na {
      background-color: $white;
    }

    &.status-traitement-en-cours {
      background-color: $light-yellow;
    }

    &.status-a-rappeler {
      background-color: $light-yellow;
    }

    &.status-a-envoyer-email {
      background-color: $light-yellow;
    }

    &.status-a-envoyer-courrier {
      background-color: $light-yellow;
    }

    &.status-attente-reponse {
      background-color: $light-orange;
    }

    &.status-a-transferer-signalement {
      background-color: $light-yellow;
    }

    &.status-signalement-transmis {
      background-color: $light-yellow;
    }

    &.status-signalement-refuse {
      background-color: $light-grey;
    }

    &.status-promesse-action {
      background-color: $lighter-blue;
    }

    &.status-signalement-infonde {
      background-color: $light-grey
    }

    &.status-signalement-mal-attribue {
      background-color: $light-grey
    }

    &.status-signalement-non-consulte {
      background-color: $light-grey
    }

    &.status-signalement-consulte-ignore {
      background-color: $light-grey
    }

    &.status-en-attente {
      background-color: $light-orange;
    }

    &.status-a-recontacter {
      background-color: $light-red;
    }

    &.status-a-informer-transmission {
      background-color: $light-red;
    }

    &.status-a-informer-reponse-pro {
      background-color: $light-red;
    }

    &.status-fait {
      background-color: $light-green;
    }

    &.status-adresse-postale-incorrecte {
      background-color: $light-yellow;
    }
  }

  td.report-group {
    background-color: $lighter-grey;
    font-weight: bold;
  }

  td .pre {
    white-space: pre;
  }

  td.report-group {
    padding: 0;
    height: 35px;
  }

  th.status-header, th.email {
    min-width: 120px;
  }

  th.pj {
    min-width: 175px;
  }

  th.description {
    min-width: 315px;
  }

  .agreement {
    font-size: 12px;
  }
}
