<app-banner title="Suivi d'audience et vie privée"></app-banner>

<app-page pageDefinitionKey="trackingAndPrivacy" size="small">
  <app-panel>
    <app-panel-body>
      <h2>Cookies déposés et opt-out</h2>
      <p>
        Ce site dépose un petit fichier texte (un « cookie ») sur votre ordinateur lorsque vous le consultez.
        Cela nous permet de mesurer le nombre de visites et de comprendre quelles sont les pages les plus consultées.
      </p>
      <iframe class="optout"
              src="https://stats.data.gouv.fr/index.php?module=CoreAdminHome&action=optOut&language=fr&backgroundColor=&fontColor=#212529&fontSize=16px&fontFamily=Source%20Sans%20Pro"></iframe>
    </app-panel-body>
  </app-panel>

  <app-panel>
    <app-panel-body>
      <h2>Ce site n’affiche pas de bannière de consentement aux cookies, pourquoi ?</h2>
      <p>
        C’est vrai, vous n’avez pas eu à cliquer sur un bloc qui recouvre la moitié de la page pour dire que vous êtes
        d’accord avec le dépôt de cookies — même si vous ne savez pas ce que ça veut dire !
      </p>
      <p>
        Rien d’exceptionnel, pas de passe-droit lié à un .gouv.fr. Nous respectons simplement la loi, qui dit que
        certains outils de suivi d’audience, correctement configurés pour respecter la vie privée, sont exemptés
        d’autorisation préalable.
      </p>
      <p>
        Nous utilisons pour cela <a href="https://matomo.org/" target="_blank" tile="Nouvelle fenêtre">Matomo</a>,
        un outil <a href="https://matomo.org/free-software/" target="_blank" tile="Nouvelle fenêtre">libre</a>,
        paramétré pour être en conformité avec la <a href="https://www.cnil.fr/fr/solutions-pour-la-mesure-daudience"
                                                     target="_blank" tile="Nouvelle fenêtre">recommandation «&nbsp;Cookies&nbsp;»</a>
        de la CNIL.
        Cela signifie que votre adresse IP, par exemple, est anonymisée avant d’être enregistrée. Il est donc impossible
        d’associer vos visites sur ce site à votre personne.
      </p>
    </app-panel-body>
  </app-panel>
</app-page>
