@import "../../../../theme/variables";
@import "../../../../theme/media-queries";

section {

  @media #{$smaller-than-tablet} {
    margin-top: 108px;
  }

  @media #{$smaller-than-phablet} {
    margin-bottom: calc(100vh - 425px);
  }

  .edit {
    color: $blue;
  }

  hr {
    margin-bottom: 60px;
  }

  .selected {
    background-color: $light-green;
    border-radius: $theme-border-more-radius;

    label, h2 {
      color: $black;
    }

  }

  .unselected {
    label, h2 {
      color: $darker-grey;
    }
  }
}
