@import "../../../../theme/variables";
@import "../../../../theme/media-queries";

.company {
  border: 1px solid #c9d3df;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
  transition: all .2s ease-in-out;

  @media #{$larger-than-tablet} {
    &:hover {
      transform: scale(1.1);
      border-color: $primary;
    }
    &:focus {
      transform: scale(1.1);
      border-color: $primary;
    }
  }
}


:host ::ng-deep {

  .completer-holder {
    width: 100%;
    height: 100%;
  }

  .completer-dropdown-holder div {
    width: 100%;
  }
}

.nav-tabs {
  border-bottom: 1px solid $blue;
}

.nav-link {
  border: 0;
  color: $blue !important;

  &.active {
    color: $white !important;
    background-color: $blue;
  }
}

.edit {
  color: $blue;
}
