@import "src/theme/variables";

:host {
  display: block;
  margin-bottom: spacing(3);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: $theme-border-radius;
  background-color: $theme-background-white;
}

.-header {
  display: flex;
  align-items: center;
  padding: spacing(1) spacing(2) spacing(1) spacing(3);
}

.-title {
  font-size: 1.4rem;
  flex: 1;
  margin: 0;
}

.-select {
  margin: 0 spacing(1);
  width: 240px;
  display: flex;
  justify-content: space-between;
}

.-select_input {
  font-weight: bold;
  text-align: right;
}
