@import "../../../../theme/variables";

hr {
  margin-top: 20px;
}

.btn {
  padding: 8px 14px;;
  font-size: inherit;
  line-height: 1.5;
}

.container {
  border: 1px solid rgba(28, 28, 28, 0.125);
  border-radius: 0.25rem;
  max-width: min(750px, 95%);
}

.nav-tabs {
  border-bottom: 1px solid $blue;
}

.nav-link {
  border: 0;
  color: $blue !important;
  font-size: 1.25rem;

  &.active {
    color: $white !important;
    background-color: $blue;
  }
}

h2 {
  position: relative;
  display: inline-block;
  color: $secondary;

  margin-bottom: 1.25em;

  &:before {
    content: '';
    width: 80px;
    height: 7px;
    position: absolute;
    bottom: -14px;
    background: $secondary;
  }
}
