@import "../../../../../theme/variables";

table {
  margin: 1em auto 2em auto;
  border: #ff9947 2px solid;

  thead {
    background-color: $theme-warning-bg;
    font-weight: bold;
  }

  th, td {
    border: 1px solid #ff9947;
  }
}
