<app-banner title="Modification du mot de passe"></app-banner>

<app-page pageDefinitionKey="secured_account_changePassword" size="small">
  <app-panel>
    <app-panel-body>
      <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()" class="form-horizontal">
        <div class="form-group row">
          <label for="oldPassword" class="col-sm-6 control-label">
            Mot de passe actuel (obligatoire)
          </label>
          <div class="col-sm-6">
            <input [formControl]="oldPasswordCtrl" type="password" class="form-control" id="oldPassword" placeholder="Ancien mot de passe" (focus)="resetMessages()">
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-6 control-label">
            Nouveau mot de passe (obligatoire)
          </label>
          <div class="col-sm-6">
            <input [formControl]="passwordCtrl" type="password" class="form-control" id="password" placeholder="Nouveau mot de passe" (focus)="resetMessages()">
            <small class="form-text text-muted">Le mot de passe doit avoir 8 caractères minimum.</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="confirmPassword" class="col-sm-6 control-label">
            Confirmer le nouveau mot de passe (obligatoire)
          </label>
          <div class="col-sm-6">
            <input [formControl]="confirmPasswordCtrl" type="password" class="form-control" id="confirmPassword" placeholder="Nouveau mot de passe" (focus)="resetMessages()">
          </div>
        </div>

        <app-alert type="error" class="mt-3" *ngIf="showErrors && changePasswordForm.invalid">
          <span *ngIf="oldPasswordCtrl.hasError('required')">
            Erreur sur le mot de passe en cours.<br />
          </span>
          <span *ngIf="passwordCtrl.hasError('required')">
            Erreur sur le nouveau mot de passe.<br />
          </span>
          <span *ngIf="passwordCtrl.hasError('minlength')">
            Le nouveau mot de passe doit avoir 8 caractères minimum.<br />
          </span>
          <span *ngIf="confirmPasswordCtrl.hasError('required')">
            Erreur sur le nouveau mot de passe.<br />
          </span>
          <span *ngIf="changePasswordForm.hasError('notEquivalent')">
            Les 2 mots de passe ne correspondent pas.<br />
          </span>
        </app-alert>
        <app-alert type="error" class="mt-3" *ngIf="authenticationError">
          {{authenticationError}}.
        </app-alert>
        <app-alert type="success" class="mt-3" *ngIf="showSuccess">
          Mise à jour effectuée.
        </app-alert>
        <hr />
        <div class="form-group text-center">
          <button type="submit" class="btn btn-lg btn-primary">
            Valider
          </button>
        </div>
      </form>
    </app-panel-body>
  </app-panel>
</app-page>
