@import "src/theme/variables";

:host {
  display: flex;
  padding: spacing(1);

  &:not(:last-of-type) {
    border-bottom: 1px solid $theme-divider;
  }
}

.host {
  width: 300px;
  max-width: 300px;
  font-weight: bold;
  font-size: 1.125rem;
}
.manage-websites_title {
  font-size: 0.875rem;
  color: $theme-color-text-disabled;
  font-weight: bold;
}

.manage-websites_siret {
  font-weight: normal;
  color: $theme-color-text-secondary;
}

.delete-btn {
  color: $theme-color-text-secondary;
  margin: 0 -10px 0 spacing(1);
  $size: 20px;
  font-size: $size !important;
  height: $size;
  width: $size;
}
