@import "src/theme/variables";

.card-container {
  //display: flex;
  //flex-wrap: wrap;
}

.siret {
  font-weight: normal;
  color: $theme-color-text-secondary;
}

.select-status {
  margin-left: auto;
  max-width: 200px;
}
