<main role="main">
  <section class="section section-lightest-grey pb-2 pt-3">
    <div class="container">
      <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()" class="form-horizontal">
        <div class="form-group row">
          <label for="oldPassword" class="col-sm-3 control-label">
            Ancien mot de passe  <span>*</span>
          </label>
          <div class="col-sm-9">
            <input [formControl]="oldPasswordCtrl" type="password" class="form-control" id="oldPassword" placeholder="Ancien mot de passe">
          </div>
        </div>
        <div class="form-group row">
          <label for="newPassword" class="col-sm-3 control-label">
            Nouveau mot de passe  <span>*</span>
          </label>
          <div class="col-sm-9">
            <input [formControl]="newPasswordCtrl" type="password" class="form-control" id="newPassword" placeholder="Nouveau mot de passe">
          </div>
        </div>

        <div class="notification error mt-3" *ngIf="showErrors && loginForm.invalid">
          <span *ngIf="oldPasswordCtrl.hasError('required')">
            Erreur sur l'ancien mot de passe.<br />
          </span>
          <span *ngIf="newPasswordCtrl.hasError('required')">
            Erreur sur le nouveau mot de passe.<br />
          </span>
        </div>
        <div class="notification error mt-3" *ngIf="authenticationError ">
          {{authenticationError}}
        </div>
        <hr />
        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-lg btn-primary">
              Valider
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
