@import "../../../../theme/variables";

.card {

  margin-bottom: 1em;

  h2 {
    border-bottom: 1px solid $lighter-grey;
    text-align: center;
    margin-bottom: 0;
  }

  .btn {
    padding: 8px 14px;;
    font-size: inherit;
    line-height: 1;
    margin-top: 8px;
  }
}

