<main role="main">
  <section class="section section-lighter-grey">
    <div class="container max-width">
      <h1 class="text-center pb-2 pb-sm-4">Votre signalement a bien été envoyé&#160;!</h1>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <img src="/assets/images/picture-pro.svg" alt="Illustration" />
            </div>
            <div class="col-9 d-sm-none">
              <h2>Que va-t-il se passer pour l'entreprise ?</h2>
            </div>
            <div class="col-12 col-sm-9">
              <h2 class="d-none d-sm-block">Que va-t-il se passer pour l'entreprise ?</h2>
              <p>
                L'entreprise recevra votre signalement sans connaître votre identité.
                Elle aura la possibilité de corriger directement le problème, grâce à vos informations.
                Votre signalement est aussi transmis à la répression des fraudes (<abbr title="Direction Général de la Concurrence, Consommation et Répression des Fraudes">DGCCRF</abbr>) qui pourra intervenir si nécessaire.
              </p>
              <p>
                En cas d’erreur sur votre signalement, envoyez un email à <a href="mailto:contact@signalconso.beta.gouv.fr?subject=incident" target="_blank" title="contact@signalconso.beta.gouv.fr (ouverture de la messagerie par défaut)">contact@signalconso.beta.gouv.fr</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <img src="/assets/images/picture-problem.svg" alt="Illustration" />
            </div>
            <div class="col-9 d-sm-none">
              <h2>Et maintenant comment faire aboutir ma demande ?</h2>
            </div>
            <div class="col-12 col-sm-9">
              <h2 class="d-none d-sm-block">Et maintenant comment faire aboutir ma demande ?</h2>
              <div class="collapse-container">
                <a class="btn-group collapsed" role="group" data-toggle="collapse" href="#collapse1">
                  <button type="button" class="btn">1</button>
                  <button type="button" class="btn link">
                    J’écris au professionnel pour résoudre le problème à l’amiable
                  </button>
                  <button type="button" class="btn">
                    <i class="material-icons md-24 down">keyboard_arrow_down</i>
                    <i class="material-icons md-24 up">keyboard_arrow_up</i>
                  </button>
                </a>
                <div class="collapse" id="collapse1">
                  <table class="table table-bordered no-hover" cellpadding="2">
                    <tr>
                      <td>Quand&#160;?</td>
                      <td>Le plus tôt possible</td>
                    </tr>
                    <tr>
                      <td>A qui&#160;?</td>
                      <td>Auprès du service des  réclamations de la société</td>
                    </tr>
                    <tr>
                      <td>Comment&#160;?</td>
                      <td><ul>
                        <li>Par lettre recommandée avec AR</li>
                        <li>Je mets toutes les documents justificatifs</li>
                        <li>Je peux utiliser modèle-type  lettre-type pour mon litige</li>
                        <li>Je garde une copie du courrier</li>
                      </ul></td>
                    </tr>
                    <tr>
                      <td>Pourquoi&#160;?</td>
                      <td>Ce courrier est la preuve de votre démarche. Il est obligatoire pour résoudre votre problème ou aller au tribunal.</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="collapse-container">
                <div class="btn-group collapsed" role="group" data-toggle="collapse" href="#collapse2">
                  <button type="button" class="btn">2</button>
                  <button type="button" class="btn">
                    Je contacte un médiateur de la consommation compétent, c’est-à-dire une personne tierce à mon litige chargée de régler mon problème.
                  </button>
                  <button type="button" class="btn">
                    <i class="material-icons md-24 down">keyboard_arrow_down</i>
                    <i class="material-icons md-24 up">keyboard_arrow_up</i>
                  </button>
                </div>
                <div class="collapse" id="collapse2">
                  <table class="table table-bordered no-hover" cellpadding="2">
                    <tr>
                      <td>Quand&#160;?</td>
                      <td>Si 2 mois après avoir envoyé mon courrier je n’ai pas de réponse du professionnel</td>
                    </tr>
                    <tr>
                      <td>A qui&#160;?</td>
                      <td>
                        Auprès du médiateur compétent pour mon litige
                      </td>
                    </tr>
                    <tr>
                      <td>Comment&#160;?</td>
                      <td>
                        Le professionnel a l’obligation de communiquer les coordonnées du médiateur dont il relève (sur son site internet, sur le contrat, ou par tout moyen approprié...).
                        <br />
                        Je peux aussi rechercher dans la liste des médiateurs <a href="https://www.economie.gouv.fr/mediation-conso/liste-des-mediateurs-references" target="_blank">https://www.economie.gouv.fr/mediation-conso/liste-des-mediateurs-references</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Pourquoi&#160;?</td>
                      <td>Pour m’aider à trouver un arrangement avec le professionnel</td>
                    </tr>
                    <tr>
                      <td>Combien ça coûte&#160;?</td>
                      <td>C’est gratuit !</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="collapse-container">
                <div class="btn-group collapsed" role="group" data-toggle="collapse" href="#collapse3">
                  <button type="button" class="btn">3</button>
                  <button type="button" class="btn">
                    Je contacte un conciliateur c’est-à-dire une personne qui m’aide à trouver une solution avec le professionnel.
                  </button>
                  <button type="button" class="btn">
                    <i class="material-icons md-24 down">keyboard_arrow_down</i>
                    <i class="material-icons md-24 up">keyboard_arrow_up</i>
                  </button>
                </div>
                <div class="collapse" id="collapse3">
                  <table class="table table-bordered no-hover" cellpadding="2">
                    <tr>
                      <td>Quand&#160;?</td>
                      <td>Comme pour la médiation, si 2 mois après avoir envoyé mon courrier au professionnel je n’ai pas eu de réponse ou si je n’ai pas trouvé le médiateur compétent pour mon litige.</td>
                    </tr>
                    <tr>
                      <td>Comment&#160;?</td>
                      <td>En contactant le conciliateur le plus proche de chez moi <a href="https://www.conciliateurs.fr/Trouver-une-permanence" target="_blank">
                        https://www.conciliateurs.fr/Trouver-une-permanence
                      </a></td>
                    </tr>
                    <tr>
                      <td>Pourquoi&#160;?</td>
                      <td>Pour instaurer le dialogue avec le professionnel et trouver un arrangement qui convient aux deux.</td>
                    </tr>
                    <tr>
                      <td>Combien ça coûte&#160;?</td>
                      <td>C’est gratuit !</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="collapse-container">
                <div class="btn-group collapsed" role="group" data-toggle="collapse" href="#collapse4">
                  <button type="button" class="btn">4</button>
                  <button type="button" class="btn">
                    Je vais au tribunal d’instance
                  </button>
                  <button type="button" class="btn">
                    <i class="material-icons md-24 down">keyboard_arrow_down</i>
                    <i class="material-icons md-24 up">keyboard_arrow_up</i>
                  </button>
                </div>
                <div class="collapse" id="collapse4">
                  <table class="table table-bordered no-hover" cellpadding="2">
                    <tr>
                      <td>Quand&#160;?</td>
                      <td>Lorsque la médiation ou la conciliation ont échoué</td>
                    </tr>
                    <tr>
                      <td>Comment&#160;?</td>
                      <td>En faisant une déclaration auprès du greffe du Tribunal d’Instance à l’aide du
                        <a href="https://www.formulaires.modernisation.gouv.fr/gf/cerfa_11764.do" target="_blank">
                          CERFA n°11764*09
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Pourquoi&#160;?</td>
                      <td>Pour que le juge tranche définitivement mon litige</td>
                    </tr>
                    <tr>
                      <td>Combien ça coûte&#160;?</td>
                      <td>La saisine est gratuite mais des frais au cours de la procédure peuvent intervenir (avocat, expertise…).</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <img src="/assets/images/picture-help.svg" alt="Illustration" />
            </div>
            <div class="col-9 d-sm-none">
              <h2>Pour réaliser ces étapes, vous pouvez contacter une association de consommateurs.</h2>
            </div>
            <div class="col-12 col-sm-9">
              <h2 class="d-none d-sm-block">Pour réaliser ces étapes, vous pouvez contacter une association de consommateurs.</h2>
              <p>
                Une association de consommateur pourra vous aider à écrire les courriers de réclamation ou de mise en demeure,
                contacter l'entreprise directement, vous aider à saisir la justice.
              </p>
              <p>
                Pour bénéficier de leur aide, vous devez payer une somme, appelée "adhésion".
                Pour connaître le prix de cette adhésion, vous pouvez les contacter directement.
                En fonction de votre situation, certaines associations peuvent baisser le prix de l'adhésion.
              </p>
              <p>
                Liste des associations de consommateurs officielles :
                <a href="https://www.economie.gouv.fr/dgccrf/Liste-et-coordonnees-des-associations-nationales" target="_blank">
                  https://www.economie.gouv.fr/dgccrf/Liste-et-coordonnees-des-associations-nationales
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

