@import "../../../../theme/variables";

.card {

  img {
    width: 100%;
  }

  margin-bottom: 2em;

  h2 {
    padding-top: 0.5rem;
  }

  .collapse-container {

    margin-top: 1em;
    border: $light-grey 1px solid;
    border-radius: 4px;

    .btn-group {

      border-bottom: $light-grey 1px solid;
      border-radius: 4px;
      width: 100%;

      .btn {
        box-shadow: none;
        padding: 1em;
        font-size: 16px;

        &:first-child {
          background: $primary;
          color: $white;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          font-size: 22px;
          font-weight: bold;
        }

        &:nth-child(2) {
          width: 100%;
          text-align: left;
        }

        &:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;

          .up {
            display: block;
          }
          .down {
            display: none;
          }
        }

      }

    }

    .btn-group.collapsed {

      .btn {
        &:first-child {
          background-color: $lighter-grey;
          color: $black;
        }

        &:last-child {
          .up {
            display: none;
          }

          .down {
            display: block;
          }
        }
      }

    }

    .collapse > .table {
      margin: 5%;
      width: 90%;
    }
  }

}

