@import "../../../../theme/variables";

.table {

  th {
    text-align: center;
  }

  th, td {
    border-left: 1px solid #dee2e6;
  }
}

ul.dropdown-menu {
  height: 200px;
  overflow-y: scroll;

  li.disabled {
    padding-top: 0;
  }

  .menutitle {
    font-weight: bold;
    color: $light-blue;
  }

  .dropdown-item {
    padding-top: 0;
    padding-bottom: 0;
  }
}
