<div class="banner text-center section section-lighter-grey" role="region">
  <div class="container">
    <h1 class="text-center">
      Vous êtes un professionnel&#160;?
    </h1>
  </div>
</div>

<main role="main">
  <section class="section section-lightest-grey pb-2 pt-3">
    <div class="container max-width">
        <div class="row align-items-center">
            <div class="col-12 col-sm-6 pl-sm-6 pr-sm-6 text-center">
              <p class="lead">Découvrez SignalConso, le nouveau service public pour les Consommateurs et les Professionnels</p>
            </div>
            <div class="col-12 col-sm-6 pl-sm-6 pr-sm-6 text-center">
              <div class="mr-2">
                <img width="250px" src="/assets/images/image-pro.png" alt="Illustration relation SignalConso et marchand" />
              </div>
            </div>
          </div>
    </div>
  </section>
  <section class="section section-lightest-grey mb-5 pt-2">
    <div class="container max-width">

      <p class="lead blue">Vous avez reçu un courrier de SignalConso car votre établissement a été signalé par un consommateur ?</p>
      <p>
        Pour connaitre ce signalement, rendez-vous sur <a routerLink="/connexion">https://signalconso.beta.gouv.fr</a>
        avec votre code d’activation de 6 chiffres inscrit dans votre courrier SignalConso et cliquez sur le bouton
        <button type="button" class="btn-sm btn-outline-secondary" [routerLink]="['/activation']">
          <i class="material-icons" aria-hidden="true">lock</i> Espace professionnel
        </button> en haut à droite de votre écran.
      </p>
      Lors de votre 1ère connexion, vous devez vous identifier avec :
      <ul>
        <li>le numéro SIRET de votre établissement (14 chiffres)</li>
        <li>votre code d’activation : le numéro présent dans le courrier SignalConso (6 chiffres)</li>
      </ul>
      <p>
        Renseignez ensuite votre nom, prénom, adresse email et choisissez votre mot de passe pour activer votre espace professionnel.
      <p>

      <hr/>

      <p class="lead blue">Votre « Espace Professionnel » est maintenant activé !</p>
      <p>
        Vous pouvez y accéder avec votre mot de passe en cliquant sur le bouton
        <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/connexion']">
          Connectez-vous <i class="material-icons md-18" aria-hidden="true" title="Se connecter">keyboard_arrow_right</i>
        </button>
      </p>
      Vous pouvez consulter les signalements concernant votre établissement et le cas échéant :
      <ul>
        <li>Prendre des mesures correctives ou préventives suite au signalement</li>
        <li>Contacter le consommateur si ce dernier a souhaité vous laisser ses coordonnées</li>
      </ul>

      <hr>

      <p class="lead blue">Vous avez oublié votre mot de passe ?</p>
      <p>
        Vous pouvez <a routerLink="/connexion/perte-mot-de-passe">demander un nouveau mot de passe</a> ou, en cas de difficultés, contacter par email le service <a href="mailto:contact@signalconso.beta.gouv.fr" target="_blank" title="contact@signalconso.beta.gouv.fr (ouverture de la messagerie par défaut)">SignalConso</a>
      </p>

      <hr>

       <p class="lead blue">Mon établissement apparait déjà sur SignalConso, a-t-il déjà été signalé ?</p>
      <p>
        Afin de faciliter le dépôt du signalement par le consommateur, la base de données de l’ensemble des entreprises françaises a été intégrée à notre outil. <br/>
        C’est pourquoi, votre établissement apparait sur notre plateforme mais en aucun cas cela signifie qu’il a fait l’objet d’un signalement.
      </p>

      <hr>

       <p class="lead blue">Est-ce que mon établissement va être contrôlé suite à un signalement ?</p>
      <p>
        En fonction de la gravité et de la fréquence des signalements, les enquêteurs de la DGCCRF pourront déclencher un contrôle. <br/>
        Le signalement est enregistré dans la base de données de la DGCCRF.
      </p>

      <hr>

       <p class="lead blue">Puis-je communiquer directement avec le consommateur à l’origine du signalement ?</p>
      <p>
        SignalConso laisse le choix au consommateur de transmettre, ou non, ses coordonnées au professionnel signalé. <br/>
        Le cas échéant, nous vous les communiquerons à votre demande. Dans tous les cas, nous communiquons avec le consommateur quant au suivi de son signalement.
      </p>

      <hr>

       <p class="lead blue">Dois-je apporter les détails des actions correctives mises en œuvre pour rectifier le problème ?</p>
      <p>
        Les retours des professionnels sont importants afin d’améliorer le service ; ils sont également précieux pour les consommateurs et la DGCCRF. <br/>
        Nous aimerions donc connaitre les mesures correctives ou préventives que vous avez adoptées, par l'envoi d'un email à <a href="mailto:contact@signalconso.beta.gouv.fr?subject=incident" target="_blank" title="contact@signalconso.beta.gouv.fr (ouverture de la messagerie par défaut)">contact@signalconso.beta.gouv.fr</a>.
      </p>

    </div>
  </section>
</main>
