<div class="banner text-center section section-lighter-grey" role="banner">
  <div class="container">
    <h1 class="text-center">
      Comment ça marche&#160;?
    </h1>
  </div>
</div>

<main role="main">
  <section class="section section-lightest-grey text-center py-0 pt-4">
    <a class="btn btn-outline-primary" role="button" routerLink="/vous-êtes-un-commerçant">Vous êtes un commerçant ?</a>
  </section>

  <section class="section section-lightest-grey">
    <div class="container steps">
      <div class="step">
        <p>
          1. Vous signalez votre problème en remplissant le formulaire en ligne.
        </p>
        <p>
          Vous n'êtes pas sûr de vous ? Le site vous guide pas-à-pas afin de savoir si vous devez ou non effectuer un signalement.
        </p>
        <p>
          Suivant les cas, le site vous conseille sur les démarches à faire en parallèle de votre signalement. Il vous donne également des informations sur vos droits.
        </p>
        <div class="text-center">
          <img src="/assets/images/icon_check.png" alt="Icône case à cocher"/>
        </div>
        <p class="notification warning">
          Pour le moment, notre site ne fonctionne que pour les magasins "physiques" et les lieux de restauration (café, restaurant, fast-food, salon de thé…).
        </p>
      </div>
      <div class="text-center">
        <img src="/assets/images/icon_arrow_down.png" alt="Icône flêche descendante"/>
      </div>
      <div class="step">
        <p>
          2. Notre équipe contacte le commerçant afin de l'informer de votre signalement (anonymisé).
          Le commerçant, s'il le souhaite, peut procéder spontanément aux corrections utiles, sans sanction.
        </p>
        <div class="text-center">
          <img src="/assets/images/icon_store1.png" alt="Icône commerce"/>
        </div>
        <p>
          Vous avez choisi de transmettre vos coordonnées au commerçant ? Celui-ci pourra vous recontacter et vous tenir au courant de la situation.
        </p>
      </div>
      <div class="text-center">
        <img src="/assets/images/icon_arrow_down.png" alt="Icône flêche descendante"/>
      </div>
      <div class="step">
        <p>
          3. Votre signalement est enregistré dans la base de données de la répression des fraudes (<abbr title="Direction Général de la Concurrence, Consommation et Répression des Fraudes">DGCCRF</abbr>).
        </p>
        <div class="text-center">
          <img src="/assets/images/icon_graph.png" alt="Icône graphique"/>
        </div>
        <p>
          Les signalements deviennent trop nombreux sur un établissement ? 
          La situation perdure malgré notre action ? Une alerte est envoyée aux enquêteurs afin qu'ils procèdent à un contrôle.
        </p>
      </div>
    </div>
  </section>
</main>
