<div class="banner text-center section section-lighter-grey" role="banner">
  <div class="container">
    <h1 class="text-center">
      Comment ça marche&#160;?
    </h1>
  </div>
</div>

<main role="main">
  <section class="section section-lightest-grey">
    <div class="container text-center steps">
      <div class="step">
        1. Vous signalez une anomalie en remplissant le formulaire en ligne.
        <div class="text-center">
          <img src="/assets/images/icon_check.png" alt="Icône case à cocher"/>
        </div>
      </div>
      <div class="text-center">
        <img src="/assets/images/icon_arrow_down.png" alt="Icône flêche descendante"/>
      </div>
      <div class="step">
        2. Si l’établissement est volontaire, le professionnel est informé des anomalies.
        Il peut alors corriger directement le problème.
        <div class="text-center">
          <img src="/assets/images/icon_store1.png" alt="Icône commerce"/>
        </div>
        <p>
          Vous avez choisi de transmettre vos coordonnées au professionnel ? Celui-ci pourra vous recontacter et vous tenir au courant de la situation.
        </p>
      </div>
      <div class="text-center">
        <img src="/assets/images/icon_arrow_down.png" alt="Icône flêche descendante"/>
      </div>
      <div class="step">
        3. Le signalement est enregistré dans la base de données de la répression des fraudes (<abbr title="Direction Général de la Concurrence, Consommation et Répression des Fraudes">DGCCRF</abbr>).
        <div class="text-center">
          <img src="/assets/images/icon_graph.png" alt="Icône graphique"/>
        </div>
        <p>
          Lorsque les signalements sont trop fréquents ou nombreux sur un établissement, une alerte est envoyée aux enquêteurs.
          Ils pourront alors déclencher un contrôle.
        </p>
      </div>
    </div>
  </section>
</main>
